# This file is used to automatically assign reviewers to PRs.
# For more information, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# The '*' pattern represents global owners.
*    @joseharriaga @trrwilson @ShivangiReja
