openapi: 3.1.0
info:
  title: OpenAI API — Administration
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Audit Logs
  description: List user actions and configuration changes within this organization.
paths:
  /organization/admin_api_keys:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: List organization API keys
      operationId: admin-api-keys-list
      description: Retrieve a paginated list of organization admin API keys.
      parameters:
      - in: query
        name: after
        required: false
        schema:
          type: string
          nullable: true
          description: Return keys with IDs that come after this ID in the pagination order.
      - in: query
        name: order
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
          description: Order results by creation time, ascending or descending.
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          default: 20
          description: Maximum number of keys to return.
      responses:
        "200":
          description: A list of organization API keys.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyList"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Create an organization admin API key
      operationId: admin-api-keys-create
      description: Create a new admin-level API key for the organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: New Admin Key
                expires_in_seconds:
                  type: integer
                  minimum: 1
                  maximum: 31536000
                  example: 2592000
                  description: The number of seconds until the API key expires. Omit this field for a key that does not expire.
      responses:
        "200":
          description: The newly created admin API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminApiKeyCreateResponse"
  /organization/admin_api_keys/{key_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieve a single organization API key
      operationId: admin-api-keys-get
      description: Get details for a specific organization API key by its ID.
      parameters:
      - in: path
        name: key_id
        required: true
        schema:
          type: string
          description: The ID of the API key.
      responses:
        "200":
          description: Details of the requested API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminApiKey"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Delete an organization admin API key
      operationId: admin-api-keys-delete
      description: Delete the specified admin API key.
      parameters:
      - in: path
        name: key_id
        required: true
        schema:
          type: string
          description: The ID of the API key to be deleted.
      responses:
        "200":
          description: Confirmation that the API key was deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: key_abc
                  object:
                    type: string
                    enum:
                    - organization.admin_api_key.deleted
                    example: organization.admin_api_key.deleted
                    x-stainless-const: true
                  deleted:
                    type: boolean
                    example: true
                required:
                - id
                - object
                - deleted
  /organization/audit_logs:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: List user actions and configuration changes within this organization.
      operationId: list-audit-logs
      tags:
      - Audit Logs
      parameters:
      - name: effective_at
        in: query
        description: Return only events whose `effective_at` (Unix seconds) is in this range.
        required: false
        schema:
          type: object
          properties:
            gt:
              type: integer
              description: Return only events whose `effective_at` (Unix seconds) is greater than this value.
            gte:
              type: integer
              description: Return only events whose `effective_at` (Unix seconds) is greater than or equal to this value.
            lt:
              type: integer
              description: Return only events whose `effective_at` (Unix seconds) is less than this value.
            lte:
              type: integer
              description: Return only events whose `effective_at` (Unix seconds) is less than or equal to this value.
      - name: project_ids[]
        in: query
        description: Return only events for these projects.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: event_types[]
        in: query
        description: Return only events with a `type` in one of these values. For example, `project.created`. For all options, see the documentation for the [audit log object](/docs/api-reference/audit-logs/object).
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AuditLogEventType"
      - name: actor_ids[]
        in: query
        description: Return only events performed by these actors. Can be a user ID, a service account ID, or an api key tracking ID.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: actor_emails[]
        in: query
        description: Return only events performed by users with these emails.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: resource_ids[]
        in: query
        description: Return only events performed on these targets. For example, a project ID updated. For ChatGPT connector role events, use the workspace connector resource ID shown in `details.id`, such as `<workspace_id>__<connector_id>`.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: tenant_only
        in: query
        description: Return only tenant-scoped events associated with this organization. Required for tenant-scoped events such as `role.bound_to_resource` and `role.unbound_from_resource`. When `true`, all supplied event types must be tenant-scoped.
        required: false
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        schema:
          type: string
      - name: before
        in: query
        description: >-
          A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.
        schema:
          type: string
      responses:
        "200":
          description: Audit logs listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAuditLogsResponse"
  /organization/certificates:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: List uploaded certificates for this organization.
      operationId: listOrganizationCertificates
      tags:
      - Certificates
      parameters:
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: >-
          Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        "200":
          description: Certificates listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCertificatesResponse"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: >-
        Upload a certificate to the organization. This does **not** automatically activate the certificate.

        Organizations can upload up to 50 certificates.
      operationId: uploadCertificate
      tags:
      - Certificates
      requestBody:
        description: The certificate upload payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadCertificateRequest"
      responses:
        "200":
          description: Certificate uploaded successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
  /organization/certificates/activate:
    post:
      security:
      - AdminApiKeyAuth: []
      summary: >-
        Activate certificates at the organization level.

        You can atomically and idempotently activate up to 10 certificates at a time.
      operationId: activateOrganizationCertificates
      tags:
      - Certificates
      requestBody:
        description: The certificate activation payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleCertificatesRequest"
      responses:
        "200":
          description: Certificates activated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationCertificateActivationResponse"
  /organization/certificates/deactivate:
    post:
      security:
      - AdminApiKeyAuth: []
      summary: >-
        Deactivate certificates at the organization level.

        You can atomically and idempotently deactivate up to 10 certificates at a time.
      operationId: deactivateOrganizationCertificates
      tags:
      - Certificates
      requestBody:
        description: The certificate deactivation payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleCertificatesRequest"
      responses:
        "200":
          description: Certificates deactivated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationCertificateDeactivationResponse"
  /organization/certificates/{certificate_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: |-
        Get a certificate that has been uploaded to the organization.
        You can get a certificate regardless of whether it is active or not.
      operationId: getCertificate
      tags:
      - Certificates
      parameters:
      - name: certificate_id
        in: path
        description: Unique ID of the certificate to retrieve.
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: A list of additional fields to include in the response. Currently the only supported value is `content` to fetch the PEM content of the certificate.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - content
      responses:
        "200":
          description: Certificate retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: |-
        Modify a certificate. Note that only the name can be modified.
      operationId: modifyCertificate
      tags:
      - Certificates
      parameters:
      - name: certificate_id
        in: path
        description: Unique ID of the certificate to modify.
        required: true
        schema:
          type: string
      requestBody:
        description: The certificate modification payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyCertificateRequest"
      responses:
        "200":
          description: Certificate modified successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: |-
        Delete a certificate from the organization.
        The certificate must be inactive for the organization and all projects.
      operationId: deleteCertificate
      tags:
      - Certificates
      parameters:
      - name: certificate_id
        in: path
        description: Unique ID of the certificate to delete.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Certificate deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCertificateResponse"
  /organization/costs:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Get costs details for the organization.
      operationId: usage-costs
      tags:
      - Usage
      parameters:
      - name: start_time
        in: query
        description: Start time (Unix seconds) of the query time range, inclusive.
        required: true
        schema:
          type: integer
      - name: end_time
        in: query
        description: End time (Unix seconds) of the query time range, exclusive.
        required: false
        schema:
          type: integer
      - name: bucket_width
        in: query
        description: Width of each time bucket in response. Currently only `1d` is supported, default to `1d`.
        required: false
        schema:
          type: string
          enum:
          - 1d
          default: 1d
      - name: project_ids
        in: query
        description: Return only costs for these projects.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: api_key_ids
        in: query
        description: Return only costs for these API keys.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: group_by
        in: query
        description: Group the costs by the specified fields. Support fields include `project_id`, `line_item`, `api_key_id` and any combination of them.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - project_id
            - line_item
            - api_key_id
      - name: limit
        in: query
        description: >-
          A limit on the number of buckets to be returned. Limit can range between 1 and 180, and the default is 7.
        required: false
        schema:
          type: integer
          default: 7
      - name: page
        in: query
        description: A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
        schema:
          type: string
      responses:
        "200":
          description: Costs data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
  /organization/data_retention:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves organization data retention controls.
      operationId: retrieve-organization-data-retention
      tags:
      - Data retention
      responses:
        "200":
          description: Organization data retention controls retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationDataRetention"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates organization data retention controls.
      operationId: update-organization-data-retention
      tags:
      - Data retention
      requestBody:
        description: The desired organization data retention setting.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationDataRetentionBody"
      responses:
        "200":
          description: Organization data retention controls updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationDataRetention"
  /organization/groups:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Lists all groups in the organization.
      operationId: list-groups
      tags:
      - Groups
      parameters:
      - name: limit
        in: query
        description: >-
          A limit on the number of groups to be returned. Limit can range between 0 and 1000, and the default is 100.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 1000
          default: 100
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is a group ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with group_abc, your subsequent call can include `after=group_abc` in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: Specifies the sort order of the returned groups.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        "200":
          description: Groups listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupListResource"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Creates a new group in the organization.
      operationId: create-group
      tags:
      - Groups
      requestBody:
        description: Parameters for the group you want to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupBody"
      responses:
        "200":
          description: Group created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResponse"
  /organization/groups/{group_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves a group.
      operationId: retrieve-group
      tags:
      - Groups
      parameters:
      - name: group_id
        in: path
        description: The ID of the group to retrieve.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Group retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResponse"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates a group's information.
      operationId: update-group
      tags:
      - Groups
      parameters:
      - name: group_id
        in: path
        description: The ID of the group to update.
        required: true
        schema:
          type: string
      requestBody:
        description: New attributes to set on the group.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupBody"
      responses:
        "200":
          description: Group updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResourceWithSuccess"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Deletes a group from the organization.
      operationId: delete-group
      tags:
      - Groups
      parameters:
      - name: group_id
        in: path
        description: The ID of the group to delete.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Group deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupDeletedResource"
  /organization/groups/{group_id}/roles:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Lists the organization roles assigned to a group within the organization.
      operationId: list-group-role-assignments
      tags:
      - Group organization role assignments
      parameters:
      - name: group_id
        in: path
        description: The ID of the group whose organization role assignments you want to list.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: A limit on the number of organization role assignments to return.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 1000
      - name: after
        in: query
        description: Cursor for pagination. Provide the value from the previous response's `next` field to continue listing organization roles.
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: Sort order for the returned organization roles.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        "200":
          description: Group organization role assignments listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleListResource"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Assigns an organization role to a group within the organization.
      operationId: assign-group-role
      tags:
      - Group organization role assignments
      parameters:
      - name: group_id
        in: path
        description: The ID of the group that should receive the organization role.
        required: true
        schema:
          type: string
      requestBody:
        description: Identifies the organization role to assign to the group.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicAssignOrganizationGroupRoleBody"
      responses:
        "200":
          description: Organization role assigned to the group successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupRoleAssignment"
  /organization/groups/{group_id}/roles/{role_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves an organization role assigned to a group.
      operationId: retrieve-group-role
      tags:
      - Group organization role assignments
      parameters:
      - name: group_id
        in: path
        description: The ID of the group to inspect.
        required: true
        schema:
          type: string
      - name: role_id
        in: path
        description: The ID of the organization role to retrieve for the group.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Organization role retrieved for the group successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignedRoleDetails"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Unassigns an organization role from a group within the organization.
      operationId: unassign-group-role
      tags:
      - Group organization role assignments
      parameters:
      - name: group_id
        in: path
        description: The ID of the group to modify.
        required: true
        schema:
          type: string
      - name: role_id
        in: path
        description: The ID of the organization role to remove from the group.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Organization role unassigned from the group successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedRoleAssignmentResource"
  /organization/groups/{group_id}/users:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Lists the users assigned to a group.
      operationId: list-group-users
      tags:
      - Group users
      parameters:
      - name: group_id
        in: path
        description: The ID of the group to inspect.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: >-
          A limit on the number of users to be returned. Limit can range between 0 and 1000, and the default is 100.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 1000
          default: 100
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. Provide the ID of the last user from the previous list response to retrieve the next page.
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: Specifies the sort order of users in the list.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      responses:
        "200":
          description: Group users listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResource"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Adds a user to a group.
      operationId: add-group-user
      tags:
      - Group users
      parameters:
      - name: group_id
        in: path
        description: The ID of the group to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Identifies the user that should be added to the group.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupUserBody"
      responses:
        "200":
          description: User added to the group successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupUserAssignment"
  /organization/groups/{group_id}/users/{user_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves a user in a group.
      operationId: retrieve-group-user
      tags:
      - Group users
      parameters:
      - name: group_id
        in: path
        description: The ID of the group to inspect.
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        description: The ID of the user to retrieve from the group.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: User retrieved from the group successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupMemberUser"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Removes a user from a group.
      operationId: remove-group-user
      tags:
      - Group users
      parameters:
      - name: group_id
        in: path
        description: The ID of the group to update.
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        description: The ID of the user to remove from the group.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: User removed from the group successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupUserDeletedResource"
  /organization/invites:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Returns a list of invites in the organization.
      operationId: list-invites
      tags:
      - Invites
      parameters:
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Invites listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteListResponse"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Create an invite for a user to the organization. The invite must be accepted by the user before they have access to the organization.
      operationId: inviteUser
      tags:
      - Invites
      requestBody:
        description: The invite request payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteRequest"
      responses:
        "200":
          description: User invited successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invite"
  /organization/invites/{invite_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves an invite.
      operationId: retrieve-invite
      tags:
      - Invites
      parameters:
      - in: path
        name: invite_id
        required: true
        schema:
          type: string
        description: The ID of the invite to retrieve.
      responses:
        "200":
          description: Invite retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invite"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Delete an invite. If the invite has already been accepted, it cannot be deleted.
      operationId: delete-invite
      tags:
      - Invites
      parameters:
      - in: path
        name: invite_id
        required: true
        schema:
          type: string
        description: The ID of the invite to delete.
      responses:
        "200":
          description: Invite deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteDeleteResponse"
  /organization/projects:
    get:
      summary: Returns a list of projects.
      operationId: list-projects
      security:
      - AdminApiKeyAuth: []
      tags:
      - Projects
      parameters:
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      - name: include_archived
        in: query
        schema:
          type: boolean
          default: false
        description: If `true` returns all projects including those that have been `archived`. Archived projects are not included by default.
      responses:
        "200":
          description: Projects listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectListResponse"
    post:
      summary: Create a new project in the organization. Projects can be created and archived, but cannot be deleted.
      operationId: create-project
      security:
      - AdminApiKeyAuth: []
      tags:
      - Projects
      requestBody:
        description: The project create request payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreateRequest"
      responses:
        "200":
          description: Project created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
  /organization/projects/{project_id}:
    get:
      summary: Retrieves a project.
      operationId: retrieve-project
      security:
      - AdminApiKeyAuth: []
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
    post:
      summary: Modifies a project in the organization.
      operationId: modify-project
      security:
      - AdminApiKeyAuth: []
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The project update request payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectUpdateRequest"
      responses:
        "200":
          description: Project updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          description: Error response when updating the default project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organization/projects/{project_id}/api_keys:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Returns a list of API keys in the project.
      operationId: list-project-api-keys
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      - name: owner_project_access
        in: query
        description: >-
          Filter API keys by whether the owner currently has effective access to the project. Use `active` for owners with access, `inactive` for owners without access, or `any` for all enabled project API keys. If omitted, the endpoint applies its existing membership-based visibility rules, which may exclude some enabled keys.
        required: false
        schema:
          type: string
          enum:
          - active
          - inactive
          - any
      responses:
        "200":
          description: Project API keys listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectApiKeyListResponse"
  /organization/projects/{project_id}/api_keys/{api_key_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves an API key in the project.
      operationId: retrieve-project-api-key
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: api_key_id
        in: path
        description: The ID of the API key.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project API key retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectApiKey"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: >-
        Deletes an API key from the project.

        Returns confirmation of the key deletion, or an error if the key belonged to a service account.
      operationId: delete-project-api-key
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: api_key_id
        in: path
        description: The ID of the API key.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project API key deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectApiKeyDeleteResponse"
        "400":
          description: Error response for various conditions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organization/projects/{project_id}/archive:
    post:
      summary: Archives a project in the organization. Archived projects cannot be used or updated.
      operationId: archive-project
      security:
      - AdminApiKeyAuth: []
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project archived successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
  /organization/projects/{project_id}/certificates:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: List certificates for this project.
      operationId: listProjectCertificates
      tags:
      - Certificates
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: >-
          Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        "200":
          description: Certificates listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProjectCertificatesResponse"
  /organization/projects/{project_id}/certificates/activate:
    post:
      security:
      - AdminApiKeyAuth: []
      summary: >-
        Activate certificates at the project level.

        You can atomically and idempotently activate up to 10 certificates at a time.
      operationId: activateProjectCertificates
      tags:
      - Certificates
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The certificate activation payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleCertificatesRequest"
      responses:
        "200":
          description: Certificates activated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationProjectCertificateActivationResponse"
  /organization/projects/{project_id}/certificates/deactivate:
    post:
      security:
      - AdminApiKeyAuth: []
      summary: |-
        Deactivate certificates at the project level. You can atomically and  idempotently deactivate up to 10 certificates at a time.
      operationId: deactivateProjectCertificates
      tags:
      - Certificates
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The certificate deactivation payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleCertificatesRequest"
      responses:
        "200":
          description: Certificates deactivated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationProjectCertificateDeactivationResponse"
  /organization/projects/{project_id}/data_retention:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves project data retention controls.
      operationId: retrieve-project-data-retention
      tags:
      - Data retention
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to inspect.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project data retention controls retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDataRetention"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates project data retention controls.
      operationId: update-project-data-retention
      tags:
      - Data retention
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The desired project data retention setting.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectDataRetentionBody"
      responses:
        "200":
          description: Project data retention controls updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDataRetention"
  /organization/projects/{project_id}/groups:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Lists the groups that have access to a project.
      operationId: list-project-groups
      tags:
      - Project groups
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to inspect.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: A limit on the number of project groups to return. Defaults to 20.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 100
          default: 20
      - name: after
        in: query
        description: Cursor for pagination. Provide the ID of the last group from the previous response to fetch the next page.
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: Sort order for the returned groups.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        "200":
          description: Project groups listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectGroupListResource"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Grants a group access to a project.
      operationId: add-project-group
      tags:
      - Project groups
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Identifies the group and role to assign to the project.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteProjectGroupBody"
      responses:
        "200":
          description: Group granted access to the project successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectGroup"
  /organization/projects/{project_id}/groups/{group_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves a project's group.
      operationId: retrieve-project-group
      tags:
      - Project groups
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to inspect.
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        description: The ID of the group to retrieve.
        required: true
        schema:
          type: string
      - name: group_type
        in: query
        description: The type of group to retrieve.
        required: false
        schema:
          type: string
          enum:
          - group
          - tenant_group
          default: group
      responses:
        "200":
          description: Project group retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectGroup"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Revokes a group's access to a project.
      operationId: remove-project-group
      tags:
      - Project groups
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to update.
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        description: The ID of the group to remove from the project.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Group removed from the project successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectGroupDeletedResource"
  /organization/projects/{project_id}/hosted_tool_permissions:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Returns hosted tool permissions for a project.
      operationId: retrieve-project-hosted-tool-permissions
      tags:
      - Hosted tools
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project hosted tool permissions retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectHostedToolPermissions"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates hosted tool permissions for a project.
      operationId: update-project-hosted-tool-permissions
      tags:
      - Hosted tools
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The project hosted tool permissions update request payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectHostedToolPermissionsUpdateRequest"
      responses:
        "200":
          description: Project hosted tool permissions updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectHostedToolPermissions"
  /organization/projects/{project_id}/model_permissions:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Returns model permissions for a project.
      operationId: retrieve-project-model-permissions
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project model permissions retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectModelPermissions"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates model permissions for a project.
      operationId: update-project-model-permissions
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The project model permissions update request payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectModelPermissionsUpdateRequest"
      responses:
        "200":
          description: Project model permissions updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectModelPermissions"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Deletes model permissions for a project.
      operationId: delete-project-model-permissions
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project model permissions deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectModelPermissionsDeleteResponse"
  /organization/projects/{project_id}/rate_limits:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Returns the rate limits per model for a project.
      operationId: list-project-rate-limits
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: |-
          A limit on the number of objects to be returned. The default is 100.
        required: false
        schema:
          type: integer
          default: 100
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      - name: before
        in: query
        description: >-
          A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, beginning with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Project rate limits listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRateLimitListResponse"
  /organization/projects/{project_id}/rate_limits/{rate_limit_id}:
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates a project rate limit.
      operationId: update-project-rate-limits
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: rate_limit_id
        in: path
        description: The ID of the rate limit.
        required: true
        schema:
          type: string
      requestBody:
        description: The project rate limit update request payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectRateLimitUpdateRequest"
      responses:
        "200":
          description: Project rate limit updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRateLimit"
        "400":
          description: Error response for various conditions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organization/projects/{project_id}/service_accounts:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Returns a list of service accounts in the project.
      operationId: list-project-service-accounts
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Project service accounts listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectServiceAccountListResponse"
        "400":
          description: Error response when project is archived.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Creates a new service account in the project. By default, this also returns an unredacted API key for the service account.
      operationId: create-project-service-account
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      requestBody:
        description: The project service account create request payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectServiceAccountCreateRequest"
      responses:
        "200":
          description: Project service account created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectServiceAccountCreateResponse"
        "400":
          description: Error response when project is archived.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organization/projects/{project_id}/service_accounts/{service_account_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves a service account in the project.
      operationId: retrieve-project-service-account
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: service_account_id
        in: path
        description: The ID of the service account.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project service account retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectServiceAccount"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates a service account in the project.
      operationId: update-project-service-account
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: service_account_id
        in: path
        description: The ID of the service account.
        required: true
        schema:
          type: string
      requestBody:
        description: Fields to update on the service account.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectServiceAccountBody"
      responses:
        "200":
          description: Project service account updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectServiceAccount"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: >-
        Deletes a service account from the project.

        Returns confirmation of service account deletion, or an error if the project is archived (archived projects have no service accounts).
      operationId: delete-project-service-account
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: service_account_id
        in: path
        description: The ID of the service account.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project service account deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectServiceAccountDeleteResponse"
  /organization/projects/{project_id}/spend_alerts:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Lists project spend alerts.
      operationId: list-project-spend-alerts
      tags:
      - Spend alerts
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to inspect.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: A limit on the number of spend alerts to return. Defaults to 20.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 100
      - name: order
        in: query
        description: Sort order for the returned spend alerts.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: after
        in: query
        description: Cursor for pagination. Provide the ID of the last spend alert from the previous response to fetch the next page.
        required: false
        schema:
          type: string
      - name: before
        in: query
        description: Cursor for pagination. Provide the ID of the first spend alert from the previous response to fetch the previous page.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Project spend alerts listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSpendAlertListResource"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Creates a project spend alert.
      operationId: create-project-spend-alert
      tags:
      - Spend alerts
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Parameters for the project spend alert you want to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSpendAlertBody"
      responses:
        "200":
          description: Project spend alert created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSpendAlert"
  /organization/projects/{project_id}/spend_alerts/{alert_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves a project spend alert.
      operationId: retrieve-project-spend-alert
      tags:
      - Spend alerts
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: alert_id
        in: path
        description: The ID of the spend alert to retrieve.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project spend alert retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSpendAlert"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates a project spend alert.
      operationId: update-project-spend-alert
      tags:
      - Spend alerts
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to update.
        required: true
        schema:
          type: string
      - name: alert_id
        in: path
        description: The ID of the spend alert to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Fields to update on the project spend alert.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSpendAlertBody"
      responses:
        "200":
          description: Project spend alert updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSpendAlert"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Deletes a project spend alert.
      operationId: delete-project-spend-alert
      tags:
      - Spend alerts
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to update.
        required: true
        schema:
          type: string
      - name: alert_id
        in: path
        description: The ID of the spend alert to delete.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project spend alert deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSpendAlertDeletedResource"
  /organization/projects/{project_id}/users:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Returns a list of users in the project.
      operationId: list-project-users
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - name: after
        in: query
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Project users listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectUserListResponse"
        "400":
          description: Error response when project is archived.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Adds a user to the project. Users must already be members of the organization to be added to a project.
      operationId: create-project-user
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      tags:
      - Projects
      requestBody:
        description: The project user create request payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectUserCreateRequest"
      responses:
        "200":
          description: User added to project successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectUser"
        "400":
          description: Error response for various conditions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organization/projects/{project_id}/users/{user_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves a user in the project.
      operationId: retrieve-project-user
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        description: The ID of the user.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project user retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectUser"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Modifies a user's role in the project.
      operationId: modify-project-user
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        description: The ID of the user.
        required: true
        schema:
          type: string
      requestBody:
        description: The project user update request payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectUserUpdateRequest"
      responses:
        "200":
          description: Project user's role updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectUser"
        "400":
          description: Error response for various conditions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: >-
        Deletes a user from the project.

        Returns confirmation of project user deletion, or an error if the project is archived (archived projects have no users).
      operationId: delete-project-user
      tags:
      - Projects
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        description: The ID of the user.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Project user deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectUserDeleteResponse"
        "400":
          description: Error response for various conditions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organization/roles:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Lists the roles configured for the organization.
      operationId: list-roles
      tags:
      - Roles
      parameters:
      - name: limit
        in: query
        description: A limit on the number of roles to return. Defaults to 1000.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 1000
          default: 1000
      - name: after
        in: query
        description: Cursor for pagination. Provide the value from the previous response's `next` field to continue listing roles.
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: Sort order for the returned roles.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        "200":
          description: Roles listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRoleListResource"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Creates a custom role for the organization.
      operationId: create-role
      tags:
      - Roles
      requestBody:
        description: Parameters for the role you want to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicCreateOrganizationRoleBody"
      responses:
        "200":
          description: Role created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
  /organization/roles/{role_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves an organization role.
      operationId: retrieve-role
      tags:
      - Roles
      parameters:
      - name: role_id
        in: path
        description: The ID of the role to retrieve.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Role retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates an existing organization role.
      operationId: update-role
      tags:
      - Roles
      parameters:
      - name: role_id
        in: path
        description: The ID of the role to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Fields to update on the role.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicUpdateOrganizationRoleBody"
      responses:
        "200":
          description: Role updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Deletes a custom role from the organization.
      operationId: delete-role
      tags:
      - Roles
      parameters:
      - name: role_id
        in: path
        description: The ID of the role to delete.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Role deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleDeletedResource"
  /organization/spend_alerts:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Lists organization spend alerts.
      operationId: list-organization-spend-alerts
      tags:
      - Spend alerts
      parameters:
      - name: limit
        in: query
        description: A limit on the number of spend alerts to return. Defaults to 20.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 100
      - name: order
        in: query
        description: Sort order for the returned spend alerts.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: after
        in: query
        description: Cursor for pagination. Provide the ID of the last spend alert from the previous response to fetch the next page.
        required: false
        schema:
          type: string
      - name: before
        in: query
        description: Cursor for pagination. Provide the ID of the first spend alert from the previous response to fetch the previous page.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Organization spend alerts listed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSpendAlertListResource"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Creates an organization spend alert.
      operationId: create-organization-spend-alert
      tags:
      - Spend alerts
      requestBody:
        description: Parameters for the organization spend alert you want to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSpendAlertBody"
      responses:
        "200":
          description: Organization spend alert created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSpendAlert"
  /organization/spend_alerts/{alert_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieves an organization spend alert.
      operationId: retrieve-organization-spend-alert
      tags:
      - Spend alerts
      parameters:
      - name: alert_id
        in: path
        description: The ID of the spend alert to retrieve.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Organization spend alert retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSpendAlert"
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Updates an organization spend alert.
      operationId: update-organization-spend-alert
      tags:
      - Spend alerts
      parameters:
      - name: alert_id
        in: path
        description: The ID of the spend alert to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Fields to update on the organization spend alert.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSpendAlertBody"
      responses:
        "200":
          description: Organization spend alert updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSpendAlert"
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Deletes an organization spend alert.
      operationId: delete-organization-spend-alert
      tags:
      - Spend alerts
      parameters:
      - name: alert_id
        in: path
        description: The ID of the spend alert to delete.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Organization spend alert deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSpendAlertDeletedResource"
  /organization/usage/audio_speeches:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Get audio speeches usage details for the organization.
      operationId: usage-audio-speeches
      tags:
      - Usage
      parameters:
      - name: start_time
        in: query
        description: Start time (Unix seconds) of the query time range, inclusive.
        required: true
        schema:
          type: integer
      - name: end_time
        in: query
        description: End time (Unix seconds) of the query time range, exclusive.
        required: false
        schema:
          type: integer
      - name: bucket_width
        in: query
        description: Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
        required: false
        schema:
          type: string
          enum:
          - 1m
          - 1h
          - 1d
          default: 1d
      - name: project_ids
        in: query
        description: Return only usage for these projects.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: user_ids
        in: query
        description: Return only usage for these users.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: api_key_ids
        in: query
        description: Return only usage for these API keys.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: models
        in: query
        description: Return only usage for these models.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: group_by
        in: query
        description: Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model` or any combination of them.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - project_id
            - user_id
            - api_key_id
            - model
      - name: limit
        in: query
        description: |-
          Specifies the number of buckets to return.
          - `bucket_width=1d`: default: 7, max: 31
          - `bucket_width=1h`: default: 24, max: 168
          - `bucket_width=1m`: default: 60, max: 1440
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
        schema:
          type: string
      responses:
        "200":
          description: Usage data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
  /organization/usage/audio_transcriptions:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Get audio transcriptions usage details for the organization.
      operationId: usage-audio-transcriptions
      tags:
      - Usage
      parameters:
      - name: start_time
        in: query
        description: Start time (Unix seconds) of the query time range, inclusive.
        required: true
        schema:
          type: integer
      - name: end_time
        in: query
        description: End time (Unix seconds) of the query time range, exclusive.
        required: false
        schema:
          type: integer
      - name: bucket_width
        in: query
        description: Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
        required: false
        schema:
          type: string
          enum:
          - 1m
          - 1h
          - 1d
          default: 1d
      - name: project_ids
        in: query
        description: Return only usage for these projects.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: user_ids
        in: query
        description: Return only usage for these users.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: api_key_ids
        in: query
        description: Return only usage for these API keys.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: models
        in: query
        description: Return only usage for these models.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: group_by
        in: query
        description: Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model` or any combination of them.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - project_id
            - user_id
            - api_key_id
            - model
      - name: limit
        in: query
        description: |-
          Specifies the number of buckets to return.
          - `bucket_width=1d`: default: 7, max: 31
          - `bucket_width=1h`: default: 24, max: 168
          - `bucket_width=1m`: default: 60, max: 1440
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
        schema:
          type: string
      responses:
        "200":
          description: Usage data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
  /organization/usage/code_interpreter_sessions:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Get code interpreter sessions usage details for the organization.
      operationId: usage-code-interpreter-sessions
      tags:
      - Usage
      parameters:
      - name: start_time
        in: query
        description: Start time (Unix seconds) of the query time range, inclusive.
        required: true
        schema:
          type: integer
      - name: end_time
        in: query
        description: End time (Unix seconds) of the query time range, exclusive.
        required: false
        schema:
          type: integer
      - name: bucket_width
        in: query
        description: Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
        required: false
        schema:
          type: string
          enum:
          - 1m
          - 1h
          - 1d
          default: 1d
      - name: project_ids
        in: query
        description: Return only usage for these projects.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: group_by
        in: query
        description: Group the usage data by the specified fields. Support fields include `project_id`.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - project_id
      - name: limit
        in: query
        description: |-
          Specifies the number of buckets to return.
          - `bucket_width=1d`: default: 7, max: 31
          - `bucket_width=1h`: default: 24, max: 168
          - `bucket_width=1m`: default: 60, max: 1440
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
        schema:
          type: string
      responses:
        "200":
          description: Usage data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
  /organization/usage/completions:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Get completions usage details for the organization.
      operationId: usage-completions
      tags:
      - Usage
      parameters:
      - name: start_time
        in: query
        description: Start time (Unix seconds) of the query time range, inclusive.
        required: true
        schema:
          type: integer
      - name: end_time
        in: query
        description: End time (Unix seconds) of the query time range, exclusive.
        required: false
        schema:
          type: integer
      - name: bucket_width
        in: query
        description: Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
        required: false
        schema:
          type: string
          enum:
          - 1m
          - 1h
          - 1d
          default: 1d
      - name: project_ids
        in: query
        description: Return only usage for these projects.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: user_ids
        in: query
        description: Return only usage for these users.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: api_key_ids
        in: query
        description: Return only usage for these API keys.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: models
        in: query
        description: Return only usage for these models.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: batch
        in: query
        description: >-
          If `true`, return batch jobs only. If `false`, return non-batch jobs only. By default, return both.
        required: false
        schema:
          type: boolean
      - name: group_by
        in: query
        description: Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model`, `batch`, `service_tier` or any combination of them.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - project_id
            - user_id
            - api_key_id
            - model
            - batch
            - service_tier
      - name: limit
        in: query
        description: |-
          Specifies the number of buckets to return.
          - `bucket_width=1d`: default: 7, max: 31
          - `bucket_width=1h`: default: 24, max: 168
          - `bucket_width=1m`: default: 60, max: 1440
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
        schema:
          type: string
      responses:
        "200":
          description: Usage data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
  /organization/usage/embeddings:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Get embeddings usage details for the organization.
      operationId: usage-embeddings
      tags:
      - Usage
      parameters:
      - name: start_time
        in: query
        description: Start time (Unix seconds) of the query time range, inclusive.
        required: true
        schema:
          type: integer
      - name: end_time
        in: query
        description: End time (Unix seconds) of the query time range, exclusive.
        required: false
        schema:
          type: integer
      - name: bucket_width
        in: query
        description: Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
        required: false
        schema:
          type: string
          enum:
          - 1m
          - 1h
          - 1d
          default: 1d
      - name: project_ids
        in: query
        description: Return only usage for these projects.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: user_ids
        in: query
        description: Return only usage for these users.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: api_key_ids
        in: query
        description: Return only usage for these API keys.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: models
        in: query
        description: Return only usage for these models.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: group_by
        in: query
        description: Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model` or any combination of them.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - project_id
            - user_id
            - api_key_id
            - model
      - name: limit
        in: query
        description: |-
          Specifies the number of buckets to return.
          - `bucket_width=1d`: default: 7, max: 31
          - `bucket_width=1h`: default: 24, max: 168
          - `bucket_width=1m`: default: 60, max: 1440
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
        schema:
          type: string
      responses:
        "200":
          description: Usage data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
  /organization/usage/file_search_calls:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Get file search calls usage details for the organization.
      operationId: usage-file-search-calls
      tags:
      - Usage
      parameters:
      - name: start_time
        in: query
        description: Start time (Unix seconds) of the query time range, inclusive.
        required: true
        schema:
          type: integer
      - name: end_time
        in: query
        description: End time (Unix seconds) of the query time range, exclusive.
        required: false
        schema:
          type: integer
      - name: bucket_width
        in: query
        description: Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
        required: false
        schema:
          type: string
          enum:
          - 1m
          - 1h
          - 1d
          default: 1d
      - name: project_ids
        in: query
        description: Return only usage for these projects.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: user_ids
        in: query
        description: Return only usage for these users.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: api_key_ids
        in: query
        description: Return only usage for these API keys.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: vector_store_ids
        in: query
        description: Return only usage for these vector stores.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: group_by
        in: query
        description: Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `vector_store_id` or any combination of them.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - project_id
            - user_id
            - api_key_id
            - vector_store_id
      - name: limit
        in: query
        description: |-
          Specifies the number of buckets to return.
          - `bucket_width=1d`: default: 7, max: 31
          - `bucket_width=1h`: default: 24, max: 168
          - `bucket_width=1m`: default: 60, max: 1440
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
        schema:
          type: string
      responses:
        "200":
          description: Usage data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
  /organization/usage/images:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Get images usage details for the organization.
      operationId: usage-images
      tags:
      - Usage
      parameters:
      - name: start_time
        in: query
        description: Start time (Unix seconds) of the query time range, inclusive.
        required: true
        schema:
          type: integer
      - name: end_time
        in: query
        description: End time (Unix seconds) of the query time range, exclusive.
        required: false
        schema:
          type: integer
      - name: bucket_width
        in: query
        description: Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
        required: false
        schema:
          type: string
          enum:
          - 1m
          - 1h
          - 1d
          default: 1d
      - name: sources
        in: query
        description: Return only usages for these sources. Possible values are `image.generation`, `image.edit`, `image.variation` or any combination of them.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - image.generation
            - image.edit
            - image.variation
      - name: sizes
        in: query
        description: Return only usages for these image sizes. Possible values are `256x256`, `512x512`, `1024x1024`, `1792x1792`, `1024x1792` or any combination of them.
        required: false
        schema:
[...]
