openapi: 3.1.0
info:
  title: OpenAI API — Responses
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
paths:
  /responses:
    post:
      operationId: createResponse
      tags:
      - Responses
      summary: >-
        Creates a model response. Provide [text](/docs/guides/text) or [image](/docs/guides/images) inputs to generate [text](/docs/guides/text) or [JSON](/docs/guides/structured-outputs) outputs. Have the model call your own [custom code](/docs/guides/function-calling) or use built-in [tools](/docs/guides/tools) like [web search](/docs/guides/tools-web-search) or [file search](/docs/guides/tools-file-search) to use your own data as input for the model's response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateResponse"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ResponseStreamEvent"
  /responses/{response_id}:
    get:
      operationId: getResponse
      tags:
      - Responses
      summary: |-
        Retrieves a model response with the given ID.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to retrieve.
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: "#/components/schemas/IncludeEnum"
        description: |-
          Additional fields to include in the response. See the `include` parameter for Response creation above for more information.
      - in: query
        name: stream
        schema:
          type: boolean
        description: |-
          If set to true, the model response data will be streamed to the client as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format). See the [Streaming section below](/docs/api-reference/responses-streaming) for more information.
      - in: query
        name: starting_after
        schema:
          type: integer
        description: |-
          The sequence number of the event after which to start streaming.
      - in: query
        name: include_obfuscation
        schema:
          type: boolean
        description: >-
          When true, stream obfuscation will be enabled. Stream obfuscation adds random characters to an `obfuscation` field on streaming delta events to normalize payload sizes as a mitigation to certain side-channel attacks. These obfuscation fields are included by default, but add a small amount of overhead to the data stream. You can set `include_obfuscation` to false to optimize for bandwidth if you trust the network links between your application and the OpenAI API.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
    delete:
      operationId: deleteResponse
      tags:
      - Responses
      summary: |-
        Deletes a model response with the given ID.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to delete.
      responses:
        "200":
          description: OK
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /responses/{response_id}/cancel:
    post:
      operationId: cancelResponse
      tags:
      - Responses
      summary: |-
        Cancels a model response with the given ID. Only responses created with the `background` parameter set to `true` can be cancelled.  [Learn more](/docs/guides/background).
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to cancel.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /responses/{response_id}/input_items:
    get:
      operationId: listInputItems
      tags:
      - Responses
      summary: Returns a list of input items for a given response.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to retrieve input items for.
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: |-
          The order to return the input items in. Default is `desc`.
          - `asc`: Return the input items in ascending order.
          - `desc`: Return the input items in descending order.
      - in: query
        name: after
        schema:
          type: string
        description: |-
          An item ID to list items after, used in pagination.
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: "#/components/schemas/IncludeEnum"
        description: |-
          Additional fields to include in the response. See the `include` parameter for Response creation above for more information.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseItemList"
  /responses/input_tokens:
    post:
      summary: >-
        Returns input token counts of the request.

        Returns an object with `object` set to `response.input_tokens` and an `input_tokens` count.
      operationId: Getinputtokencounts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenCountsBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenCountsResource"
  /responses/compact:
    post:
      summary: >-
        Compact a conversation. Returns a compacted response object.

        Learn when and how to compact long-running conversations in the [conversation state guide](/docs/guides/conversation-state#managing-the-context-window). For ZDR-compatible compaction details, see [Compaction (advanced)](/docs/guides/conversation-state#compaction-advanced).
      operationId: Compactconversation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompactResponseMethodPublicBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompactResource"
  /responses?beta=true:
    post:
      operationId: beta_createResponse
      tags:
      - Responses
      summary: >-
        Creates a model response. Provide [text](/docs/guides/text) or [image](/docs/guides/images) inputs to generate [text](/docs/guides/text) or [JSON](/docs/guides/structured-outputs) outputs. Have the model call your own [custom code](/docs/guides/function-calling) or use built-in [tools](/docs/guides/tools) like [web search](/docs/guides/tools-web-search) or [file search](/docs/guides/tools-file-search) to use your own data as input for the model's response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BetaCreateResponse"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BetaResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/BetaResponseStreamEvent"
      parameters:
      - name: openai-beta
        in: header
        required: false
        description: Optional beta features to enable for this request.
        style: simple
        explode: false
        schema:
          type: array
          x-stainless-param: betas
          items:
            type: string
            enum:
            - responses_multi_agent=v1
  /responses/{response_id}?beta=true:
    get:
      operationId: beta_getResponse
      tags:
      - Responses
      summary: |-
        Retrieves a model response with the given ID.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to retrieve.
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BetaIncludeEnum"
        description: |-
          Additional fields to include in the response. See the `include` parameter for Response creation above for more information.
      - in: query
        name: stream
        schema:
          type: boolean
        description: |-
          If set to true, the model response data will be streamed to the client as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format). See the [Streaming section below](/docs/api-reference/responses-streaming) for more information.
      - in: query
        name: starting_after
        schema:
          type: integer
        description: |-
          The sequence number of the event after which to start streaming.
      - in: query
        name: include_obfuscation
        schema:
          type: boolean
        description: >-
          When true, stream obfuscation will be enabled. Stream obfuscation adds random characters to an `obfuscation` field on streaming delta events to normalize payload sizes as a mitigation to certain side-channel attacks. These obfuscation fields are included by default, but add a small amount of overhead to the data stream. You can set `include_obfuscation` to false to optimize for bandwidth if you trust the network links between your application and the OpenAI API.
      - name: openai-beta
        in: header
        required: false
        description: Optional beta features to enable for this request.
        style: simple
        explode: false
        schema:
          type: array
          x-stainless-param: betas
          items:
            type: string
            enum:
            - responses_multi_agent=v1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BetaResponse"
    delete:
      operationId: beta_deleteResponse
      tags:
      - Responses
      summary: |-
        Deletes a model response with the given ID.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to delete.
      - name: openai-beta
        in: header
        required: false
        description: Optional beta features to enable for this request.
        style: simple
        explode: false
        schema:
          type: array
          x-stainless-param: betas
          items:
            type: string
            enum:
            - responses_multi_agent=v1
      responses:
        "200":
          description: OK
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BetaError"
  /responses/{response_id}/cancel?beta=true:
    post:
      operationId: beta_cancelResponse
      tags:
      - Responses
      summary: |-
        Cancels a model response with the given ID. Only responses created with the `background` parameter set to `true` can be cancelled.  [Learn more](/docs/guides/background).
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to cancel.
      - name: openai-beta
        in: header
        required: false
        description: Optional beta features to enable for this request.
        style: simple
        explode: false
        schema:
          type: array
          x-stainless-param: betas
          items:
            type: string
            enum:
            - responses_multi_agent=v1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BetaResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BetaError"
  /responses/compact?beta=true:
    post:
      summary: >-
        Compact a conversation. Returns a compacted response object.

        Learn when and how to compact long-running conversations in the [conversation state guide](/docs/guides/conversation-state#managing-the-context-window). For ZDR-compatible compaction details, see [Compaction (advanced)](/docs/guides/conversation-state#compaction-advanced).
      operationId: beta_Compactconversation
      parameters:
      - name: openai-beta
        in: header
        required: false
        description: Optional beta features to enable for this request.
        style: simple
        explode: false
        schema:
          type: array
          x-stainless-param: betas
          items:
            type: string
            enum:
            - responses_multi_agent=v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BetaCompactResponseMethodPublicBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BetaCompactResource"
  /responses/{response_id}/input_items?beta=true:
    get:
      operationId: beta_listInputItems
      tags:
      - Responses
      summary: Returns a list of input items for a given response.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to retrieve input items for.
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: |-
          The order to return the input items in. Default is `desc`.
          - `asc`: Return the input items in ascending order.
          - `desc`: Return the input items in descending order.
      - in: query
        name: after
        schema:
          type: string
        description: |-
          An item ID to list items after, used in pagination.
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BetaIncludeEnum"
        description: |-
          Additional fields to include in the response. See the `include` parameter for Response creation above for more information.
      - name: openai-beta
        in: header
        required: false
        description: Optional beta features to enable for this request.
        style: simple
        explode: false
        schema:
          type: array
          x-stainless-param: betas
          items:
            type: string
            enum:
            - responses_multi_agent=v1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BetaResponseItemList"
  /responses/input_tokens?beta=true:
    post:
      summary: >-
        Returns input token counts of the request.

        Returns an object with `object` set to `response.input_tokens` and an `input_tokens` count.
      operationId: beta_Getinputtokencounts
      parameters:
      - name: openai-beta
        in: header
        required: false
        description: Optional beta features to enable for this request.
        style: simple
        explode: false
        schema:
          type: array
          x-stainless-param: betas
          items:
            type: string
            enum:
            - responses_multi_agent=v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BetaTokenCountsBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BetaTokenCountsResource"
components:
  schemas:
    AdditionalTools:
      properties:
        type:
          type: string
          enum:
          - additional_tools
          description: The type of the item. Always `additional_tools`.
          default: additional_tools
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the additional tools item.
        role:
          $ref: "#/components/schemas/MessageRole"
          description: The role that provided the additional tools.
        tools:
          items:
            $ref: "#/components/schemas/Tool"
          type: array
          description: The additional tool definitions made available at this item.
      type: object
      required:
      - type
      - id
      - role
      - tools
    AdditionalToolsItemParam:
      properties:
        id:
          anyOf:
          - type: string
            description: The unique ID of this additional tools item.
            example: at_123
          - type: "null"
        type:
          type: string
          enum:
          - additional_tools
          description: The item type. Always `additional_tools`.
          default: additional_tools
          x-stainless-const: true
        role:
          type: string
          enum:
          - developer
          description: The role that provided the additional tools. Only `developer` is supported.
          default: developer
          x-stainless-const: true
        tools:
          items:
            $ref: "#/components/schemas/Tool"
          type: array
          description: A list of additional tools made available at this item.
      type: object
      required:
      - type
      - role
      - tools
    Annotation:
      oneOf:
      - $ref: "#/components/schemas/FileCitationBody"
      - $ref: "#/components/schemas/UrlCitationBody"
      - $ref: "#/components/schemas/ContainerFileCitationBody"
      - $ref: "#/components/schemas/FilePath"
      description: An annotation that applies to a span of output text.
      discriminator:
        propertyName: type
    ApplyPatchCallOutputStatus:
      type: string
      enum:
      - completed
      - failed
    ApplyPatchCallOutputStatusParam:
      type: string
      enum:
      - completed
      - failed
      title: Apply patch call output status
      description: Outcome values reported for apply_patch tool call outputs.
    ApplyPatchCallStatus:
      type: string
      enum:
      - in_progress
      - completed
    ApplyPatchCallStatusParam:
      type: string
      enum:
      - in_progress
      - completed
      title: Apply patch call status
      description: Status values reported for apply_patch tool calls.
    ApplyPatchCreateFileOperation:
      properties:
        type:
          type: string
          enum:
          - create_file
          description: Create a new file with the provided diff.
          default: create_file
          x-stainless-const: true
        path:
          type: string
          description: Path of the file to create.
        diff:
          type: string
          description: Diff to apply.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch create file operation
      description: Instruction describing how to create a file via the apply_patch tool.
    ApplyPatchCreateFileOperationParam:
      properties:
        type:
          type: string
          enum:
          - create_file
          description: The operation type. Always `create_file`.
          default: create_file
          x-stainless-const: true
        path:
          type: string
          minLength: 1
          description: Path of the file to create relative to the workspace root.
        diff:
          type: string
          maxLength: 10485760
          description: Unified diff content to apply when creating the file.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch create file operation
      description: Instruction for creating a new file via the apply_patch tool.
    ApplyPatchDeleteFileOperation:
      properties:
        type:
          type: string
          enum:
          - delete_file
          description: Delete the specified file.
          default: delete_file
          x-stainless-const: true
        path:
          type: string
          description: Path of the file to delete.
      type: object
      required:
      - type
      - path
      title: Apply patch delete file operation
      description: Instruction describing how to delete a file via the apply_patch tool.
    ApplyPatchDeleteFileOperationParam:
      properties:
        type:
          type: string
          enum:
          - delete_file
          description: The operation type. Always `delete_file`.
          default: delete_file
          x-stainless-const: true
        path:
          type: string
          minLength: 1
          description: Path of the file to delete relative to the workspace root.
      type: object
      required:
      - type
      - path
      title: Apply patch delete file operation
      description: Instruction for deleting an existing file via the apply_patch tool.
    ApplyPatchOperationParam:
      oneOf:
      - $ref: "#/components/schemas/ApplyPatchCreateFileOperationParam"
      - $ref: "#/components/schemas/ApplyPatchDeleteFileOperationParam"
      - $ref: "#/components/schemas/ApplyPatchUpdateFileOperationParam"
      title: Apply patch operation
      description: One of the create_file, delete_file, or update_file operations supplied to the apply_patch tool.
      discriminator:
        propertyName: type
    ApplyPatchToolCall:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call
          description: The type of the item. Always `apply_patch_call`.
          default: apply_patch_call
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the apply patch tool call. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCaller"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/ApplyPatchCallStatus"
          description: The status of the apply patch tool call. One of `in_progress` or `completed`.
        operation:
          oneOf:
          - $ref: "#/components/schemas/ApplyPatchCreateFileOperation"
          - $ref: "#/components/schemas/ApplyPatchDeleteFileOperation"
          - $ref: "#/components/schemas/ApplyPatchUpdateFileOperation"
          title: Apply patch operation
          description: One of the create_file, delete_file, or update_file operations applied via apply_patch.
          discriminator:
            propertyName: type
        created_by:
          type: string
          description: The ID of the entity that created this tool call.
      type: object
      required:
      - type
      - id
      - call_id
      - status
      - operation
      title: Apply patch tool call
      description: A tool call that applies file diffs by creating, deleting, or updating files.
    ApplyPatchToolCallItemParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call
          description: The type of the item. Always `apply_patch_call`.
          default: apply_patch_call
          x-stainless-const: true
        id:
          anyOf:
          - type: string
            description: The unique ID of the apply patch tool call. Populated when this item is returned via API.
            example: apc_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCallerParam"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/ApplyPatchCallStatusParam"
          description: The status of the apply patch tool call. One of `in_progress` or `completed`.
        operation:
          $ref: "#/components/schemas/ApplyPatchOperationParam"
          description: The specific create, delete, or update instruction for the apply_patch tool call.
      type: object
      required:
      - type
      - call_id
      - status
      - operation
      title: Apply patch tool call
      description: A tool call representing a request to create, delete, or update files using diff patches.
    ApplyPatchToolCallOutput:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call_output
          description: The type of the item. Always `apply_patch_call_output`.
          default: apply_patch_call_output
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the apply patch tool call output. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCaller"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/ApplyPatchCallOutputStatus"
          description: The status of the apply patch tool call output. One of `completed` or `failed`.
        output:
          anyOf:
          - type: string
            description: Optional textual output returned by the apply patch tool.
          - type: "null"
        created_by:
          type: string
          description: The ID of the entity that created this tool call output.
      type: object
      required:
      - type
      - id
      - call_id
      - status
      title: Apply patch tool call output
      description: The output emitted by an apply patch tool call.
    ApplyPatchToolCallOutputItemParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call_output
          description: The type of the item. Always `apply_patch_call_output`.
          default: apply_patch_call_output
          x-stainless-const: true
        id:
          anyOf:
          - type: string
            description: The unique ID of the apply patch tool call output. Populated when this item is returned via API.
            example: apco_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCallerParam"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/ApplyPatchCallOutputStatusParam"
          description: The status of the apply patch tool call output. One of `completed` or `failed`.
        output:
          anyOf:
          - type: string
            maxLength: 10485760
            description: Optional human-readable log text from the apply patch tool (e.g., patch results or errors).
          - type: "null"
      type: object
      required:
      - type
      - call_id
      - status
      title: Apply patch tool call output
      description: The streamed output emitted by an apply patch tool call.
    ApplyPatchToolParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch
          description: The type of the tool. Always `apply_patch`.
          default: apply_patch
          x-stainless-const: true
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      title: Apply patch tool
      description: Allows the assistant to create, delete, or update files using unified diffs.
    ApplyPatchUpdateFileOperation:
      properties:
        type:
          type: string
          enum:
          - update_file
          description: Update an existing file with the provided diff.
          default: update_file
          x-stainless-const: true
        path:
          type: string
          description: Path of the file to update.
        diff:
          type: string
          description: Diff to apply.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch update file operation
      description: Instruction describing how to update a file via the apply_patch tool.
    ApplyPatchUpdateFileOperationParam:
      properties:
        type:
          type: string
          enum:
          - update_file
          description: The operation type. Always `update_file`.
          default: update_file
          x-stainless-const: true
        path:
          type: string
          minLength: 1
          description: Path of the file to update relative to the workspace root.
        diff:
          type: string
          maxLength: 10485760
          description: Unified diff content to apply to the existing file.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch update file operation
      description: Instruction for updating an existing file via the apply_patch tool.
    ApproximateLocation:
      properties:
        type:
          type: string
          enum:
          - approximate
          description: The type of location approximation. Always `approximate`.
          default: approximate
          x-stainless-const: true
        country:
          anyOf:
          - type: string
            description: The two-letter [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1) of the user, e.g. `US`.
          - type: "null"
        region:
          anyOf:
          - type: string
            description: Free text input for the region of the user, e.g. `California`.
          - type: "null"
        city:
          anyOf:
          - type: string
            description: Free text input for the city of the user, e.g. `San Francisco`.
          - type: "null"
        timezone:
          anyOf:
          - type: string
            description: The [IANA timezone](https://timeapi.io/documentation/iana-timezones) of the user, e.g. `America/Los_Angeles`.
          - type: "null"
      type: object
      required:
      - type
    AutoCodeInterpreterToolParam:
      properties:
        type:
          type: string
          enum:
          - auto
          description: Always `auto`.
          default: auto
          x-stainless-const: true
        file_ids:
          items:
            type: string
            example: file-123
          type: array
          maxItems: 50
          description: An optional list of uploaded files to make available to your code.
        memory_limit:
          anyOf:
          - $ref: "#/components/schemas/ContainerMemoryLimit"
            description: The memory limit for the code interpreter container.
          - type: "null"
        network_policy:
          oneOf:
          - $ref: "#/components/schemas/ContainerNetworkPolicyDisabledParam"
          - $ref: "#/components/schemas/ContainerNetworkPolicyAllowlistParam"
          description: Network access policy for the container.
          discriminator:
            propertyName: type
      type: object
      required:
      - type
      title: CodeInterpreterToolAuto
      description: Configuration for a code interpreter container. Optionally specify the IDs of the files to run the code on.
    BetaAdditionalTools:
      properties:
        agent:
          $ref: "#/components/schemas/BetaAgentTag"
          description: The agent that produced this item.
        type:
          type: string
          enum:
          - additional_tools
          description: The type of the item. Always `additional_tools`.
          default: additional_tools
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the additional tools item.
        role:
          $ref: "#/components/schemas/BetaMessageRole"
          description: The role that provided the additional tools.
        tools:
          items:
            $ref: "#/components/schemas/BetaTool"
          type: array
          description: The additional tool definitions made available at this item.
      type: object
      required:
      - type
      - id
      - role
      - tools
    BetaAdditionalToolsItemParam:
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/Beta_AgentTagParam"
            description: The agent that produced this item.
          - type: "null"
        id:
          anyOf:
          - type: string
            description: The unique ID of this additional tools item.
            example: at_123
          - type: "null"
        type:
          type: string
          enum:
          - additional_tools
          description: The item type. Always `additional_tools`.
          default: additional_tools
          x-stainless-const: true
        role:
          type: string
          enum:
          - developer
          description: The role that provided the additional tools. Only `developer` is supported.
          default: developer
          x-stainless-const: true
        tools:
          items:
            $ref: "#/components/schemas/BetaTool"
          type: array
          description: A list of additional tools made available at this item.
      type: object
      required:
      - type
      - role
      - tools
    BetaAgentMessage:
      properties:
        agent:
          $ref: "#/components/schemas/BetaAgentTag"
          description: The agent that produced this item.
        type:
          type: string
          enum:
          - agent_message
          description: The type of the item. Always `agent_message`.
          default: agent_message
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the agent message.
        author:
          type: string
          description: The sending agent identity.
        recipient:
          type: string
          description: The destination agent identity.
        content:
          items:
            oneOf:
            - $ref: "#/components/schemas/BetaInputTextContent"
            - $ref: "#/components/schemas/BetaOutputTextContent"
            - $ref: "#/components/schemas/BetaTextContent"
            - $ref: "#/components/schemas/BetaSummaryTextContent"
            - $ref: "#/components/schemas/BetaReasoningTextContent"
            - $ref: "#/components/schemas/BetaRefusalContent"
            - $ref: "#/components/schemas/BetaInputImageContent"
            - $ref: "#/components/schemas/BetaComputerScreenshotContent"
            - $ref: "#/components/schemas/BetaInputFileContent"
            - $ref: "#/components/schemas/BetaEncryptedContent"
            description: A content part that makes up an input or output item.
            discriminator:
              propertyName: type
          type: array
          description: Encrypted content sent between agents.
      type: object
      required:
      - type
      - id
      - author
      - recipient
      - content
      x-oai-beta: responses_multi_agent=v1
    BetaAgentMessageItemParam:
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/Beta_AgentTagParam"
            description: The agent that produced this item.
          - type: "null"
        id:
          anyOf:
          - type: string
            description: The unique ID of this agent message item.
            example: amsg_123
          - type: "null"
        type:
          type: string
          enum:
          - agent_message
          description: The item type. Always `agent_message`.
          default: agent_message
          x-stainless-const: true
        author:
          type: string
          description: The sending agent identity.
        recipient:
          type: string
          description: The destination agent identity.
        content:
          items:
            oneOf:
            - $ref: "#/components/schemas/BetaInputTextContentParam"
            - $ref: "#/components/schemas/BetaInputImageContentParamAutoParam"
            - $ref: "#/components/schemas/BetaEncryptedContentParam"
            description: A plaintext, image, or encrypted agent message content part.
            discriminator:
              propertyName: type
          type: array
          description: Plaintext, image, or encrypted content sent between agents.
      type: object
      required:
      - type
      - author
      - recipient
      - content
      title: Agent message
      description: A message routed between agents.
      x-oai-beta: responses_multi_agent=v1
    BetaAgentTag:
      properties:
        agent_name:
          type: string
          description: The canonical name of the agent that produced this item.
      type: object
      required:
      - agent_name
      x-oai-beta: responses_multi_agent=v1
    BetaAnnotation:
      oneOf:
      - $ref: "#/components/schemas/BetaFileCitationBody"
      - $ref: "#/components/schemas/BetaUrlCitationBody"
      - $ref: "#/components/schemas/BetaContainerFileCitationBody"
      - $ref: "#/components/schemas/BetaFilePath"
      description: An annotation that applies to a span of output text.
      discriminator:
        propertyName: type
    BetaApplyPatchCallOutputStatus:
      type: string
      enum:
      - completed
      - failed
    BetaApplyPatchCallOutputStatusParam:
      type: string
      enum:
      - completed
      - failed
      title: Apply patch call output status
      description: Outcome values reported for apply_patch tool call outputs.
    BetaApplyPatchCallStatus:
      type: string
      enum:
      - in_progress
      - completed
    BetaApplyPatchCallStatusParam:
      type: string
      enum:
      - in_progress
      - completed
      title: Apply patch call status
      description: Status values reported for apply_patch tool calls.
    BetaApplyPatchCreateFileOperation:
      properties:
        type:
          type: string
          enum:
          - create_file
          description: Create a new file with the provided diff.
          default: create_file
          x-stainless-const: true
        path:
          type: string
          description: Path of the file to create.
        diff:
          type: string
          description: Diff to apply.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch create file operation
      description: Instruction describing how to create a file via the apply_patch tool.
    BetaApplyPatchCreateFileOperationParam:
      properties:
        type:
          type: string
          enum:
          - create_file
          description: The operation type. Always `create_file`.
          default: create_file
          x-stainless-const: true
        path:
          type: string
          minLength: 1
          description: Path of the file to create relative to the workspace root.
        diff:
          type: string
          maxLength: 10485760
          description: Unified diff content to apply when creating the file.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch create file operation
      description: Instruction for creating a new file via the apply_patch tool.
    BetaApplyPatchDeleteFileOperation:
      properties:
        type:
          type: string
          enum:
          - delete_file
          description: Delete the specified file.
          default: delete_file
          x-stainless-const: true
        path:
          type: string
          description: Path of the file to delete.
      type: object
      required:
      - type
      - path
      title: Apply patch delete file operation
      description: Instruction describing how to delete a file via the apply_patch tool.
    BetaApplyPatchDeleteFileOperationParam:
      properties:
        type:
          type: string
          enum:
          - delete_file
          description: The operation type. Always `delete_file`.
          default: delete_file
          x-stainless-const: true
        path:
          type: string
          minLength: 1
          description: Path of the file to delete relative to the workspace root.
      type: object
      required:
      - type
      - path
      title: Apply patch delete file operation
      description: Instruction for deleting an existing file via the apply_patch tool.
    BetaApplyPatchOperationParam:
      oneOf:
      - $ref: "#/components/schemas/BetaApplyPatchCreateFileOperationParam"
      - $ref: "#/components/schemas/BetaApplyPatchDeleteFileOperationParam"
      - $ref: "#/components/schemas/BetaApplyPatchUpdateFileOperationParam"
      title: Apply patch operation
      description: One of the create_file, delete_file, or update_file operations supplied to the apply_patch tool.
      discriminator:
        propertyName: type
    BetaApplyPatchToolCall:
      properties:
        agent:
          $ref: "#/components/schemas/BetaAgentTag"
          description: The agent that produced this item.
        type:
          type: string
          enum:
          - apply_patch_call
          description: The type of the item. Always `apply_patch_call`.
          default: apply_patch_call
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the apply patch tool call. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/BetaToolCallCaller"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/BetaApplyPatchCallStatus"
          description: The status of the apply patch tool call. One of `in_progress` or `completed`.
        operation:
          oneOf:
          - $ref: "#/components/schemas/BetaApplyPatchCreateFileOperation"
          - $ref: "#/components/schemas/BetaApplyPatchDeleteFileOperation"
          - $ref: "#/components/schemas/BetaApplyPatchUpdateFileOperation"
          title: Apply patch operation
          description: One of the create_file, delete_file, or update_file operations applied via apply_patch.
          discriminator:
            propertyName: type
        created_by:
          type: string
          description: The ID of the entity that created this tool call.
      type: object
      required:
      - type
      - id
      - call_id
      - status
      - operation
      title: Apply patch tool call
      description: A tool call that applies file diffs by creating, deleting, or updating files.
    BetaApplyPatchToolCallItemParam:
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/Beta_AgentTagParam"
            description: The agent that produced this item.
          - type: "null"
        type:
          type: string
          enum:
          - apply_patch_call
          description: The type of the item. Always `apply_patch_call`.
          default: apply_patch_call
          x-stainless-const: true
        id:
          anyOf:
          - type: string
            description: The unique ID of the apply patch tool call. Populated when this item is returned via API.
            example: apc_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/BetaToolCallCallerParam"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/BetaApplyPatchCallStatusParam"
          description: The status of the apply patch tool call. One of `in_progress` or `completed`.
        operation:
          $ref: "#/components/schemas/BetaApplyPatchOperationParam"
          description: The specific create, delete, or update instruction for the apply_patch tool call.
      type: object
      required:
      - type
      - call_id
      - status
      - operation
      title: Apply patch tool call
      description: A tool call representing a request to create, delete, or update files using diff patches.
    BetaApplyPatchToolCallOutput:
      properties:
        agent:
          $ref: "#/components/schemas/BetaAgentTag"
          description: The agent that produced this item.
        type:
          type: string
          enum:
          - apply_patch_call_output
          description: The type of the item. Always `apply_patch_call_output`.
          default: apply_patch_call_output
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the apply patch tool call output. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/BetaToolCallCaller"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/BetaApplyPatchCallOutputStatus"
          description: The status of the apply patch tool call output. One of `completed` or `failed`.
        output:
          anyOf:
          - type: string
            description: Optional textual output returned by the apply patch tool.
          - type: "null"
        created_by:
          type: string
          description: The ID of the entity that created this tool call output.
      type: object
      required:
      - type
      - id
      - call_id
      - status
      title: Apply patch tool call output
      description: The output emitted by an apply patch tool call.
    BetaApplyPatchToolCallOutputItemParam:
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/Beta_AgentTagParam"
            description: The agent that produced this item.
          - type: "null"
        type:
          type: string
          enum:
          - apply_patch_call_output
          description: The type of the item. Always `apply_patch_call_output`.
          default: apply_patch_call_output
          x-stainless-const: true
        id:
          anyOf:
          - type: string
            description: The unique ID of the apply patch tool call output. Populated when this item is returned via API.
            example: apco_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/BetaToolCallCallerParam"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/BetaApplyPatchCallOutputStatusParam"
          description: The status of the apply patch tool call output. One of `completed` or `failed`.
        output:
          anyOf:
          - type: string
            maxLength: 10485760
            description: Optional human-readable log text from the apply patch tool (e.g., patch results or errors).
          - type: "null"
      type: object
      required:
      - type
      - call_id
      - status
      title: Apply patch tool call output
      description: The streamed output emitted by an apply patch tool call.
    BetaApplyPatchToolParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch
          description: The type of the tool. Always `apply_patch`.
          default: apply_patch
          x-stainless-const: true
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/BetaCallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      title: Apply patch tool
      description: Allows the assistant to create, delete, or update files using unified diffs.
    BetaApplyPatchUpdateFileOperation:
      properties:
        type:
          type: string
          enum:
          - update_file
          description: Update an existing file with the provided diff.
          default: update_file
          x-stainless-const: true
        path:
          type: string
          description: Path of the file to update.
        diff:
          type: string
          description: Diff to apply.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch update file operation
      description: Instruction describing how to update a file via the apply_patch tool.
    BetaApplyPatchUpdateFileOperationParam:
      properties:
        type:
          type: string
          enum:
          - update_file
          description: The operation type. Always `update_file`.
          default: update_file
          x-stainless-const: true
        path:
          type: string
          minLength: 1
          description: Path of the file to update relative to the workspace root.
        diff:
          type: string
          maxLength: 10485760
          description: Unified diff content to apply to the existing file.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch update file operation
      description: Instruction for updating an existing file via the apply_patch tool.
    BetaApproximateLocation:
      properties:
        type:
          type: string
          enum:
          - approximate
          description: The type of location approximation. Always `approximate`.
          default: approximate
          x-stainless-const: true
        country:
          anyOf:
          - type: string
            description: The two-letter [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1) of the user, e.g. `US`.
          - type: "null"
        region:
          anyOf:
          - type: string
            description: Free text input for the region of the user, e.g. `California`.
          - type: "null"
        city:
          anyOf:
          - type: string
            description: Free text input for the city of the user, e.g. `San Francisco`.
          - type: "null"
        timezone:
          anyOf:
          - type: string
            description: The [IANA timezone](https://timeapi.io/documentation/iana-timezones) of the user, e.g. `America/Los_Angeles`.
          - type: "null"
      type: object
      required:
      - type
    BetaAutoCodeInterpreterToolParam:
      properties:
        type:
          type: string
          enum:
          - auto
          description: Always `auto`.
          default: auto
          x-stainless-const: true
        file_ids:
          items:
            type: string
            example: file-123
          type: array
          maxItems: 50
          description: An optional list of uploaded files to make available to your code.
        memory_limit:
          anyOf:
          - $ref: "#/components/schemas/BetaContainerMemoryLimit"
            description: The memory limit for the code interpreter container.
          - type: "null"
        network_policy:
          oneOf:
          - $ref: "#/components/schemas/BetaContainerNetworkPolicyDisabledParam"
          - $ref: "#/components/schemas/BetaContainerNetworkPolicyAllowlistParam"
          description: Network access policy for the container.
          discriminator:
            propertyName: type
      type: object
      required:
      - type
      title: CodeInterpreterToolAuto
      description: Configuration for a code interpreter container. Optionally specify the IDs of the files to run the code on.
    BetaCallableToolAllowedCaller:
      type: string
      enum:
      - direct
      - programmatic
    BetaClickButtonType:
      type: string
      enum:
      - left
      - right
      - wheel
      - back
      - forward
    BetaClickParam:
      properties:
        type:
          type: string
          enum:
          - click
          description: Specifies the event type. For a click action, this property is always `click`.
          default: click
          x-stainless-const: true
        button:
          $ref: "#/components/schemas/BetaClickButtonType"
          description: Indicates which mouse button was pressed during the click. One of `left`, `right`, `wheel`, `back`, or `forward`.
        x:
          type: integer
          description: The x-coordinate where the click occurred.
        y:
          type: integer
          description: The y-coordinate where the click occurred.
        keys:
          anyOf:
          - items:
              type: string
            type: array
            description: The keys being held while clicking.
          - type: "null"
      type: object
      required:
      - type
      - button
      - x
      - y
      title: Click
      description: A click action.
    BetaCodeInterpreterOutputImage:
      properties:
        type:
          type: string
          enum:
          - image
          description: The type of the output. Always `image`.
          default: image
          x-stainless-const: true
        url:
          type: string
          format: uri
          description: The URL of the image output from the code interpreter.
      type: object
      required:
      - type
      - url
      title: Code interpreter output image
      description: The image output from the code interpreter.
    BetaCodeInterpreterOutputLogs:
      properties:
        type:
          type: string
          enum:
          - logs
          description: The type of the output. Always `logs`.
          default: logs
          x-stainless-const: true
        logs:
          type: string
          description: The logs output from the code interpreter.
      type: object
      required:
      - type
      - logs
      title: Code interpreter output logs
      description: The logs output from the code interpreter.
    BetaCodeInterpreterTool:
      type: object
      title: Code interpreter
      description: |-
        A tool that runs Python code to help generate a response to a prompt.
      properties:
        type:
          type: string
          enum:
          - code_interpreter
          description: |-
            The type of the code interpreter tool. Always `code_interpreter`.
          x-stainless-const: true
        container:
          description: >-
            The code interpreter container. Can be a container ID or an object that specifies uploaded file IDs to make available to your code, along with an optional `memory_limit` setting.
          oneOf:
          - type: string
            description: The container ID.
          - $ref: "#/components/schemas/BetaAutoCodeInterpreterToolParam"
        allowed_callers:
          anyOf:
          - type: array
            minItems: 1
            items:
              $ref: "#/components/schemas/BetaCallableToolAllowedCaller"
            description: The tool invocation context(s).
          - type: "null"
      required:
      - type
      - container
    BetaCodeInterpreterToolCall:
      type: object
      title: Code interpreter tool call
      description: |-
        A tool call to run code.
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/BetaAgentTag"
          - type: "null"
          description: The agent that produced this item.
        type:
          type: string
          enum:
          - code_interpreter_call
          default: code_interpreter_call
          x-stainless-const: true
          description: >-
            The type of the code interpreter tool call. Always `code_interpreter_call`.
        id:
          type: string
          description: |-
            The unique ID of the code interpreter tool call.
        status:
          type: string
          enum:
          - in_progress
          - completed
          - incomplete
          - interpreting
          - failed
          description: >-
            The status of the code interpreter tool call. Valid values are `in_progress`, `completed`, `incomplete`, `interpreting`, and `failed`.
        container_id:
          type: string
          description: |-
            The ID of the container used to run the code.
        code:
          anyOf:
          - type: string
            description: |-
              The code to run, or null if not available.
          - type: "null"
        outputs:
          anyOf:
          - type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/BetaCodeInterpreterOutputLogs"
              - $ref: "#/components/schemas/BetaCodeInterpreterOutputImage"
              discriminator:
                propertyName: type
            discriminator:
              propertyName: type
            description: >-
              The outputs generated by the code interpreter, such as logs or images. Can be null if no outputs are available.
          - type: "null"
      required:
      - type
      - id
      - status
      - container_id
      - code
      - outputs
    BetaCompactionBody:
      properties:
        agent:
          $ref: "#/components/schemas/BetaAgentTag"
          description: The agent that produced this item.
        type:
          type: string
          enum:
          - compaction
          description: The type of the item. Always `compaction`.
          default: compaction
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the compaction item.
        encrypted_content:
          type: string
          description: The encrypted content that was produced by compaction.
        created_by:
          type: string
          description: The identifier of the actor that created the item.
      type: object
      required:
      - type
      - id
      - encrypted_content
      title: Compaction item
      description: A compaction item generated by the [`v1/responses/compact` API](/docs/api-reference/responses/compact).
    BetaCompactionSummaryItemParam:
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/Beta_AgentTagParam"
            description: The agent that produced this item.
          - type: "null"
        id:
          anyOf:
          - type: string
            description: The ID of the compaction item.
            example: cmp_123
          - type: "null"
        type:
          type: string
          enum:
          - compaction
          description: The type of the item. Always `compaction`.
          default: compaction
          x-stainless-const: true
        encrypted_content:
          type: string
          maxLength: 10485760
          description: The encrypted content of the compaction summary.
      type: object
      required:
      - type
      - encrypted_content
      title: Compaction item
      description: A compaction item generated by the [`v1/responses/compact` API](/docs/api-reference/responses/compact).
    BetaCompactionTriggerItemParam:
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/Beta_AgentTagParam"
            description: The agent that produced this item.
          - type: "null"
        type:
          type: string
          enum:
          - compaction_trigger
          description: The type of the item. Always `compaction_trigger`.
          default: compaction_trigger
          x-stainless-const: true
      type: object
      required:
      - type
      title: Compaction trigger
      description: Compacts the current context. Must be the final input item.
    BetaCompactResource:
      properties:
        id:
          type: string
          description: The unique identifier for the compacted response.
        object:
          type: string
          enum:
          - response.compaction
          description: The object type. Always `response.compaction`.
          default: response.compaction
          x-stainless-const: true
        output:
          items:
            $ref: "#/components/schemas/BetaItemField"
          type: array
          description: The compacted list of output items.
        created_at:
          type: integer
          format: unixtime
          description: Unix timestamp (in seconds) when the compacted conversation was created.
        usage:
          $ref: "#/components/schemas/BetaResponseUsage"
          description: Token accounting for the compaction pass, including cached, reasoning, and total tokens.
      type: object
      required:
      - id
      - object
      - output
      - created_at
      - usage
      title: The compacted response object
      example:
        id: resp_001
        object: response.compaction
        output:
        - type: message
          role: user
          content:
          - type: input_text
            text: Summarize our launch checklist from last week.
        - type: message
          role: user
          content:
          - type: input_text
            text: You are performing a CONTEXT CHECKPOINT COMPACTION...
        - type: compaction
          id: cmp_001
          encrypted_content: encrypted-summary
        created_at: 1731459200
        usage:
          input_tokens: 42897
          output_tokens: 12000
          total_tokens: 54912
    BetaCompactResponseMethodPublicBody:
      properties:
        model:
          $ref: "#/components/schemas/BetaModelIdsCompaction"
        input:
          anyOf:
          - oneOf:
            - type: string
              maxLength: 10485760
              description: A text input to the model, equivalent to a text input with the `user` role.
            - items:
                $ref: "#/components/schemas/BetaInputItem"
              type: array
              description: A list of one or many input items to the model, containing different content types.
            description: Text, image, or file inputs to the model, used to generate a response
          - type: "null"
        previous_response_id:
          anyOf:
          - type: string
            description: The unique ID of the previous response to the model. Use this to create multi-turn conversations. Learn more about [conversation state](/docs/guides/conversation-state). Cannot be used in conjunction with `conversation`.
            example: resp_123
          - type: "null"
        instructions:
          anyOf:
          - type: string
            description: >-
              A system (or developer) message inserted into the model's context. When used along with `previous_response_id`, the instructions from a previous response will not be carried over to the next response. This makes it simple to swap out system (or developer) messages in new responses.
          - type: "null"
        prompt_cache_key:
          anyOf:
          - type: string
            maxLength: 64
            description: A key to use when reading from or writing to the prompt cache.
          - type: "null"
        prompt_cache_retention:
          anyOf:
          - $ref: "#/components/schemas/BetaPromptCacheRetentionEnum"
            description: How long to retain a prompt cache entry created by this request.
            deprecated: true
          - type: "null"
        prompt_cache_options:
          anyOf:
          - $ref: "#/components/schemas/BetaPromptCacheOptionsParam"
          - type: "null"
        service_tier:
          anyOf:
          - $ref: "#/components/schemas/BetaServiceTierEnum"
            description: >-
              Specifies the processing type used for serving the request.   - If set to 'auto', then the request will be processed with the service tier configured in the Project settings. Unless otherwise configured, the Project will use 'default'.   - If set to 'default', then the request will be processed with the standard pricing and performance for the selected model.   - If set to '[flex](/docs/guides/flex-processing)', then the request will be processed with the Flex Processing service tier.   - To opt-in to [Fast mode](/api/docs/guides/fast-mode) at the request level, include the `service_tier=fast` or `service_tier=priority` parameter for Responses or Chat Completions. The response will show `service_tier=priority` regardless of if you specify `service_tier=fast` or `priority` in your request.   - When not set, the default behavior is 'auto'.   When the `service_tier` parameter is set, the response body will include the `service_tier` value based on the processing mode actually used to serve the request. This response value may be different from the value set in the parameter.
          - type: "null"
      type: object
      required:
      - model
    BetaComparisonFilter:
      type: object
      additionalProperties: false
      title: Comparison Filter
      description: >-
        A filter used to compare a specified attribute key to a given value using a defined comparison operation.
      properties:
        type:
          type: string
          default: eq
          enum:
          - eq
          - ne
          - gt
          - gte
          - lt
          - lte
          - in
          - nin
          description: >-
            Specifies the comparison operator: `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `nin`.

            - `eq`: equals

            - `ne`: not equal

            - `gt`: greater than

            - `gte`: greater than or equal

            - `lt`: less than

            - `lte`: less than or equal

            - `in`: in

            - `nin`: not in
        key:
          type: string
          description: The key to compare against the value.
        value:
          oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
            items:
              oneOf:
              - type: string
              - type: number
          description: The value to compare against the attribute key; supports string, number, or boolean types.
      required:
      - type
      - key
      - value
    BetaCompoundFilter:
      $recursiveAnchor: true
      type: object
      additionalProperties: false
      title: Compound Filter
      description: Combine multiple filters using `and` or `or`.
      properties:
        type:
          type: string
          description: "Type of operation: `and` or `or`."
          enum:
          - and
          - or
        filters:
          type: array
          description: Array of filters to combine. Items can be `ComparisonFilter` or `CompoundFilter`.
          items:
            oneOf:
            - $ref: "#/components/schemas/BetaComparisonFilter"
            - $recursiveRef: "#"
            discriminator:
              propertyName: type
      required:
      - type
      - filters
    BetaComputerAction:
      oneOf:
      - $ref: "#/components/schemas/BetaClickParam"
      - $ref: "#/components/schemas/BetaDoubleClickAction"
      - $ref: "#/components/schemas/BetaDragParam"
      - $ref: "#/components/schemas/BetaKeyPressAction"
      - $ref: "#/components/schemas/BetaMoveParam"
      - $ref: "#/components/schemas/BetaScreenshotParam"
      - $ref: "#/components/schemas/BetaScrollParam"
      - $ref: "#/components/schemas/BetaTypeParam"
      - $ref: "#/components/schemas/BetaWaitParam"
      discriminator:
        propertyName: type
    BetaComputerActionList:
      title: Computer Action List
      type: array
      description: |-
        Flattened batched actions for `computer_use`. Each action includes an `type` discriminator and action-specific fields.
      items:
        $ref: "#/components/schemas/BetaComputerAction"
    BetaComputerCallOutputItemParam:
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/Beta_AgentTagParam"
            description: The agent that produced this item.
          - type: "null"
        id:
          anyOf:
          - type: string
            description: The ID of the computer tool call output.
            example: cuo_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The ID of the computer tool call that produced the output.
        type:
          type: string
          enum:
          - computer_call_output
          description: The type of the computer tool call output. Always `computer_call_output`.
          default: computer_call_output
          x-stainless-const: true
        output:
          $ref: "#/components/schemas/BetaComputerScreenshotImage"
        acknowledged_safety_checks:
          anyOf:
          - items:
              $ref: "#/components/schemas/BetaComputerCallSafetyCheckParam"
            type: array
            description: The safety checks reported by the API that have been acknowledged by the developer.
          - type: "null"
        status:
          anyOf:
          - $ref: "#/components/schemas/BetaFunctionCallItemStatus"
            description: The status of the message input. One of `in_progress`, `completed`, or `incomplete`. Populated when input items are returned via API.
          - type: "null"
      type: object
      required:
      - call_id
      - type
      - output
      title: Computer tool call output
      description: The output of a computer tool call.
    BetaComputerCallOutputStatus:
      type: string
      enum:
      - completed
      - incomplete
      - failed
    BetaComputerCallSafetyCheckParam:
      properties:
        id:
          type: string
          description: The ID of the pending safety check.
        code:
          anyOf:
          - type: string
            description: The type of the pending safety check.
          - type: "null"
        message:
          anyOf:
          - type: string
            description: Details about the pending safety check.
          - type: "null"
      type: object
      required:
      - id
      description: A pending safety check for the computer call.
    BetaComputerEnvironment:
      type: string
      enum:
      - windows
      - mac
      - linux
      - ubuntu
      - browser
    BetaComputerScreenshotContent:
      properties:
        type:
          type: string
          enum:
          - computer_screenshot
          description: Specifies the event type. For a computer screenshot, this property is always set to `computer_screenshot`.
          default: computer_screenshot
          x-stainless-const: true
        image_url:
          anyOf:
          - type: string
            format: uri
            description: The URL of the screenshot image.
          - type: "null"
        file_id:
          anyOf:
          - type: string
            description: The identifier of an uploaded file that contains the screenshot.
          - type: "null"
        detail:
          $ref: "#/components/schemas/BetaImageDetail"
          description: The detail level of the screenshot image to be sent to the model. One of `high`, `low`, `auto`, or `original`. Defaults to `auto`.
        prompt_cache_breakpoint:
          $ref: "#/components/schemas/BetaPromptCacheBreakpointConfig"
      type: object
      required:
      - type
      - image_url
      - file_id
      - detail
      title: Computer screenshot
      description: A screenshot of a computer.
    BetaComputerScreenshotImage:
      type: object
      description: |-
        A computer screenshot image used with the computer use tool.
      properties:
        type:
          type: string
          enum:
          - computer_screenshot
          default: computer_screenshot
          description: >-
            Specifies the event type. For a computer screenshot, this property is  always set to `computer_screenshot`.
          x-stainless-const: true
        image_url:
          type: string
          format: uri
          description: The URL of the screenshot image.
        file_id:
          type: string
          description: The identifier of an uploaded file that contains the screenshot.
      required:
      - type
    BetaComputerTool:
      properties:
        type:
          type: string
          enum:
          - computer
          description: The type of the computer tool. Always `computer`.
          default: computer
          x-stainless-const: true
      type: object
      required:
      - type
      title: Computer
      description: A tool that controls a virtual computer. Learn more about the [computer tool](https://platform.openai.com/docs/guides/tools-computer-use).
    BetaComputerToolCall:
      type: object
      title: Computer tool call
      description: >-
        A tool call to a computer use tool. See the [computer use guide](/docs/guides/tools-computer-use) for more information.
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/BetaAgentTag"
          - type: "null"
          description: The agent that produced this item.
        type:
          type: string
          description: The type of the computer call. Always `computer_call`.
          enum:
          - computer_call
          default: computer_call
        id:
          type: string
          description: The unique ID of the computer call.
        call_id:
          type: string
          description: |-
            An identifier used when responding to the tool call with output.
        action:
          $ref: "#/components/schemas/BetaComputerAction"
        actions:
          $ref: "#/components/schemas/BetaComputerActionList"
        pending_safety_checks:
          type: array
          items:
            $ref: "#/components/schemas/BetaComputerCallSafetyCheckParam"
          description: |-
            The pending safety checks for the computer call.
        status:
          type: string
          description: |-
            The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - id
      - call_id
      - pending_safety_checks
      - status
    BetaComputerToolCallOutput:
      type: object
      title: Computer tool call output
      description: |-
        The output of a computer tool call.
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/BetaAgentTag"
          - type: "null"
          description: The agent that produced this item.
        type:
          type: string
          description: >-
            The type of the computer tool call output. Always `computer_call_output`.
          enum:
          - computer_call_output
          default: computer_call_output
          x-stainless-const: true
        id:
          type: string
          description: |-
            The ID of the computer tool call output.
        call_id:
          type: string
          description: |-
            The ID of the computer tool call that produced the output.
        acknowledged_safety_checks:
          type: array
          description: >-
            The safety checks reported by the API that have been acknowledged by the developer.
          items:
            $ref: "#/components/schemas/BetaComputerCallSafetyCheckParam"
        output:
          $ref: "#/components/schemas/BetaComputerScreenshotImage"
        status:
          type: string
          description: >-
            The status of the message input. One of `in_progress`, `completed`, or `incomplete`. Populated when input items are returned via API.
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - call_id
      - output
    BetaComputerToolCallOutputResource:
      allOf:
      - $ref: "#/components/schemas/BetaComputerToolCallOutput"
      - type: object
        properties:
          id:
            type: string
            description: |-
              The unique ID of the computer call tool output.
          status:
            description: >-
              The status of the message input. One of `in_progress`, `completed`, or `incomplete`. Populated when input items are returned via API.
            $ref: "#/components/schemas/BetaComputerCallOutputStatus"
          created_by:
            type: string
            description: |-
              The identifier of the actor that created the item.
        required:
        - id
        - status
    BetaComputerUsePreviewTool:
      properties:
        type:
          type: string
          enum:
          - computer_use_preview
          description: The type of the computer use tool. Always `computer_use_preview`.
          default: computer_use_preview
          x-stainless-const: true
        environment:
          $ref: "#/components/schemas/BetaComputerEnvironment"
          description: The type of computer environment to control.
        display_width:
          type: integer
          description: The width of the computer display.
        display_height:
          type: integer
          description: The height of the computer display.
      type: object
      required:
      - type
      - environment
      - display_width
      - display_height
      title: Computer use preview
      description: A tool that controls a virtual computer. Learn more about the [computer tool](https://platform.openai.com/docs/guides/tools-computer-use).
    BetaContainerAutoParam:
      properties:
        type:
          type: string
          enum:
          - container_auto
          description: Automatically creates a container for this request
          default: container_auto
          x-stainless-const: true
        file_ids:
          items:
            type: string
            example: file-123
          type: array
          maxItems: 50
          description: An optional list of uploaded files to make available to your code.
        memory_limit:
          anyOf:
          - $ref: "#/components/schemas/BetaContainerMemoryLimit"
            description: The memory limit for the container.
          - type: "null"
        network_policy:
          oneOf:
          - $ref: "#/components/schemas/BetaContainerNetworkPolicyDisabledParam"
          - $ref: "#/components/schemas/BetaContainerNetworkPolicyAllowlistParam"
          description: Network access policy for the container.
          discriminator:
            propertyName: type
        skills:
          items:
            oneOf:
            - $ref: "#/components/schemas/BetaSkillReferenceParam"
            - $ref: "#/components/schemas/BetaInlineSkillParam"
            discriminator:
              propertyName: type
          type: array
          maxItems: 200
          description: An optional list of skills referenced by id or inline data.
      type: object
      required:
      - type
    BetaContainerFileCitationBody:
      properties:
        type:
          type: string
          enum:
          - container_file_citation
          description: The type of the container file citation. Always `container_file_citation`.
          default: container_file_citation
          x-stainless-const: true
        container_id:
          type: string
          description: The ID of the container file.
        file_id:
          type: string
          description: The ID of the file.
        start_index:
          type: integer
          description: The index of the first character of the container file citation in the message.
        end_index:
          type: integer
          description: The index of the last character of the container file citation in the message.
        filename:
          type: string
          description: The filename of the container file cited.
      type: object
      required:
      - type
      - container_id
      - file_id
      - start_index
      - end_index
      - filename
      title: Container file citation
      description: A citation for a container file used to generate a model response.
    BetaContainerFileCitationParam:
      properties:
        type:
          type: string
          enum:
          - container_file_citation
          description: The citation type. Always `container_file_citation`.
          default: container_file_citation
          x-stainless-const: true
        start_index:
          type: integer
          minimum: 0
          description: The index of the first character of the citation in the message.
        end_index:
          type: integer
          minimum: 0
          description: The index of the last character of the citation in the message.
        container_id:
          type: string
          description: The ID of the container.
          example: cntr_123
        file_id:
          type: string
          description: The ID of the container file.
          example: cfile_123
        filename:
          type: string
          description: The filename of the container file cited.
      type: object
      required:
      - type
      - start_index
      - end_index
      - container_id
      - file_id
      - filename
    BetaContainerMemoryLimit:
      type: string
      enum:
      - 1g
      - 4g
      - 16g
      - 64g
    BetaContainerNetworkPolicyAllowlistParam:
      properties:
        type:
          type: string
          enum:
          - allowlist
          description: Allow outbound network access only to specified domains. Always `allowlist`.
          default: allowlist
          x-stainless-const: true
        allowed_domains:
          items:
            type: string
          type: array
          minItems: 1
          description: A list of allowed domains when type is `allowlist`.
        domain_secrets:
          items:
            $ref: "#/components/schemas/BetaContainerNetworkPolicyDomainSecretParam"
          type: array
          minItems: 1
          description: Optional domain-scoped secrets for allowlisted domains.
      type: object
      required:
      - type
      - allowed_domains
    BetaContainerNetworkPolicyDisabledParam:
      properties:
        type:
          type: string
          enum:
          - disabled
          description: Disable outbound network access. Always `disabled`.
          default: disabled
          x-stainless-const: true
      type: object
      required:
      - type
    BetaContainerNetworkPolicyDomainSecretParam:
      properties:
        domain:
          type: string
          minLength: 1
          description: The domain associated with the secret.
        name:
          type: string
          minLength: 1
          description: The name of the secret to inject for the domain.
        value:
          type: string
          maxLength: 10485760
          minLength: 1
          description: The secret value to inject for the domain.
      type: object
      required:
      - domain
      - name
      - value
    BetaContainerReferenceParam:
      properties:
        type:
          type: string
          enum:
          - container_reference
          description: References a container created with the /v1/containers endpoint
          default: container_reference
          x-stainless-const: true
        container_id:
          type: string
          description: The ID of the referenced container.
          example: cntr_123
      type: object
      required:
      - type
      - container_id
    BetaContainerReferenceResource:
      properties:
        type:
          type: string
          enum:
          - container_reference
          description: The environment type. Always `container_reference`.
          default: container_reference
          x-stainless-const: true
        container_id:
          type: string
      type: object
      required:
      - type
      - container_id
      title: Container Reference
      description: Represents a container created with /v1/containers.
    BetaContextManagementParam:
      properties:
        type:
          type: string
          description: The context management entry type. Currently only 'compaction' is supported.
        compact_threshold:
          anyOf:
          - type: integer
            minimum: 1000
            description: Token threshold at which compaction should be triggered for this entry.
          - type: "null"
      type: object
      required:
      - type
    BetaConversationParam:
      description: >-
        The conversation that this response belongs to. Items from this conversation are prepended to `input_items` for this response request. Input items and output items from this response are automatically added to this conversation after this response completes.
      default: null
      oneOf:
      - type: string
        title: Conversation ID
        description: |-
          The unique ID of the conversation.
      - $ref: "#/components/schemas/BetaConversationParam-2"
    BetaConversationParam-2:
      properties:
        id:
          type: string
          description: The unique ID of the conversation.
          example: conv_123
      type: object
      required:
      - id
      title: Conversation object
      description: The conversation that this response belongs to.
    BetaCoordParam:
      properties:
        x:
          type: integer
          description: The x-coordinate.
        y:
          type: integer
          description: The y-coordinate.
      type: object
      required:
      - x
      - y
      title: Coordinate
      description: "An x/y coordinate pair, e.g. `{ x: 100, y: 200 }`."
    BetaCreateModelResponseProperties:
      allOf:
      - $ref: "#/components/schemas/BetaModelResponseProperties"
      - type: object
        properties:
          prompt_cache_options:
            $ref: "#/components/schemas/BetaPromptCacheOptionsParam"
          top_logprobs:
            description: >-
              An integer between 0 and 20 specifying the maximum number of most likely tokens to return at each token position, each with an associated log probability. In some cases, the number of returned tokens may be fewer than requested.
            type: integer
            minimum: 0
            maximum: 20
    BetaCreateResponse:
      allOf:
      - $ref: "#/components/schemas/BetaCreateModelResponseProperties"
      - $ref: "#/components/schemas/BetaResponseProperties"
      - type: object
        properties:
          truncation:
            deprecated: true
            anyOf:
            - type: string
              description: >-
                The truncation strategy to use for the model response.

                - `auto`: If the input to this Response exceeds   the model's context window size, the model will truncate the   response to fit the context window by dropping items from the beginning of the conversation.

                - `disabled` (default): If the input size will exceed the context window   size for a model, the request will fail with a 400 error.
              enum:
              - auto
              - disabled
              default: disabled
            - type: "null"
          reasoning:
            anyOf:
            - $ref: "#/components/schemas/BetaReasoning"
            - type: "null"
          input:
            $ref: "#/components/schemas/BetaInputParam"
          include:
            anyOf:
            - type: array
              description: >-
                Specify additional output data to include in the model response. Currently supported values are:

                - `web_search_call.action.sources`: Include the sources of the web search tool call.

                - `code_interpreter_call.outputs`: Includes the outputs of python code execution in code interpreter tool call items.

                - `computer_call_output.output.image_url`: Include image urls from the computer call output.

                - `file_search_call.results`: Include the search results of the file search tool call.

                - `message.input_image.image_url`: Include image urls from the input message.

                - `message.output_text.logprobs`: Include logprobs with assistant messages.

                - `reasoning.encrypted_content`: Includes an encrypted version of reasoning tokens in reasoning item outputs. This enables reasoning items to be used in multi-turn conversations when using the Responses API statelessly (like when the `store` parameter is set to `false`, or when an organization is enrolled in the zero data retention program).
              items:
                $ref: "#/components/schemas/BetaIncludeEnum"
            - type: "null"
          parallel_tool_calls:
            anyOf:
            - type: boolean
              description: |-
                Whether to allow the model to run tool calls in parallel.
              default: true
            - type: "null"
          store:
            anyOf:
            - type: boolean
              description: >-
                Whether to store the generated model response for later retrieval via API.
              default: true
            - type: "null"
          instructions:
            anyOf:
            - type: string
              description: >-
                A system (or developer) message inserted into the model's context.

                When using along with `previous_response_id`, the instructions from a previous response will not be carried over to the next response. This makes it simple to swap out system (or developer) messages in new responses.
            - type: "null"
          moderation:
            anyOf:
            - $ref: "#/components/schemas/BetaModerationParam"
              description: >-
                Configuration for running moderation on the input and output of this response.
            - type: "null"
          stream:
            anyOf:
            - description: |-
                If set to true, the model response data will be streamed to the client as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format). See the [Streaming section below](/docs/api-reference/responses-streaming) for more information.
              type: boolean
              default: false
            - type: "null"
          stream_options:
            $ref: "#/components/schemas/BetaResponseStreamOptions"
          conversation:
            anyOf:
            - $ref: "#/components/schemas/BetaConversationParam"
            - type: "null"
          context_management:
            anyOf:
            - type: array
              description: |-
                Context management configuration for this request.
              minItems: 1
              items:
                $ref: "#/components/schemas/BetaContextManagementParam"
            - type: "null"
          max_output_tokens:
            anyOf:
            - description: >-
                An upper bound for the number of tokens that can be generated for a response, including visible output tokens and [reasoning tokens](/docs/guides/reasoning).
              type: integer
              minimum: 16
            - type: "null"
          multi_agent:
            anyOf:
            - $ref: "#/components/schemas/BetaMultiAgentParam"
              description: Configuration for server-hosted multi-agent execution.
            - type: "null"
    BetaCustomGrammarFormatParam:
      properties:
        type:
          type: string
          enum:
          - grammar
          description: Grammar format. Always `grammar`.
          default: grammar
          x-stainless-const: true
        syntax:
          $ref: "#/components/schemas/BetaGrammarSyntax1"
          description: The syntax of the grammar definition. One of `lark` or `regex`.
        definition:
          type: string
          description: The grammar definition.
      type: object
      required:
      - type
      - syntax
      - definition
      title: Grammar format
      description: A grammar defined by the user.
    BetaCustomTextFormatParam:
      properties:
        type:
          type: string
          enum:
          - text
          description: Unconstrained text format. Always `text`.
          default: text
          x-stainless-const: true
      type: object
      required:
      - type
      title: Text format
      description: Unconstrained free-form text.
    BetaCustomToolCall:
      type: object
      title: Custom tool call
      description: |-
        A call to a custom tool created by the model.
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/BetaAgentTag"
          - type: "null"
          description: The agent that produced this item.
        type:
          type: string
          enum:
          - custom_tool_call
          x-stainless-const: true
          description: |-
            The type of the custom tool call. Always `custom_tool_call`.
        id:
          type: string
          description: |-
            The unique ID of the custom tool call in the OpenAI platform.
        call_id:
          type: string
          description: >-
            An identifier used to map this custom tool call to a tool call output.
        caller:
          anyOf:
          - $ref: "#/components/schemas/BetaToolCallCaller"
          - type: "null"
        namespace:
          type: string
          description: |-
            The namespace of the custom tool being called.
        name:
          type: string
          description: |-
            The name of the custom tool being called.
        input:
          type: string
          description: |-
            The input for the custom tool call generated by the model.
      required:
      - type
      - call_id
      - name
      - input
    BetaCustomToolCallOutput:
      type: object
      title: Custom tool call output
      description: >-
        The output of a custom tool call from your code, being sent back to the model.
      properties:
        agent:
          anyOf:
          - $ref: "#/components/schemas/BetaAgentTag"
          - type: "null"
          description: The agent that produced this item.
        type:
          type: string
          enum:
          - custom_tool_call_output
          x-stainless-const: true
          description: >-
            The type of the custom tool call output. Always `custom_tool_call_output`.
        id:
          type: string
          description: |-
            The unique ID of the custom tool call output in the OpenAI platform.
        call_id:
          type: string
          description: >-
            The call ID, used to map this custom tool call output to a custom tool call.
        caller:
          anyOf:
          - $ref: "#/components/schemas/BetaToolCallCallerParam"
          - type: "null"
        output:
          description: |-
            The output from the custom tool call generated by your code. Can be a string or an list of output content.
          oneOf:
          - type: string
            description: |-
              A string of the output of the custom tool call.
            title: string output
          - type: array
            items:
              $ref: "#/components/schemas/BetaFunctionAndCustomToolCallOutput"
            title: output content list
            description: |-
              Text, image, or file output of the custom tool call.
      required:
      - type
      - call_id
      - output
    BetaCustomToolCallOutputResource:
      title: ResponseCustomToolCallOutputItem
      allOf:
      - $ref: "#/components/schemas/BetaCustomToolCallOutput"
      - type: object
        properties:
          id:
            type: string
            description: |-
              The unique ID of the custom tool call output item.
          status:
            description: |-
              The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.
            $ref: "#/components/schemas/BetaFunctionCallOutputStatusEnum"
[...]
