openapi: 3.1.0
info:
  title: OpenAI API — Audio
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Audio
  description: Turn audio into text or text into audio.
paths:
  /audio/speech:
    post:
      operationId: createSpeech
      tags:
      - Audio
      summary: |-
        Generates audio from the input text.
        Returns the audio file content, or a stream of audio events.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSpeechRequest"
      responses:
        "200":
          description: OK
          headers:
            Transfer-Encoding:
              schema:
                type: string
              description: chunked
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            text/event-stream:
              schema:
                $ref: "#/components/schemas/CreateSpeechResponseStreamEvent"
  /audio/transcriptions:
    post:
      operationId: createTranscription
      tags:
      - Audio
      summary: >-
        Transcribes audio into the input language.

        Returns a transcription object in `json`, `diarized_json`, or `verbose_json` format, or a stream of transcript events.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreateTranscriptionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/CreateTranscriptionResponseJson"
                - $ref: "#/components/schemas/CreateTranscriptionResponseDiarizedJson"
                - $ref: "#/components/schemas/CreateTranscriptionResponseVerboseJson"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/CreateTranscriptionResponseStreamEvent"
  /audio/translations:
    post:
      operationId: createTranslation
      tags:
      - Audio
      summary: Translates audio into English.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreateTranslationRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/CreateTranslationResponseJson"
                - $ref: "#/components/schemas/CreateTranslationResponseVerboseJson"
  /audio/voice_consents:
    post:
      operationId: createVoiceConsent
      tags:
      - Audio
      summary: Upload a voice consent recording.
      description: >-
        Upload a consent recording that authorizes creation of a custom voice.

        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices) for requirements and best practices. Custom voices are limited to eligible customers.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreateVoiceConsentRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceConsentResource"
    get:
      operationId: listVoiceConsents
      tags:
      - Audio
      summary: Returns a list of voice consent recordings.
      description: >-
        List consent recordings available to your organization for creating custom voices.

        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.
      parameters:
      - in: query
        name: after
        required: false
        schema:
          type: string
        description: >-
          A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceConsentListResource"
  /audio/voice_consents/{consent_id}:
    get:
      operationId: getVoiceConsent
      tags:
      - Audio
      summary: Retrieves a voice consent recording.
      description: >-
        Retrieve consent recording metadata used for creating custom voices.

        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.
      parameters:
      - in: path
        name: consent_id
        required: true
        schema:
          type: string
        description: The ID of the consent recording to retrieve.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceConsentResource"
    post:
      operationId: updateVoiceConsent
      tags:
      - Audio
      summary: Updates a voice consent recording (metadata only).
      description: >-
        Update consent recording metadata used for creating custom voices. This endpoint updates metadata only and does not replace the underlying audio.

        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.
      parameters:
      - in: path
        name: consent_id
        required: true
        schema:
          type: string
        description: The ID of the consent recording to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVoiceConsentRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceConsentResource"
    delete:
      operationId: deleteVoiceConsent
      tags:
      - Audio
      summary: Deletes a voice consent recording.
      description: >-
        Delete a consent recording that was uploaded for creating custom voices.

        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.
      parameters:
      - in: path
        name: consent_id
        required: true
        schema:
          type: string
        description: The ID of the consent recording to delete.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceConsentDeletedResource"
  /audio/voices:
    post:
      operationId: createVoice
      tags:
      - Audio
      summary: Creates a custom voice.
      description: >-
        Create a custom voice you can use for audio output (for example, in Text-to-Speech and the Realtime API). This requires an audio sample and a previously uploaded consent recording.

        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices) for requirements and best practices. Custom voices are limited to eligible customers.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreateVoiceRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceResource"
components:
  schemas:
    AudioResponseFormat:
      description: >-
        The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, `vtt`, or `diarized_json`. For `gpt-4o-transcribe` and `gpt-4o-mini-transcribe`, the only supported format is `json`. For `gpt-4o-transcribe-diarize`, the supported formats are `json`, `text`, and `diarized_json`, with `diarized_json` required to receive speaker annotations.
      type: string
      enum:
      - json
      - text
      - srt
      - verbose_json
      - vtt
      - diarized_json
      default: json
    CreateSpeechRequest:
      type: object
      additionalProperties: false
      properties:
        model:
          description: >-
            One of the available [TTS models](/docs/models#tts): `tts-1`, `tts-1-hd`, `gpt-4o-mini-tts`, or `gpt-4o-mini-tts-2025-12-15`.
          anyOf:
          - type: string
          - type: string
            enum:
            - tts-1
            - tts-1-hd
            - gpt-4o-mini-tts
            - gpt-4o-mini-tts-2025-12-15
        input:
          type: string
          description: The text to generate audio for. The maximum length is 4096 characters.
          maxLength: 4096
        instructions:
          type: string
          description: Control the voice of your generated audio with additional instructions. Does not work with `tts-1` or `tts-1-hd`.
          maxLength: 4096
        voice:
          description: 'The voice to use when generating the audio. Supported built-in voices are `alloy`, `ash`, `ballad`, `coral`, `echo`, `fable`, `onyx`, `nova`, `sage`, `shimmer`, `verse`, `marin`, and `cedar`. You may also provide a custom voice object with an `id`, for example `{ "id": "voice_1234" }`. Previews of the voices are available in the [Text to speech guide](/docs/guides/text-to-speech#voice-options).'
          $ref: "#/components/schemas/VoiceIdsOrCustomVoice"
        response_format:
          description: The format to audio in. Supported formats are `mp3`, `opus`, `aac`, `flac`, `wav`, and `pcm`.
          default: mp3
          type: string
          enum:
          - mp3
          - opus
          - aac
          - flac
          - wav
          - pcm
        speed:
          description: The speed of the generated audio. Select a value from `0.25` to `4.0`. `1.0` is the default.
          type: number
          default: 1
          minimum: 0.25
          maximum: 4
        stream_format:
          description: The format to stream the audio in. Supported formats are `sse` and `audio`. `sse` is not supported for `tts-1` or `tts-1-hd`.
          type: string
          default: audio
          enum:
          - sse
          - audio
      required:
      - model
      - input
      - voice
    CreateSpeechResponseStreamEvent:
      anyOf:
      - $ref: "#/components/schemas/SpeechAudioDeltaEvent"
      - $ref: "#/components/schemas/SpeechAudioDoneEvent"
      discriminator:
        propertyName: type
    CreateTranscriptionRequest:
      type: object
      additionalProperties: false
      properties:
        file:
          description: >-
            The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.
          type: string
          format: binary
        model:
          description: >-
            ID of the model to use. The options are `gpt-transcribe`, `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, `gpt-4o-mini-transcribe-2025-12-15`, `whisper-1` (which is powered by our open source Whisper V2 model), and `gpt-4o-transcribe-diarize`.
          example: gpt-4o-transcribe
          anyOf:
          - type: string
          - type: string
            enum:
            - whisper-1
            - gpt-transcribe
            - gpt-4o-transcribe
            - gpt-4o-mini-transcribe
            - gpt-4o-mini-transcribe-2025-12-15
            - gpt-4o-transcribe-diarize
            x-stainless-const: true
        language:
          description: >-
            The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (e.g. `en`) format will improve accuracy and latency.
          type: string
        languages:
          description: >-
            Possible languages of the input audio, in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format. Supported by `gpt-transcribe`.
          type: array
          minItems: 1
          items:
            type: string
        keywords:
          description: >-
            Words or phrases to guide transcription of the input audio. Supported by `gpt-transcribe`.
          type: array
          items:
            type: string
        prompt:
          description: >-
            An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should match the audio language. This field is not supported when using `gpt-4o-transcribe-diarize`.
          type: string
        response_format:
          $ref: "#/components/schemas/AudioResponseFormat"
        temperature:
          description: >-
            The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.
          type: number
          default: 0
        include:
          description: >-
            Additional information to include in the transcription response. `logprobs` will return the log probabilities of the tokens in the response to understand the model's confidence in the transcription. `logprobs` only works with response_format set to `json` and only with the models `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, and `gpt-4o-mini-transcribe-2025-12-15`. This field is not supported when using `gpt-4o-transcribe-diarize`.
          type: array
          items:
            $ref: "#/components/schemas/TranscriptionInclude"
        timestamp_granularities:
          description: >-
            The timestamp granularities to populate for this transcription. `response_format` must be set `verbose_json` to use timestamp granularities. Either or both of these options are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency. This option is not available for `gpt-4o-transcribe-diarize`.
          type: array
          items:
            type: string
            enum:
            - word
            - segment
          default:
          - segment
        stream:
          anyOf:
          - description: |-
              If set to true, the model response data will be streamed to the client as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format). See the [Streaming section of the Speech-to-Text guide](/docs/guides/speech-to-text?lang=curl#streaming-transcriptions) for more information.
              Note: Streaming is not supported for the `whisper-1` model and will be ignored.
            type: boolean
            default: false
          - type: "null"
        chunking_strategy:
          anyOf:
          - description: 'Controls how the audio is cut into chunks. When set to `"auto"`, the server first normalizes loudness and then uses voice activity detection (VAD) to choose boundaries. `server_vad` object can be provided to tweak VAD detection parameters manually. If unset, the audio is transcribed as a single block. Required when using `gpt-4o-transcribe-diarize` for inputs longer than 30 seconds. '
            anyOf:
            - type: string
              enum:
              - auto
              default: auto
              description: >-
                Automatically set chunking parameters based on the audio. Must be set to `"auto"`.
              x-stainless-const: true
            - $ref: "#/components/schemas/VadConfig"
          - type: "null"
        known_speaker_names:
          description: >-
            Optional list of speaker names that correspond to the audio samples provided in `known_speaker_references[]`. Each entry should be a short identifier (for example `customer` or `agent`). Up to 4 speakers are supported.
          type: array
          maxItems: 4
          items:
            type: string
        known_speaker_references:
          description: |-
            Optional list of audio samples (as [data URLs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URLs)) that contain known speaker references matching `known_speaker_names[]`. Each sample must be between 2 and 10 seconds, and can use any of the same input audio formats supported by `file`.
          type: array
          maxItems: 4
          items:
            type: string
      required:
      - file
      - model
    CreateTranscriptionResponseDiarizedJson:
      type: object
      description: >-
        Represents a diarized transcription response returned by the model, including the combined transcript and speaker-segment annotations.
      properties:
        task:
          type: string
          description: The type of task that was run. Always `transcribe`.
          enum:
          - transcribe
          x-stainless-const: true
        duration:
          type: number
          format: double
          description: Duration of the input audio in seconds.
        text:
          type: string
          description: The concatenated transcript text for the entire audio input.
        segments:
          type: array
          description: Segments of the transcript annotated with timestamps and speaker labels.
          items:
            $ref: "#/components/schemas/TranscriptionDiarizedSegment"
        usage:
          type: object
          description: Token or duration usage statistics for the request.
          oneOf:
          - $ref: "#/components/schemas/TranscriptTextUsageTokens"
            title: Token Usage
          - $ref: "#/components/schemas/TranscriptTextUsageDuration"
            title: Duration Usage
          discriminator:
            propertyName: type
      required:
      - task
      - duration
      - text
      - segments
    CreateTranscriptionResponseJson:
      type: object
      description: Represents a transcription response returned by model, based on the provided input.
      properties:
        text:
          type: string
          description: The transcribed text.
        languages:
          type: array
          description: >-
            The languages detected in the audio. Returned by `gpt-transcribe`. An empty array indicates that no language could be reliably detected.
          items:
            $ref: "#/components/schemas/TranscriptionLanguage"
        logprobs:
          type: array
          optional: true
          description: >-
            The log probabilities of the tokens in the transcription. Only returned with the models `gpt-4o-transcribe` and `gpt-4o-mini-transcribe` if `logprobs` is added to the `include` array.
          items:
            type: object
            properties:
              token:
                type: string
                description: The token in the transcription.
              logprob:
                type: number
                description: The log probability of the token.
              bytes:
                type: array
                items:
                  type: number
                description: The bytes of the token.
        usage:
          type: object
          description: Token usage statistics for the request.
          oneOf:
          - $ref: "#/components/schemas/TranscriptTextUsageTokens"
            title: Token Usage
          - $ref: "#/components/schemas/TranscriptTextUsageDuration"
            title: Duration Usage
      required:
      - text
    CreateTranscriptionResponseStreamEvent:
      anyOf:
      - $ref: "#/components/schemas/TranscriptTextSegmentEvent"
      - $ref: "#/components/schemas/TranscriptTextDeltaEvent"
      - $ref: "#/components/schemas/TranscriptTextDoneEvent"
      discriminator:
        propertyName: type
    CreateTranscriptionResponseVerboseJson:
      type: object
      description: Represents a verbose json transcription response returned by model, based on the provided input.
      properties:
        language:
          type: string
          description: The language of the input audio.
        duration:
          type: number
          format: double
          description: The duration of the input audio.
        text:
          type: string
          description: The transcribed text.
        words:
          type: array
          description: Extracted words and their corresponding timestamps.
          items:
            $ref: "#/components/schemas/TranscriptionWord"
        segments:
          type: array
          description: Segments of the transcribed text and their corresponding details.
          items:
            $ref: "#/components/schemas/TranscriptionSegment"
        usage:
          $ref: "#/components/schemas/TranscriptTextUsageDuration"
      required:
      - language
      - duration
      - text
    CreateTranslationRequest:
      type: object
      additionalProperties: false
      properties:
        file:
          description: >-
            The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.
          type: string
          format: binary
        model:
          description: >-
            ID of the model to use. Only `whisper-1` (which is powered by our open source Whisper V2 model) is currently available.
          example: whisper-1
          anyOf:
          - type: string
          - type: string
            enum:
            - whisper-1
            x-stainless-const: true
        prompt:
          description: >-
            An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should be in English.
          type: string
        response_format:
          description: >-
            The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, or `vtt`.
          type: string
          enum:
          - json
          - text
          - srt
          - verbose_json
          - vtt
          default: json
        temperature:
          description: >-
            The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.
          type: number
          default: 0
      required:
      - file
      - model
    CreateTranslationResponseJson:
      type: object
      properties:
        text:
          type: string
      required:
      - text
    CreateTranslationResponseVerboseJson:
      type: object
      properties:
        language:
          type: string
          description: The language of the output translation (always `english`).
        duration:
          type: number
          format: double
          description: The duration of the input audio.
        text:
          type: string
          description: The translated text.
        segments:
          type: array
          description: Segments of the translated text and their corresponding details.
          items:
            $ref: "#/components/schemas/TranscriptionSegment"
      required:
      - language
      - duration
      - text
    CreateVoiceConsentRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: The label to use for this consent recording.
        recording:
          type: string
          format: binary
          description: >-
            The consent audio recording file. Maximum size is 10 MiB.

            Supported MIME types: `audio/mpeg`, `audio/wav`, `audio/x-wav`, `audio/ogg`, `audio/aac`, `audio/flac`, `audio/webm`, `audio/mp4`.
        language:
          type: string
          description: The BCP 47 language tag for the consent phrase (for example, `en-US`).
      required:
      - name
      - recording
      - language
    CreateVoiceRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: The name of the new voice.
        audio_sample:
          type: string
          format: binary
          description: >-
            The sample audio recording file. Maximum size is 10 MiB.

            Supported MIME types: `audio/mpeg`, `audio/wav`, `audio/x-wav`, `audio/ogg`, `audio/aac`, `audio/flac`, `audio/webm`, `audio/mp4`.
        consent:
          type: string
          description: The consent recording ID (for example, `cons_1234`).
      required:
      - name
      - audio_sample
      - consent
    SpeechAudioDeltaEvent:
      type: object
      description: Emitted for each chunk of audio data generated during speech synthesis.
      properties:
        type:
          type: string
          description: |-
            The type of the event. Always `speech.audio.delta`.
          enum:
          - speech.audio.delta
          x-stainless-const: true
        audio:
          type: string
          description: |-
            A chunk of Base64-encoded audio data.
      required:
      - type
      - audio
    SpeechAudioDoneEvent:
      type: object
      description: Emitted when the speech synthesis is complete and all audio has been streamed.
      properties:
        type:
          type: string
          description: |-
            The type of the event. Always `speech.audio.done`.
          enum:
          - speech.audio.done
          x-stainless-const: true
        usage:
          type: object
          description: |-
            Token usage statistics for the request.
          properties:
            input_tokens:
              type: integer
              description: Number of input tokens in the prompt.
            output_tokens:
              type: integer
              description: Number of output tokens generated.
            total_tokens:
              type: integer
              description: Total number of tokens used (input + output).
          required:
          - input_tokens
          - output_tokens
          - total_tokens
      required:
      - type
      - usage
    TranscriptionDiarizedSegment:
      type: object
      description: A segment of diarized transcript text with speaker metadata.
      properties:
        type:
          type: string
          description: |-
            The type of the segment. Always `transcript.text.segment`.
          enum:
          - transcript.text.segment
          x-stainless-const: true
        id:
          type: string
          description: Unique identifier for the segment.
        start:
          type: number
          format: double
          description: Start timestamp of the segment in seconds.
        end:
          type: number
          format: double
          description: End timestamp of the segment in seconds.
        text:
          type: string
          description: Transcript text for this segment.
        speaker:
          type: string
          description: >-
            Speaker label for this segment. When known speakers are provided, the label matches `known_speaker_names[]`. Otherwise speakers are labeled sequentially using capital letters (`A`, `B`, ...).
      required:
      - type
      - id
      - start
      - end
      - text
      - speaker
    TranscriptionInclude:
      type: string
      enum:
      - logprobs
      default: []
    TranscriptionLanguage:
      type: object
      description: A language detected in transcribed audio.
      properties:
        code:
          type: string
          description: The code of a language detected in the audio.
      required:
      - code
    TranscriptionSegment:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the segment.
        seek:
          type: integer
          description: Seek offset of the segment.
        start:
          type: number
          format: double
          description: Start time of the segment in seconds.
        end:
          type: number
          format: double
          description: End time of the segment in seconds.
        text:
          type: string
          description: Text content of the segment.
        tokens:
          type: array
          items:
            type: integer
          description: Array of token IDs for the text content.
        temperature:
          type: number
          format: float
          description: Temperature parameter used for generating the segment.
        avg_logprob:
          type: number
          format: float
          description: Average logprob of the segment. If the value is lower than -1, consider the logprobs failed.
        compression_ratio:
          type: number
          format: float
          description: Compression ratio of the segment. If the value is greater than 2.4, consider the compression failed.
        no_speech_prob:
          type: number
          format: float
          description: Probability of no speech in the segment. If the value is higher than 1.0 and the `avg_logprob` is below -1, consider this segment silent.
      required:
      - id
      - seek
      - start
      - end
      - text
      - tokens
      - temperature
      - avg_logprob
      - compression_ratio
      - no_speech_prob
    TranscriptionWord:
      type: object
      properties:
        word:
          type: string
          description: The text content of the word.
        start:
          type: number
          format: double
          description: Start time of the word in seconds.
        end:
          type: number
          format: double
          description: End time of the word in seconds.
      required:
      - word
      - start
      - end
    TranscriptTextDeltaEvent:
      type: object
      description: Emitted when there is an additional text delta. This is also the first event emitted when the transcription starts. Only emitted when you [create a transcription](/docs/api-reference/audio/create-transcription) with the `Stream` parameter set to `true`.
      properties:
        type:
          type: string
          description: |-
            The type of the event. Always `transcript.text.delta`.
          enum:
          - transcript.text.delta
          x-stainless-const: true
        delta:
          type: string
          description: |-
            The text delta that was additionally transcribed.
        logprobs:
          type: array
          description: >-
            The log probabilities of the delta. Only included if you [create a transcription](/docs/api-reference/audio/create-transcription) with the `include[]` parameter set to `logprobs`.
          items:
            type: object
            properties:
              token:
                type: string
                description: |-
                  The token that was used to generate the log probability.
              logprob:
                type: number
                description: |-
                  The log probability of the token.
              bytes:
                type: array
                items:
                  type: integer
                description: |-
                  The bytes that were used to generate the log probability.
        segment_id:
          type: string
          description: >-
            Identifier of the diarized segment that this delta belongs to. Only present when using `gpt-4o-transcribe-diarize`.
      required:
      - type
      - delta
    TranscriptTextDoneEvent:
      type: object
      description: Emitted when the transcription is complete. Contains the complete transcription text. Only emitted when you [create a transcription](/docs/api-reference/audio/create-transcription) with the `Stream` parameter set to `true`.
      properties:
        type:
          type: string
          description: |-
            The type of the event. Always `transcript.text.done`.
          enum:
          - transcript.text.done
          x-stainless-const: true
        text:
          type: string
          description: |-
            The text that was transcribed.
        languages:
          type: array
          description: >-
            The languages detected in the audio. Returned by `gpt-transcribe`. An empty array indicates that no language could be reliably detected.
          items:
            $ref: "#/components/schemas/TranscriptionLanguage"
        logprobs:
          type: array
          description: >-
            The log probabilities of the individual tokens in the transcription. Only included if you [create a transcription](/docs/api-reference/audio/create-transcription) with the `include[]` parameter set to `logprobs`.
          items:
            type: object
            properties:
              token:
                type: string
                description: |-
                  The token that was used to generate the log probability.
              logprob:
                type: number
                description: |-
                  The log probability of the token.
              bytes:
                type: array
                items:
                  type: integer
                description: |-
                  The bytes that were used to generate the log probability.
        usage:
          $ref: "#/components/schemas/TranscriptTextUsageTokens"
      required:
      - type
      - text
    TranscriptTextSegmentEvent:
      type: object
      description: >-
        Emitted when a diarized transcription returns a completed segment with speaker information. Only emitted when you [create a transcription](/docs/api-reference/audio/create-transcription) with `stream` set to `true` and `response_format` set to `diarized_json`.
      properties:
        type:
          type: string
          description: The type of the event. Always `transcript.text.segment`.
          enum:
          - transcript.text.segment
          x-stainless-const: true
        id:
          type: string
          description: Unique identifier for the segment.
        start:
          type: number
          format: double
          description: Start timestamp of the segment in seconds.
        end:
          type: number
          format: double
          description: End timestamp of the segment in seconds.
        text:
          type: string
          description: Transcript text for this segment.
        speaker:
          type: string
          description: Speaker label for this segment.
      required:
      - type
      - id
      - start
      - end
      - text
      - speaker
    TranscriptTextUsageDuration:
      type: object
      title: Duration Usage
      description: Usage statistics for models billed by audio input duration.
      properties:
        type:
          type: string
          enum:
          - duration
          description: The type of the usage object. Always `duration` for this variant.
          x-stainless-const: true
        seconds:
          type: number
          format: double
          description: Duration of the input audio in seconds.
      required:
      - type
      - seconds
    TranscriptTextUsageTokens:
      type: object
      title: Token Usage
      description: Usage statistics for models billed by token usage.
      properties:
        type:
          type: string
          enum:
          - tokens
          description: The type of the usage object. Always `tokens` for this variant.
          x-stainless-const: true
        input_tokens:
          type: integer
          description: Number of input tokens billed for this request.
        input_token_details:
          type: object
          description: Details about the input tokens billed for this request.
          properties:
            text_tokens:
              type: integer
              description: Number of text tokens billed for this request.
            audio_tokens:
              type: integer
              description: Number of audio tokens billed for this request.
        output_tokens:
          type: integer
          description: Number of output tokens generated.
        total_tokens:
          type: integer
          description: Total number of tokens used (input + output).
      required:
      - type
      - input_tokens
      - output_tokens
      - total_tokens
    UpdateVoiceConsentRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: The updated label for this consent recording.
      required:
      - name
    VadConfig:
      type: object
      additionalProperties: false
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - server_vad
          description: Must be set to `server_vad` to enable manual chunking using server side VAD.
        prefix_padding_ms:
          type: integer
          default: 300
          description: |-
            Amount of audio to include before the VAD detected speech (in  milliseconds).
        silence_duration_ms:
          type: integer
          default: 200
          description: |-
            Duration of silence to detect speech stop (in milliseconds). With shorter values the model will respond more quickly,  but may jump in on short pauses from the user.
        threshold:
          type: number
          default: 0.5
          description: >-
            Sensitivity threshold (0.0 to 1.0) for voice activity detection. A  higher threshold will require louder audio to activate the model, and  thus might perform better in noisy environments.
    VoiceConsentDeletedResource:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: The consent recording identifier.
          example: cons_1234
        object:
          type: string
          enum:
          - audio.voice_consent
          x-stainless-const: true
        deleted:
          type: boolean
      required:
      - id
      - object
      - deleted
    VoiceConsentListResource:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - list
          x-stainless-const: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/VoiceConsentResource"
        first_id:
          anyOf:
          - type: string
          - type: "null"
        last_id:
          anyOf:
          - type: string
          - type: "null"
        has_more:
          type: boolean
      required:
      - object
      - data
      - has_more
    VoiceConsentResource:
      type: object
      title: Voice consent
      description: A consent recording used to authorize creation of a custom voice.
      additionalProperties: false
      properties:
        object:
          type: string
          description: The object type, which is always `audio.voice_consent`.
          enum:
          - audio.voice_consent
          x-stainless-const: true
        id:
          type: string
          description: The consent recording identifier.
          example: cons_1234
        name:
          type: string
          description: The label provided when the consent recording was uploaded.
        language:
          type: string
          description: The BCP 47 language tag for the consent phrase (for example, `en-US`).
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the consent recording was created.
      required:
      - object
      - id
      - name
      - language
      - created_at
    VoiceIdsOrCustomVoice:
      title: Voice
      description: |-
        A built-in voice name or a custom voice reference.
      anyOf:
      - $ref: "#/components/schemas/VoiceIdsShared"
      - type: object
        description: Custom voice reference.
        additionalProperties: false
        required:
        - id
        properties:
          id:
            type: string
            description: The custom voice ID, e.g. `voice_1234`.
            example: voice_1234
    VoiceIdsShared:
      example: ash
      anyOf:
      - type: string
      - type: string
        enum:
        - alloy
        - ash
        - ballad
        - coral
        - echo
        - sage
        - shimmer
        - verse
        - marin
        - cedar
    VoiceResource:
      type: object
      title: Voice
      description: A custom voice that can be used for audio output.
      additionalProperties: false
      properties:
        object:
          type: string
          description: The object type, which is always `audio.voice`.
          enum:
          - audio.voice
          x-stainless-const: true
        id:
          type: string
          description: The voice identifier, which can be referenced in API endpoints.
        name:
          type: string
          description: The name of the voice.
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the voice was created.
      required:
      - object
      - id
      - name
      - created_at
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
    AdminApiKeyAuth:
      type: http
      scheme: bearer
...
