openapi: 3.1.0
info:
  title: OpenAI API — Conversations
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Conversations
  description: Manage conversations and conversation items.
paths:
  /conversations/{conversation_id}/items:
    post:
      operationId: createConversationItems
      tags:
      - Conversations
      summary: Create items in a conversation with the given ID.
      parameters:
      - in: path
        name: conversation_id
        required: true
        schema:
          type: string
          example: conv_123
        description: The ID of the conversation to add the item to.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/IncludeEnum"
        description: |-
          Additional fields to include in the response. See the `include` parameter for [listing Conversation items above](/docs/api-reference/conversations/list-items#conversations_list_items-include) for more information.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                items:
                  type: array
                  description: >-
                    The items to add to the conversation. You may add up to 20 items at a time.
                  items:
                    $ref: "#/components/schemas/InputItem"
                  maxItems: 20
              required:
              - items
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationItemList"
    get:
      operationId: listConversationItems
      tags:
      - Conversations
      summary: List all items for a conversation with the given ID.
      parameters:
      - in: path
        name: conversation_id
        required: true
        schema:
          type: string
          example: conv_123
        description: The ID of the conversation to list items for.
      - name: limit
        in: query
        description: >-
          A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
        required: false
        schema:
          type: integer
          default: 20
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: |-
          The order to return the input items in. Default is `desc`.
          - `asc`: Return the input items in ascending order.
          - `desc`: Return the input items in descending order.
      - in: query
        name: after
        schema:
          type: string
        description: |-
          An item ID to list items after, used in pagination.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/IncludeEnum"
        description: >-
          Specify additional output data to include in the model response. Currently supported values are:

          - `web_search_call.action.sources`: Include the sources of the web search tool call.

          - `code_interpreter_call.outputs`: Includes the outputs of python code execution in code interpreter tool call items.

          - `computer_call_output.output.image_url`: Include image urls from the computer call output.

          - `file_search_call.results`: Include the search results of the file search tool call.

          - `message.input_image.image_url`: Include image urls from the input message.

          - `message.output_text.logprobs`: Include logprobs with assistant messages.

          - `reasoning.encrypted_content`: Includes an encrypted version of reasoning tokens in reasoning item outputs. This enables reasoning items to be used in multi-turn conversations when using the Responses API statelessly (like when the `store` parameter is set to `false`, or when an organization is enrolled in the zero data retention program).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationItemList"
  /conversations/{conversation_id}/items/{item_id}:
    get:
      operationId: getConversationItem
      tags:
      - Conversations
      summary: Get a single item from a conversation with the given IDs.
      parameters:
      - in: path
        name: conversation_id
        required: true
        schema:
          type: string
          example: conv_123
        description: The ID of the conversation that contains the item.
      - in: path
        name: item_id
        required: true
        schema:
          type: string
          example: msg_abc
        description: The ID of the item to retrieve.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/IncludeEnum"
        description: |-
          Additional fields to include in the response. See the `include` parameter for [listing Conversation items above](/docs/api-reference/conversations/list-items#conversations_list_items-include) for more information.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationItem"
    delete:
      operationId: deleteConversationItem
      tags:
      - Conversations
      summary: Delete an item from a conversation with the given IDs.
      parameters:
      - in: path
        name: conversation_id
        required: true
        schema:
          type: string
          example: conv_123
        description: The ID of the conversation that contains the item.
      - in: path
        name: item_id
        required: true
        schema:
          type: string
          example: msg_abc
        description: The ID of the item to delete.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationResource"
  /conversations:
    post:
      tags:
      - Conversations
      summary: Create a conversation.
      operationId: createConversation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConversationBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationResource"
  /conversations/{conversation_id}:
    get:
      tags:
      - Conversations
      summary: Get a conversation
      operationId: getConversation
      parameters:
      - name: conversation_id
        in: path
        description: The ID of the conversation to retrieve.
        required: true
        schema:
          example: conv_123
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationResource"
    delete:
      tags:
      - Conversations
      summary: Delete a conversation. Items in the conversation will not be deleted.
      operationId: deleteConversation
      parameters:
      - name: conversation_id
        in: path
        description: The ID of the conversation to delete.
        required: true
        schema:
          example: conv_123
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedConversationResource"
    post:
      tags:
      - Conversations
      summary: Update a conversation
      operationId: updateConversation
      parameters:
      - name: conversation_id
        in: path
        description: The ID of the conversation to update.
        required: true
        schema:
          example: conv_123
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConversationBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationResource"
components:
  schemas:
    AdditionalTools:
      properties:
        type:
          type: string
          enum:
          - additional_tools
          description: The type of the item. Always `additional_tools`.
          default: additional_tools
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the additional tools item.
        role:
          $ref: "#/components/schemas/MessageRole"
          description: The role that provided the additional tools.
        tools:
          items:
            $ref: "#/components/schemas/Tool"
          type: array
          description: The additional tool definitions made available at this item.
      type: object
      required:
      - type
      - id
      - role
      - tools
    AdditionalToolsItemParam:
      properties:
        id:
          anyOf:
          - type: string
            description: The unique ID of this additional tools item.
            example: at_123
          - type: "null"
        type:
          type: string
          enum:
          - additional_tools
          description: The item type. Always `additional_tools`.
          default: additional_tools
          x-stainless-const: true
        role:
          type: string
          enum:
          - developer
          description: The role that provided the additional tools. Only `developer` is supported.
          default: developer
          x-stainless-const: true
        tools:
          items:
            $ref: "#/components/schemas/Tool"
          type: array
          description: A list of additional tools made available at this item.
      type: object
      required:
      - type
      - role
      - tools
    Annotation:
      oneOf:
      - $ref: "#/components/schemas/FileCitationBody"
      - $ref: "#/components/schemas/UrlCitationBody"
      - $ref: "#/components/schemas/ContainerFileCitationBody"
      - $ref: "#/components/schemas/FilePath"
      description: An annotation that applies to a span of output text.
      discriminator:
        propertyName: type
    ApplyPatchCallOutputStatus:
      type: string
      enum:
      - completed
      - failed
    ApplyPatchCallOutputStatusParam:
      type: string
      enum:
      - completed
      - failed
      title: Apply patch call output status
      description: Outcome values reported for apply_patch tool call outputs.
    ApplyPatchCallStatus:
      type: string
      enum:
      - in_progress
      - completed
    ApplyPatchCallStatusParam:
      type: string
      enum:
      - in_progress
      - completed
      title: Apply patch call status
      description: Status values reported for apply_patch tool calls.
    ApplyPatchCreateFileOperation:
      properties:
        type:
          type: string
          enum:
          - create_file
          description: Create a new file with the provided diff.
          default: create_file
          x-stainless-const: true
        path:
          type: string
          description: Path of the file to create.
        diff:
          type: string
          description: Diff to apply.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch create file operation
      description: Instruction describing how to create a file via the apply_patch tool.
    ApplyPatchCreateFileOperationParam:
      properties:
        type:
          type: string
          enum:
          - create_file
          description: The operation type. Always `create_file`.
          default: create_file
          x-stainless-const: true
        path:
          type: string
          minLength: 1
          description: Path of the file to create relative to the workspace root.
        diff:
          type: string
          maxLength: 10485760
          description: Unified diff content to apply when creating the file.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch create file operation
      description: Instruction for creating a new file via the apply_patch tool.
    ApplyPatchDeleteFileOperation:
      properties:
        type:
          type: string
          enum:
          - delete_file
          description: Delete the specified file.
          default: delete_file
          x-stainless-const: true
        path:
          type: string
          description: Path of the file to delete.
      type: object
      required:
      - type
      - path
      title: Apply patch delete file operation
      description: Instruction describing how to delete a file via the apply_patch tool.
    ApplyPatchDeleteFileOperationParam:
      properties:
        type:
          type: string
          enum:
          - delete_file
          description: The operation type. Always `delete_file`.
          default: delete_file
          x-stainless-const: true
        path:
          type: string
          minLength: 1
          description: Path of the file to delete relative to the workspace root.
      type: object
      required:
      - type
      - path
      title: Apply patch delete file operation
      description: Instruction for deleting an existing file via the apply_patch tool.
    ApplyPatchOperationParam:
      oneOf:
      - $ref: "#/components/schemas/ApplyPatchCreateFileOperationParam"
      - $ref: "#/components/schemas/ApplyPatchDeleteFileOperationParam"
      - $ref: "#/components/schemas/ApplyPatchUpdateFileOperationParam"
      title: Apply patch operation
      description: One of the create_file, delete_file, or update_file operations supplied to the apply_patch tool.
      discriminator:
        propertyName: type
    ApplyPatchToolCall:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call
          description: The type of the item. Always `apply_patch_call`.
          default: apply_patch_call
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the apply patch tool call. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCaller"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/ApplyPatchCallStatus"
          description: The status of the apply patch tool call. One of `in_progress` or `completed`.
        operation:
          oneOf:
          - $ref: "#/components/schemas/ApplyPatchCreateFileOperation"
          - $ref: "#/components/schemas/ApplyPatchDeleteFileOperation"
          - $ref: "#/components/schemas/ApplyPatchUpdateFileOperation"
          title: Apply patch operation
          description: One of the create_file, delete_file, or update_file operations applied via apply_patch.
          discriminator:
            propertyName: type
        created_by:
          type: string
          description: The ID of the entity that created this tool call.
      type: object
      required:
      - type
      - id
      - call_id
      - status
      - operation
      title: Apply patch tool call
      description: A tool call that applies file diffs by creating, deleting, or updating files.
    ApplyPatchToolCallItemParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call
          description: The type of the item. Always `apply_patch_call`.
          default: apply_patch_call
          x-stainless-const: true
        id:
          anyOf:
          - type: string
            description: The unique ID of the apply patch tool call. Populated when this item is returned via API.
            example: apc_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCallerParam"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/ApplyPatchCallStatusParam"
          description: The status of the apply patch tool call. One of `in_progress` or `completed`.
        operation:
          $ref: "#/components/schemas/ApplyPatchOperationParam"
          description: The specific create, delete, or update instruction for the apply_patch tool call.
      type: object
      required:
      - type
      - call_id
      - status
      - operation
      title: Apply patch tool call
      description: A tool call representing a request to create, delete, or update files using diff patches.
    ApplyPatchToolCallOutput:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call_output
          description: The type of the item. Always `apply_patch_call_output`.
          default: apply_patch_call_output
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the apply patch tool call output. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCaller"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/ApplyPatchCallOutputStatus"
          description: The status of the apply patch tool call output. One of `completed` or `failed`.
        output:
          anyOf:
          - type: string
            description: Optional textual output returned by the apply patch tool.
          - type: "null"
        created_by:
          type: string
          description: The ID of the entity that created this tool call output.
      type: object
      required:
      - type
      - id
      - call_id
      - status
      title: Apply patch tool call output
      description: The output emitted by an apply patch tool call.
    ApplyPatchToolCallOutputItemParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call_output
          description: The type of the item. Always `apply_patch_call_output`.
          default: apply_patch_call_output
          x-stainless-const: true
        id:
          anyOf:
          - type: string
            description: The unique ID of the apply patch tool call output. Populated when this item is returned via API.
            example: apco_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the apply patch tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCallerParam"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/ApplyPatchCallOutputStatusParam"
          description: The status of the apply patch tool call output. One of `completed` or `failed`.
        output:
          anyOf:
          - type: string
            maxLength: 10485760
            description: Optional human-readable log text from the apply patch tool (e.g., patch results or errors).
          - type: "null"
      type: object
      required:
      - type
      - call_id
      - status
      title: Apply patch tool call output
      description: The streamed output emitted by an apply patch tool call.
    ApplyPatchToolParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch
          description: The type of the tool. Always `apply_patch`.
          default: apply_patch
          x-stainless-const: true
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      title: Apply patch tool
      description: Allows the assistant to create, delete, or update files using unified diffs.
    ApplyPatchUpdateFileOperation:
      properties:
        type:
          type: string
          enum:
          - update_file
          description: Update an existing file with the provided diff.
          default: update_file
          x-stainless-const: true
        path:
          type: string
          description: Path of the file to update.
        diff:
          type: string
          description: Diff to apply.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch update file operation
      description: Instruction describing how to update a file via the apply_patch tool.
    ApplyPatchUpdateFileOperationParam:
      properties:
        type:
          type: string
          enum:
          - update_file
          description: The operation type. Always `update_file`.
          default: update_file
          x-stainless-const: true
        path:
          type: string
          minLength: 1
          description: Path of the file to update relative to the workspace root.
        diff:
          type: string
          maxLength: 10485760
          description: Unified diff content to apply to the existing file.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch update file operation
      description: Instruction for updating an existing file via the apply_patch tool.
    ApproximateLocation:
      properties:
        type:
          type: string
          enum:
          - approximate
          description: The type of location approximation. Always `approximate`.
          default: approximate
          x-stainless-const: true
        country:
          anyOf:
          - type: string
            description: The two-letter [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1) of the user, e.g. `US`.
          - type: "null"
        region:
          anyOf:
          - type: string
            description: Free text input for the region of the user, e.g. `California`.
          - type: "null"
        city:
          anyOf:
          - type: string
            description: Free text input for the city of the user, e.g. `San Francisco`.
          - type: "null"
        timezone:
          anyOf:
          - type: string
            description: The [IANA timezone](https://timeapi.io/documentation/iana-timezones) of the user, e.g. `America/Los_Angeles`.
          - type: "null"
      type: object
      required:
      - type
    AutoCodeInterpreterToolParam:
      properties:
        type:
          type: string
          enum:
          - auto
          description: Always `auto`.
          default: auto
          x-stainless-const: true
        file_ids:
          items:
            type: string
            example: file-123
          type: array
          maxItems: 50
          description: An optional list of uploaded files to make available to your code.
        memory_limit:
          anyOf:
          - $ref: "#/components/schemas/ContainerMemoryLimit"
            description: The memory limit for the code interpreter container.
          - type: "null"
        network_policy:
          oneOf:
          - $ref: "#/components/schemas/ContainerNetworkPolicyDisabledParam"
          - $ref: "#/components/schemas/ContainerNetworkPolicyAllowlistParam"
          description: Network access policy for the container.
          discriminator:
            propertyName: type
      type: object
      required:
      - type
      title: CodeInterpreterToolAuto
      description: Configuration for a code interpreter container. Optionally specify the IDs of the files to run the code on.
    CallableToolAllowedCaller:
      type: string
      enum:
      - direct
      - programmatic
    ClickButtonType:
      type: string
      enum:
      - left
      - right
      - wheel
      - back
      - forward
    ClickParam:
      properties:
        type:
          type: string
          enum:
          - click
          description: Specifies the event type. For a click action, this property is always `click`.
          default: click
          x-stainless-const: true
        button:
          $ref: "#/components/schemas/ClickButtonType"
          description: Indicates which mouse button was pressed during the click. One of `left`, `right`, `wheel`, `back`, or `forward`.
        x:
          type: integer
          description: The x-coordinate where the click occurred.
        y:
          type: integer
          description: The y-coordinate where the click occurred.
        keys:
          anyOf:
          - items:
              type: string
            type: array
            description: The keys being held while clicking.
          - type: "null"
      type: object
      required:
      - type
      - button
      - x
      - y
      title: Click
      description: A click action.
    CodeInterpreterOutputImage:
      properties:
        type:
          type: string
          enum:
          - image
          description: The type of the output. Always `image`.
          default: image
          x-stainless-const: true
        url:
          type: string
          format: uri
          description: The URL of the image output from the code interpreter.
      type: object
      required:
      - type
      - url
      title: Code interpreter output image
      description: The image output from the code interpreter.
    CodeInterpreterOutputLogs:
      properties:
        type:
          type: string
          enum:
          - logs
          description: The type of the output. Always `logs`.
          default: logs
          x-stainless-const: true
        logs:
          type: string
          description: The logs output from the code interpreter.
      type: object
      required:
      - type
      - logs
      title: Code interpreter output logs
      description: The logs output from the code interpreter.
    CodeInterpreterTool:
      type: object
      title: Code interpreter
      description: |-
        A tool that runs Python code to help generate a response to a prompt.
      properties:
        type:
          type: string
          enum:
          - code_interpreter
          description: |-
            The type of the code interpreter tool. Always `code_interpreter`.
          x-stainless-const: true
        container:
          description: >-
            The code interpreter container. Can be a container ID or an object that specifies uploaded file IDs to make available to your code, along with an optional `memory_limit` setting.
          oneOf:
          - type: string
            description: The container ID.
          - $ref: "#/components/schemas/AutoCodeInterpreterToolParam"
        allowed_callers:
          anyOf:
          - type: array
            minItems: 1
            items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            description: The tool invocation context(s).
          - type: "null"
      required:
      - type
      - container
    CodeInterpreterToolCall:
      type: object
      title: Code interpreter tool call
      description: |-
        A tool call to run code.
      properties:
        type:
          type: string
          enum:
          - code_interpreter_call
          default: code_interpreter_call
          x-stainless-const: true
          description: >-
            The type of the code interpreter tool call. Always `code_interpreter_call`.
        id:
          type: string
          description: |-
            The unique ID of the code interpreter tool call.
        status:
          type: string
          enum:
          - in_progress
          - completed
          - incomplete
          - interpreting
          - failed
          description: >-
            The status of the code interpreter tool call. Valid values are `in_progress`, `completed`, `incomplete`, `interpreting`, and `failed`.
        container_id:
          type: string
          description: |-
            The ID of the container used to run the code.
        code:
          anyOf:
          - type: string
            description: |-
              The code to run, or null if not available.
          - type: "null"
        outputs:
          anyOf:
          - type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/CodeInterpreterOutputLogs"
              - $ref: "#/components/schemas/CodeInterpreterOutputImage"
              discriminator:
                propertyName: type
            discriminator:
              propertyName: type
            description: >-
              The outputs generated by the code interpreter, such as logs or images. Can be null if no outputs are available.
          - type: "null"
      required:
      - type
      - id
      - status
      - container_id
      - code
      - outputs
    CompactionBody:
      properties:
        type:
          type: string
          enum:
          - compaction
          description: The type of the item. Always `compaction`.
          default: compaction
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the compaction item.
        encrypted_content:
          type: string
          description: The encrypted content that was produced by compaction.
        created_by:
          type: string
          description: The identifier of the actor that created the item.
      type: object
      required:
      - type
      - id
      - encrypted_content
      title: Compaction item
      description: A compaction item generated by the [`v1/responses/compact` API](/docs/api-reference/responses/compact).
    CompactionSummaryItemParam:
      properties:
        id:
          anyOf:
          - type: string
            description: The ID of the compaction item.
            example: cmp_123
          - type: "null"
        type:
          type: string
          enum:
          - compaction
          description: The type of the item. Always `compaction`.
          default: compaction
          x-stainless-const: true
        encrypted_content:
          type: string
          maxLength: 10485760
          description: The encrypted content of the compaction summary.
      type: object
      required:
      - type
      - encrypted_content
      title: Compaction item
      description: A compaction item generated by the [`v1/responses/compact` API](/docs/api-reference/responses/compact).
    CompactionTriggerItemParam:
      properties:
        type:
          type: string
          enum:
          - compaction_trigger
          description: The type of the item. Always `compaction_trigger`.
          default: compaction_trigger
          x-stainless-const: true
      type: object
      required:
      - type
      title: Compaction trigger
      description: Compacts the current context. Must be the final input item.
    ComparisonFilter:
      type: object
      additionalProperties: false
      title: Comparison Filter
      description: >-
        A filter used to compare a specified attribute key to a given value using a defined comparison operation.
      properties:
        type:
          type: string
          default: eq
          enum:
          - eq
          - ne
          - gt
          - gte
          - lt
          - lte
          - in
          - nin
          description: >-
            Specifies the comparison operator: `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `nin`.

            - `eq`: equals

            - `ne`: not equal

            - `gt`: greater than

            - `gte`: greater than or equal

            - `lt`: less than

            - `lte`: less than or equal

            - `in`: in

            - `nin`: not in
        key:
          type: string
          description: The key to compare against the value.
        value:
          oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
            items:
              oneOf:
              - type: string
              - type: number
          description: The value to compare against the attribute key; supports string, number, or boolean types.
      required:
      - type
      - key
      - value
    CompoundFilter:
      $recursiveAnchor: true
      type: object
      additionalProperties: false
      title: Compound Filter
      description: Combine multiple filters using `and` or `or`.
      properties:
        type:
          type: string
          description: "Type of operation: `and` or `or`."
          enum:
          - and
          - or
        filters:
          type: array
          description: Array of filters to combine. Items can be `ComparisonFilter` or `CompoundFilter`.
          items:
            oneOf:
            - $ref: "#/components/schemas/ComparisonFilter"
            - $recursiveRef: "#"
            discriminator:
              propertyName: type
      required:
      - type
      - filters
    ComputerAction:
      oneOf:
      - $ref: "#/components/schemas/ClickParam"
      - $ref: "#/components/schemas/DoubleClickAction"
      - $ref: "#/components/schemas/DragParam"
      - $ref: "#/components/schemas/KeyPressAction"
      - $ref: "#/components/schemas/MoveParam"
      - $ref: "#/components/schemas/ScreenshotParam"
      - $ref: "#/components/schemas/ScrollParam"
      - $ref: "#/components/schemas/TypeParam"
      - $ref: "#/components/schemas/WaitParam"
      discriminator:
        propertyName: type
    ComputerActionList:
      title: Computer Action List
      type: array
      description: |-
        Flattened batched actions for `computer_use`. Each action includes an `type` discriminator and action-specific fields.
      items:
        $ref: "#/components/schemas/ComputerAction"
    ComputerCallOutputItemParam:
      properties:
        id:
          anyOf:
          - type: string
            description: The ID of the computer tool call output.
            example: cuo_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The ID of the computer tool call that produced the output.
        type:
          type: string
          enum:
          - computer_call_output
          description: The type of the computer tool call output. Always `computer_call_output`.
          default: computer_call_output
          x-stainless-const: true
        output:
          $ref: "#/components/schemas/ComputerScreenshotImage"
        acknowledged_safety_checks:
          anyOf:
          - items:
              $ref: "#/components/schemas/ComputerCallSafetyCheckParam"
            type: array
            description: The safety checks reported by the API that have been acknowledged by the developer.
          - type: "null"
        status:
          anyOf:
          - $ref: "#/components/schemas/FunctionCallItemStatus"
            description: The status of the message input. One of `in_progress`, `completed`, or `incomplete`. Populated when input items are returned via API.
          - type: "null"
      type: object
      required:
      - call_id
      - type
      - output
      title: Computer tool call output
      description: The output of a computer tool call.
    ComputerCallOutputStatus:
      type: string
      enum:
      - completed
      - incomplete
      - failed
    ComputerCallSafetyCheckParam:
      properties:
        id:
          type: string
          description: The ID of the pending safety check.
        code:
          anyOf:
          - type: string
            description: The type of the pending safety check.
          - type: "null"
        message:
          anyOf:
          - type: string
            description: Details about the pending safety check.
          - type: "null"
      type: object
      required:
      - id
      description: A pending safety check for the computer call.
    ComputerEnvironment:
      type: string
      enum:
      - windows
      - mac
      - linux
      - ubuntu
      - browser
    ComputerScreenshotContent:
      properties:
        type:
          type: string
          enum:
          - computer_screenshot
          description: Specifies the event type. For a computer screenshot, this property is always set to `computer_screenshot`.
          default: computer_screenshot
          x-stainless-const: true
        image_url:
          anyOf:
          - type: string
            format: uri
            description: The URL of the screenshot image.
          - type: "null"
        file_id:
          anyOf:
          - type: string
            description: The identifier of an uploaded file that contains the screenshot.
          - type: "null"
        detail:
          $ref: "#/components/schemas/ImageDetail"
          description: The detail level of the screenshot image to be sent to the model. One of `high`, `low`, `auto`, or `original`. Defaults to `auto`.
        prompt_cache_breakpoint:
          $ref: "#/components/schemas/PromptCacheBreakpointConfig"
      type: object
      required:
      - type
      - image_url
      - file_id
      - detail
      title: Computer screenshot
      description: A screenshot of a computer.
    ComputerScreenshotImage:
      type: object
      description: |-
        A computer screenshot image used with the computer use tool.
      properties:
        type:
          type: string
          enum:
          - computer_screenshot
          default: computer_screenshot
          description: >-
            Specifies the event type. For a computer screenshot, this property is  always set to `computer_screenshot`.
          x-stainless-const: true
        image_url:
          type: string
          format: uri
          description: The URL of the screenshot image.
        file_id:
          type: string
          description: The identifier of an uploaded file that contains the screenshot.
      required:
      - type
    ComputerTool:
      properties:
        type:
          type: string
          enum:
          - computer
          description: The type of the computer tool. Always `computer`.
          default: computer
          x-stainless-const: true
      type: object
      required:
      - type
      title: Computer
      description: A tool that controls a virtual computer. Learn more about the [computer tool](https://platform.openai.com/docs/guides/tools-computer-use).
    ComputerToolCall:
      type: object
      title: Computer tool call
      description: >-
        A tool call to a computer use tool. See the [computer use guide](/docs/guides/tools-computer-use) for more information.
      properties:
        type:
          type: string
          description: The type of the computer call. Always `computer_call`.
          enum:
          - computer_call
          default: computer_call
        id:
          type: string
          description: The unique ID of the computer call.
        call_id:
          type: string
          description: |-
            An identifier used when responding to the tool call with output.
        action:
          $ref: "#/components/schemas/ComputerAction"
        actions:
          $ref: "#/components/schemas/ComputerActionList"
        pending_safety_checks:
          type: array
          items:
            $ref: "#/components/schemas/ComputerCallSafetyCheckParam"
          description: |-
            The pending safety checks for the computer call.
        status:
          type: string
          description: |-
            The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - id
      - call_id
      - pending_safety_checks
      - status
    ComputerToolCallOutput:
      type: object
      title: Computer tool call output
      description: |-
        The output of a computer tool call.
      properties:
        type:
          type: string
          description: >-
            The type of the computer tool call output. Always `computer_call_output`.
          enum:
          - computer_call_output
          default: computer_call_output
          x-stainless-const: true
        id:
          type: string
          description: |-
            The ID of the computer tool call output.
        call_id:
          type: string
          description: |-
            The ID of the computer tool call that produced the output.
        acknowledged_safety_checks:
          type: array
          description: >-
            The safety checks reported by the API that have been acknowledged by the developer.
          items:
            $ref: "#/components/schemas/ComputerCallSafetyCheckParam"
        output:
          $ref: "#/components/schemas/ComputerScreenshotImage"
        status:
          type: string
          description: >-
            The status of the message input. One of `in_progress`, `completed`, or `incomplete`. Populated when input items are returned via API.
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - call_id
      - output
    ComputerToolCallOutputResource:
      allOf:
      - $ref: "#/components/schemas/ComputerToolCallOutput"
      - type: object
        properties:
          id:
            type: string
            description: |-
              The unique ID of the computer call tool output.
          status:
            description: >-
              The status of the message input. One of `in_progress`, `completed`, or `incomplete`. Populated when input items are returned via API.
            $ref: "#/components/schemas/ComputerCallOutputStatus"
          created_by:
            type: string
            description: |-
              The identifier of the actor that created the item.
        required:
        - id
        - status
    ComputerUsePreviewTool:
      properties:
        type:
          type: string
          enum:
          - computer_use_preview
          description: The type of the computer use tool. Always `computer_use_preview`.
          default: computer_use_preview
          x-stainless-const: true
        environment:
          $ref: "#/components/schemas/ComputerEnvironment"
          description: The type of computer environment to control.
        display_width:
          type: integer
          description: The width of the computer display.
        display_height:
          type: integer
          description: The height of the computer display.
      type: object
      required:
      - type
      - environment
      - display_width
      - display_height
      title: Computer use preview
      description: A tool that controls a virtual computer. Learn more about the [computer tool](https://platform.openai.com/docs/guides/tools-computer-use).
    ContainerAutoParam:
      properties:
        type:
          type: string
          enum:
          - container_auto
          description: Automatically creates a container for this request
          default: container_auto
          x-stainless-const: true
        file_ids:
          items:
            type: string
            example: file-123
          type: array
          maxItems: 50
          description: An optional list of uploaded files to make available to your code.
        memory_limit:
          anyOf:
          - $ref: "#/components/schemas/ContainerMemoryLimit"
            description: The memory limit for the container.
          - type: "null"
        network_policy:
          oneOf:
          - $ref: "#/components/schemas/ContainerNetworkPolicyDisabledParam"
          - $ref: "#/components/schemas/ContainerNetworkPolicyAllowlistParam"
          description: Network access policy for the container.
          discriminator:
            propertyName: type
        skills:
          items:
            oneOf:
            - $ref: "#/components/schemas/SkillReferenceParam"
            - $ref: "#/components/schemas/InlineSkillParam"
            discriminator:
              propertyName: type
          type: array
          maxItems: 200
          description: An optional list of skills referenced by id or inline data.
      type: object
      required:
      - type
    ContainerFileCitationBody:
      properties:
        type:
          type: string
          enum:
          - container_file_citation
          description: The type of the container file citation. Always `container_file_citation`.
          default: container_file_citation
          x-stainless-const: true
        container_id:
          type: string
          description: The ID of the container file.
        file_id:
          type: string
          description: The ID of the file.
        start_index:
          type: integer
          description: The index of the first character of the container file citation in the message.
        end_index:
          type: integer
          description: The index of the last character of the container file citation in the message.
        filename:
          type: string
          description: The filename of the container file cited.
      type: object
      required:
      - type
      - container_id
      - file_id
      - start_index
      - end_index
      - filename
      title: Container file citation
      description: A citation for a container file used to generate a model response.
    ContainerMemoryLimit:
      type: string
      enum:
      - 1g
      - 4g
      - 16g
      - 64g
    ContainerNetworkPolicyAllowlistParam:
      properties:
        type:
          type: string
          enum:
          - allowlist
          description: Allow outbound network access only to specified domains. Always `allowlist`.
          default: allowlist
          x-stainless-const: true
        allowed_domains:
          items:
            type: string
          type: array
          minItems: 1
          description: A list of allowed domains when type is `allowlist`.
        domain_secrets:
          items:
            $ref: "#/components/schemas/ContainerNetworkPolicyDomainSecretParam"
          type: array
          minItems: 1
          description: Optional domain-scoped secrets for allowlisted domains.
      type: object
      required:
      - type
      - allowed_domains
    ContainerNetworkPolicyDisabledParam:
      properties:
        type:
          type: string
          enum:
          - disabled
          description: Disable outbound network access. Always `disabled`.
          default: disabled
          x-stainless-const: true
      type: object
      required:
      - type
    ContainerNetworkPolicyDomainSecretParam:
      properties:
        domain:
          type: string
          minLength: 1
          description: The domain associated with the secret.
        name:
          type: string
          minLength: 1
          description: The name of the secret to inject for the domain.
        value:
          type: string
          maxLength: 10485760
          minLength: 1
          description: The secret value to inject for the domain.
      type: object
      required:
      - domain
      - name
      - value
    ContainerReferenceParam:
      properties:
        type:
          type: string
          enum:
          - container_reference
          description: References a container created with the /v1/containers endpoint
          default: container_reference
          x-stainless-const: true
        container_id:
          type: string
          description: The ID of the referenced container.
          example: cntr_123
      type: object
      required:
      - type
      - container_id
    ContainerReferenceResource:
      properties:
        type:
          type: string
          enum:
          - container_reference
          description: The environment type. Always `container_reference`.
          default: container_reference
          x-stainless-const: true
        container_id:
          type: string
      type: object
      required:
      - type
      - container_id
      title: Container Reference
      description: Represents a container created with /v1/containers.
    ConversationItem:
      title: Conversation item
      description: A single item within a conversation. The set of possible types are the same as the `output` type of a [Response object](/docs/api-reference/responses/object#responses/object-output).
      oneOf:
      - $ref: "#/components/schemas/Message"
      - $ref: "#/components/schemas/FunctionToolCallResource"
      - $ref: "#/components/schemas/FunctionToolCallOutputResource"
      - $ref: "#/components/schemas/FileSearchToolCall"
      - $ref: "#/components/schemas/WebSearchToolCall"
      - $ref: "#/components/schemas/ImageGenToolCall"
      - $ref: "#/components/schemas/ComputerToolCall"
      - $ref: "#/components/schemas/ComputerToolCallOutputResource"
      - $ref: "#/components/schemas/ToolSearchCall"
      - $ref: "#/components/schemas/ToolSearchOutput"
      - $ref: "#/components/schemas/AdditionalTools"
      - $ref: "#/components/schemas/ReasoningItem"
      - $ref: "#/components/schemas/Program"
      - $ref: "#/components/schemas/ProgramOutput"
      - $ref: "#/components/schemas/CompactionBody"
      - $ref: "#/components/schemas/CodeInterpreterToolCall"
      - $ref: "#/components/schemas/LocalShellToolCall"
      - $ref: "#/components/schemas/LocalShellToolCallOutput"
      - $ref: "#/components/schemas/FunctionShellCall"
      - $ref: "#/components/schemas/FunctionShellCallOutput"
      - $ref: "#/components/schemas/ApplyPatchToolCall"
      - $ref: "#/components/schemas/ApplyPatchToolCallOutput"
      - $ref: "#/components/schemas/MCPListTools"
      - $ref: "#/components/schemas/MCPApprovalRequest"
      - $ref: "#/components/schemas/MCPApprovalResponseResource"
      - $ref: "#/components/schemas/MCPToolCall"
      - $ref: "#/components/schemas/CustomToolCall"
      - $ref: "#/components/schemas/CustomToolCallOutput"
      discriminator:
        propertyName: type
    ConversationItemList:
      type: object
      title: The conversation item list
      description: A list of Conversation items.
      properties:
        object:
          type: string
          description: The type of object returned, must be `list`.
          enum:
          - list
          x-stainless-const: true
        data:
          type: array
          description: A list of conversation items.
          items:
            $ref: "#/components/schemas/ConversationItem"
        has_more:
          type: boolean
          description: Whether there are more items available.
        first_id:
          type: string
          description: The ID of the first item in the list.
        last_id:
          type: string
          description: The ID of the last item in the list.
      required:
      - object
      - data
      - has_more
      - first_id
      - last_id
    ConversationResource:
      properties:
        id:
          type: string
          description: The unique ID of the conversation.
        object:
          type: string
          enum:
          - conversation
          description: The object type, which is always `conversation`.
          default: conversation
          x-stainless-const: true
        metadata:
          description: >-
            Set of 16 key-value pairs that can be attached to an object. This can be         useful for storing additional information about the object in a structured         format, and querying for objects via API or the dashboard.         Keys are strings with a maximum length of 64 characters. Values are strings         with a maximum length of 512 characters.
        created_at:
          type: integer
          format: unixtime
          description: The time at which the conversation was created, measured in seconds since the Unix epoch.
      type: object
      required:
      - id
      - object
      - metadata
      - created_at
    CoordParam:
      properties:
        x:
          type: integer
          description: The x-coordinate.
        y:
          type: integer
          description: The y-coordinate.
      type: object
      required:
      - x
      - y
      title: Coordinate
      description: "An x/y coordinate pair, e.g. `{ x: 100, y: 200 }`."
    CreateConversationBody:
      properties:
        metadata:
          anyOf:
          - $ref: "#/components/schemas/Metadata"
            description: >-
              Set of 16 key-value pairs that can be attached to an object. This can be         useful for storing additional information about the object in a structured         format, and querying for objects via API or the dashboard.         Keys are strings with a maximum length of 64 characters. Values are strings         with a maximum length of 512 characters.
          - type: "null"
        items:
          anyOf:
          - items:
              $ref: "#/components/schemas/InputItem"
            type: array
            maxItems: 20
            description: Initial items to include in the conversation context. You may add up to 20 items at a time.
          - type: "null"
      type: object
      required: []
    CustomGrammarFormatParam:
      properties:
        type:
          type: string
          enum:
          - grammar
          description: Grammar format. Always `grammar`.
          default: grammar
          x-stainless-const: true
        syntax:
          $ref: "#/components/schemas/GrammarSyntax1"
          description: The syntax of the grammar definition. One of `lark` or `regex`.
        definition:
          type: string
          description: The grammar definition.
      type: object
      required:
      - type
      - syntax
      - definition
      title: Grammar format
      description: A grammar defined by the user.
    CustomTextFormatParam:
      properties:
        type:
          type: string
          enum:
          - text
          description: Unconstrained text format. Always `text`.
          default: text
          x-stainless-const: true
      type: object
      required:
      - type
      title: Text format
      description: Unconstrained free-form text.
    CustomToolCall:
      type: object
      title: Custom tool call
      description: |-
        A call to a custom tool created by the model.
      properties:
        type:
          type: string
          enum:
          - custom_tool_call
          x-stainless-const: true
          description: |-
            The type of the custom tool call. Always `custom_tool_call`.
        id:
          type: string
          description: |-
            The unique ID of the custom tool call in the OpenAI platform.
        call_id:
          type: string
          description: >-
            An identifier used to map this custom tool call to a tool call output.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCaller"
          - type: "null"
        namespace:
          type: string
          description: |-
            The namespace of the custom tool being called.
        name:
          type: string
          description: |-
            The name of the custom tool being called.
        input:
          type: string
          description: |-
            The input for the custom tool call generated by the model.
      required:
      - type
      - call_id
      - name
      - input
    CustomToolCallOutput:
      type: object
      title: Custom tool call output
      description: >-
        The output of a custom tool call from your code, being sent back to the model.
      properties:
        type:
          type: string
          enum:
          - custom_tool_call_output
          x-stainless-const: true
          description: >-
            The type of the custom tool call output. Always `custom_tool_call_output`.
        id:
          type: string
          description: |-
            The unique ID of the custom tool call output in the OpenAI platform.
        call_id:
          type: string
          description: >-
            The call ID, used to map this custom tool call output to a custom tool call.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCallerParam"
          - type: "null"
        output:
          description: |-
            The output from the custom tool call generated by your code. Can be a string or an list of output content.
          oneOf:
          - type: string
            description: |-
              A string of the output of the custom tool call.
            title: string output
          - type: array
            items:
              $ref: "#/components/schemas/FunctionAndCustomToolCallOutput"
            title: output content list
            description: |-
              Text, image, or file output of the custom tool call.
      required:
      - type
      - call_id
      - output
    CustomToolParam:
      properties:
        type:
          type: string
          enum:
          - custom
          description: The type of the custom tool. Always `custom`.
          default: custom
          x-stainless-const: true
        name:
          type: string
          description: The name of the custom tool, used to identify it in tool calls.
        description:
          type: string
          description: Optional description of the custom tool, used to provide more context.
        format:
          oneOf:
          - $ref: "#/components/schemas/CustomTextFormatParam"
          - $ref: "#/components/schemas/CustomGrammarFormatParam"
          description: The input format for the custom tool. Default is unconstrained text.
          discriminator:
            propertyName: type
        defer_loading:
          type: boolean
          description: Whether this tool should be deferred and discovered via tool search.
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      - name
      title: Custom tool
      description: A custom tool that processes input using a specified format. Learn more about   [custom tools](/docs/guides/function-calling#custom-tools)
    DeletedConversationResource:
      properties:
        object:
          type: string
          enum:
          - conversation.deleted
          default: conversation.deleted
          x-stainless-const: true
        deleted:
          type: boolean
        id:
          type: string
      type: object
      required:
      - object
      - deleted
      - id
    DetailEnum:
      type: string
      enum:
      - low
      - high
      - auto
      - original
    DirectToolCallCaller:
      properties:
        type:
          type: string
          enum:
          - direct
          default: direct
          x-stainless-const: true
      type: object
      required:
      - type
    DirectToolCallCallerParam:
      properties:
        type:
          type: string
          enum:
          - direct
          description: The caller type. Always `direct`.
          default: direct
          x-stainless-const: true
      type: object
      required:
      - type
    DoubleClickAction:
      properties:
        type:
          type: string
          enum:
          - double_click
          description: Specifies the event type. For a double click action, this property is always set to `double_click`.
          default: double_click
          x-stainless-const: true
        x:
          type: integer
          description: The x-coordinate where the double click occurred.
        y:
          type: integer
          description: The y-coordinate where the double click occurred.
        keys:
          anyOf:
          - items:
              type: string
            type: array
            description: The keys being held while double-clicking.
          - type: "null"
      type: object
      required:
      - type
      - x
      - y
      - keys
      title: DoubleClick
      description: A double click action.
    DragParam:
      properties:
        type:
          type: string
          enum:
          - drag
          description: Specifies the event type. For a drag action, this property is always set to `drag`.
          default: drag
          x-stainless-const: true
        path:
          items:
            $ref: "#/components/schemas/CoordParam"
          type: array
          description: >-
            An array of coordinates representing the path of the drag action. Coordinates will appear as an array of objects, eg ``` [   { x: 100, y: 200 },   { x: 200, y: 300 } ] ```
        keys:
          anyOf:
          - items:
              type: string
            type: array
            description: The keys being held while dragging the mouse.
          - type: "null"
      type: object
      required:
      - type
      - path
      title: Drag
      description: A drag action.
    EasyInputMessage:
      type: object
      title: Input message
      description: >-
        A message input to the model with a role indicating instruction following hierarchy. Instructions given with the `developer` or `system` role take precedence over instructions given with the `user` role. Messages with the `assistant` role are presumed to have been generated by the model in previous interactions.
      properties:
        role:
          type: string
          description: >-
            The role of the message input. One of `user`, `assistant`, `system`, or `developer`.
          enum:
          - user
          - assistant
          - system
          - developer
        content:
          description: >-
            Text, image, or audio input to the model, used to generate a response. Can also contain previous assistant responses.
          oneOf:
          - type: string
            title: Text input
            description: |-
              A text input to the model.
          - $ref: "#/components/schemas/InputMessageContentList"
        phase:
          anyOf:
          - $ref: "#/components/schemas/MessagePhase"
          - type: "null"
        type:
          type: string
          description: |-
            The type of the message input. Always `message`.
          enum:
          - message
          x-stainless-const: true
      required:
      - role
      - content
    EmptyModelParam:
      properties: {}
      type: object
      required: []
    FileCitationBody:
      properties:
        type:
          type: string
          enum:
          - file_citation
          description: The type of the file citation. Always `file_citation`.
          default: file_citation
          x-stainless-const: true
        file_id:
          type: string
          description: The ID of the file.
        index:
          type: integer
          description: The index of the file in the list of files.
        filename:
          type: string
          description: The filename of the file cited.
      type: object
      required:
      - type
      - file_id
      - index
      - filename
      title: File citation
      description: A citation to a file.
    FileDetailEnum:
      type: string
      enum:
      - auto
      - low
      - high
    FileInputDetail:
      type: string
      enum:
      - auto
      - low
      - high
    FilePath:
      type: object
      title: File path
      description: |-
        A path to a file.
      properties:
        type:
          type: string
          description: |-
            The type of the file path. Always `file_path`.
          enum:
          - file_path
          x-stainless-const: true
        file_id:
          type: string
          description: |-
            The ID of the file.
        index:
          type: integer
          description: |-
            The index of the file in the list of files.
      required:
      - type
      - file_id
      - index
    FileSearchTool:
      properties:
        type:
          type: string
          enum:
          - file_search
          description: The type of the file search tool. Always `file_search`.
          default: file_search
          x-stainless-const: true
        vector_store_ids:
          items:
            type: string
          type: array
          description: The IDs of the vector stores to search.
        max_num_results:
          type: integer
          description: The maximum number of results to return. This number should be between 1 and 50 inclusive.
        ranking_options:
          $ref: "#/components/schemas/RankingOptions"
          description: Ranking options for search.
        filters:
          anyOf:
          - $ref: "#/components/schemas/Filters"
            description: A filter to apply.
          - type: "null"
      type: object
      required:
      - type
      - vector_store_ids
      title: File search
      description: A tool that searches for relevant content from uploaded files. Learn more about the [file search tool](https://platform.openai.com/docs/guides/tools-file-search).
    FileSearchToolCall:
      type: object
      title: File search tool call
      description: >-
        The results of a file search tool call. See the [file search guide](/docs/guides/tools-file-search) for more information.
      properties:
        id:
          type: string
          description: |-
            The unique ID of the file search tool call.
        type:
          type: string
          enum:
          - file_search_call
          description: |-
            The type of the file search tool call. Always `file_search_call`.
          x-stainless-const: true
        status:
          type: string
          description: |-
            The status of the file search tool call. One of `in_progress`, `searching`, `incomplete` or `failed`,
          enum:
          - in_progress
          - searching
          - completed
          - incomplete
          - failed
        queries:
          type: array
          items:
            type: string
          description: |-
            The queries used to search for files.
        results:
          anyOf:
          - type: array
            description: |-
              The results of the file search tool call.
            items:
              type: object
              properties:
                file_id:
                  type: string
                  description: |-
                    The unique ID of the file.
                text:
                  type: string
                  description: |-
                    The text that was retrieved from the file.
                filename:
                  type: string
                  description: |-
                    The name of the file.
                attributes:
                  $ref: "#/components/schemas/VectorStoreFileAttributes"
                score:
                  type: number
                  format: float
                  description: |-
                    The relevance score of the file - a value between 0 and 1.
          - type: "null"
      required:
      - id
      - type
      - status
      - queries
    Filters:
      anyOf:
      - $ref: "#/components/schemas/ComparisonFilter"
      - $ref: "#/components/schemas/CompoundFilter"
    FunctionAndCustomToolCallOutput:
      oneOf:
      - $ref: "#/components/schemas/InputTextContent"
      - $ref: "#/components/schemas/InputImageContent"
      - $ref: "#/components/schemas/InputFileContent"
      discriminator:
        propertyName: type
    FunctionCallItemStatus:
      type: string
      enum:
      - in_progress
      - completed
      - incomplete
    FunctionCallOutputItemParam:
      properties:
        id:
          anyOf:
          - type: string
            description: The unique ID of the function tool call output. Populated when this item is returned via API.
            example: fc_123
          - type: "null"
        call_id:
          anyOf:
          - type: string
            maxLength: 64
            minLength: 1
            description: The unique ID of the function tool call generated by the model.
          - type: "null"
        type:
          type: string
          enum:
          - function_call_output
          description: The type of the function tool call output. Always `function_call_output`.
          default: function_call_output
          x-stainless-const: true
        output:
          oneOf:
          - type: string
            maxLength: 10485760
            description: A JSON string of the output of the function tool call.
          - items:
              oneOf:
              - $ref: "#/components/schemas/InputTextContentParam"
              - $ref: "#/components/schemas/InputImageContentParamAutoParam"
              - $ref: "#/components/schemas/InputFileContentParam"
              description: A piece of message content, such as text, an image, or a file.
              discriminator:
                propertyName: type
            type: array
            description: An array of content outputs (text, image, file) for the function tool call.
          description: Text, image, or file output of the function tool call.
        name:
          anyOf:
          - type: string
            maxLength: 128
            minLength: 1
            description: The name of the tool that produced the output.
          - type: "null"
        namespace:
          anyOf:
          - type: string
            maxLength: 64
            minLength: 1
            pattern: ^[a-zA-Z0-9_-]+$
            description: The namespace of the tool that produced the output.
          - type: "null"
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCallerParam"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          anyOf:
          - $ref: "#/components/schemas/FunctionCallItemStatus"
            description: The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.
          - type: "null"
      type: object
      required:
      - type
      - output
      title: Function tool call output
      description: The output of a function tool call.
    FunctionCallOutputStatusEnum:
      type: string
      enum:
      - in_progress
      - completed
      - incomplete
    FunctionCallStatus:
      type: string
      enum:
      - in_progress
      - completed
      - incomplete
    FunctionShellAction:
      properties:
        commands:
          items:
            type: string
            description: A list of commands to run.
          type: array
        timeout_ms:
          anyOf:
          - type: integer
            description: Optional timeout in milliseconds for the commands.
          - type: "null"
        max_output_length:
          anyOf:
          - type: integer
            description: Optional maximum number of characters to return from each command.
          - type: "null"
      type: object
      required:
      - commands
      - timeout_ms
      - max_output_length
      title: Shell exec action
      description: Execute a shell command.
    FunctionShellActionParam:
      properties:
        commands:
          items:
            type: string
          type: array
          description: Ordered shell commands for the execution environment to run.
        timeout_ms:
          anyOf:
          - type: integer
            description: Maximum wall-clock time in milliseconds to allow the shell commands to run.
          - type: "null"
        max_output_length:
          anyOf:
          - type: integer
            description: Maximum number of UTF-8 characters to capture from combined stdout and stderr output.
          - type: "null"
      type: object
      required:
      - commands
      title: Shell action
      description: Commands and limits describing how to run the shell tool call.
    FunctionShellCall:
      properties:
        type:
          type: string
          enum:
          - shell_call
          description: The type of the item. Always `shell_call`.
          default: shell_call
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the shell tool call. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the shell tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCaller"
            description: The execution context that produced this tool call.
          - type: "null"
        action:
          $ref: "#/components/schemas/FunctionShellAction"
          description: The shell commands and limits that describe how to run the tool call.
        status:
          $ref: "#/components/schemas/FunctionShellCallStatus"
          description: The status of the shell call. One of `in_progress`, `completed`, or `incomplete`.
        environment:
          anyOf:
          - oneOf:
            - $ref: "#/components/schemas/LocalEnvironmentResource"
            - $ref: "#/components/schemas/ContainerReferenceResource"
            discriminator:
              propertyName: type
          - type: "null"
        created_by:
          type: string
          description: The ID of the entity that created this tool call.
      type: object
      required:
      - type
      - id
      - call_id
      - action
      - status
      - environment
      title: Shell tool call
      description: A tool call that executes one or more shell commands in a managed environment.
    FunctionShellCallItemParam:
      properties:
        id:
          anyOf:
          - type: string
            description: The unique ID of the shell tool call. Populated when this item is returned via API.
            example: sh_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the shell tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCallerParam"
            description: The execution context that produced this tool call.
          - type: "null"
        type:
          type: string
          enum:
          - shell_call
          description: The type of the item. Always `shell_call`.
          default: shell_call
          x-stainless-const: true
        action:
          $ref: "#/components/schemas/FunctionShellActionParam"
          description: The shell commands and limits that describe how to run the tool call.
        status:
          anyOf:
          - $ref: "#/components/schemas/FunctionShellCallItemStatus"
            description: The status of the shell call. One of `in_progress`, `completed`, or `incomplete`.
          - type: "null"
        environment:
          anyOf:
          - oneOf:
            - $ref: "#/components/schemas/LocalEnvironmentParam"
            - $ref: "#/components/schemas/ContainerReferenceParam"
            description: The environment to execute the shell commands in.
            discriminator:
              propertyName: type
          - type: "null"
      type: object
      required:
      - call_id
      - type
      - action
      title: Shell tool call
      description: A tool representing a request to execute one or more shell commands.
    FunctionShellCallItemStatus:
      type: string
      enum:
      - in_progress
      - completed
      - incomplete
      title: Shell call status
      description: Status values reported for shell tool calls.
    FunctionShellCallOutput:
      properties:
        type:
          type: string
          enum:
          - shell_call_output
          description: The type of the shell call output. Always `shell_call_output`.
          default: shell_call_output
          x-stainless-const: true
        id:
          type: string
          description: The unique ID of the shell call output. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the shell tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCaller"
            description: The execution context that produced this tool call.
          - type: "null"
        status:
          $ref: "#/components/schemas/FunctionShellCallOutputStatusEnum"
          description: The status of the shell call output. One of `in_progress`, `completed`, or `incomplete`.
        output:
          items:
            $ref: "#/components/schemas/FunctionShellCallOutputContent"
          type: array
          description: An array of shell call output contents
        max_output_length:
          anyOf:
          - type: integer
            description: The maximum length of the shell command output. This is generated by the model and should be passed back with the raw output.
          - type: "null"
        created_by:
          type: string
          description: The identifier of the actor that created the item.
      type: object
      required:
      - type
      - id
      - call_id
      - status
      - output
      - max_output_length
      title: Shell call output
      description: The output of a shell tool call that was emitted.
    FunctionShellCallOutputContent:
      properties:
        stdout:
          type: string
          description: The standard output that was captured.
        stderr:
          type: string
          description: The standard error output that was captured.
        outcome:
          oneOf:
          - $ref: "#/components/schemas/FunctionShellCallOutputTimeoutOutcome"
          - $ref: "#/components/schemas/FunctionShellCallOutputExitOutcome"
          title: Shell call outcome
          description: Represents either an exit outcome (with an exit code) or a timeout outcome for a shell call output chunk.
          discriminator:
            propertyName: type
        created_by:
          type: string
          description: The identifier of the actor that created the item.
      type: object
      required:
      - stdout
      - stderr
      - outcome
      title: Shell call output content
      description: The content of a shell tool call output that was emitted.
    FunctionShellCallOutputContentParam:
      properties:
        stdout:
          type: string
          maxLength: 10485760
          description: Captured stdout output for the shell call.
        stderr:
          type: string
          maxLength: 10485760
          description: Captured stderr output for the shell call.
        outcome:
          $ref: "#/components/schemas/FunctionShellCallOutputOutcomeParam"
          description: The exit or timeout outcome associated with this shell call.
      type: object
      required:
      - stdout
      - stderr
      - outcome
      title: Shell output content
      description: Captured stdout and stderr for a portion of a shell tool call output.
    FunctionShellCallOutputExitOutcome:
      properties:
        type:
          type: string
          enum:
          - exit
          description: The outcome type. Always `exit`.
          default: exit
          x-stainless-const: true
        exit_code:
          type: integer
          description: Exit code from the shell process.
      type: object
      required:
      - type
      - exit_code
      title: Shell call exit outcome
      description: Indicates that the shell commands finished and returned an exit code.
    FunctionShellCallOutputExitOutcomeParam:
      properties:
        type:
          type: string
          enum:
          - exit
          description: The outcome type. Always `exit`.
          default: exit
          x-stainless-const: true
        exit_code:
          type: integer
          description: The exit code returned by the shell process.
      type: object
      required:
      - type
      - exit_code
      title: Shell call exit outcome
      description: Indicates that the shell commands finished and returned an exit code.
    FunctionShellCallOutputItemParam:
      properties:
        id:
          anyOf:
          - type: string
            description: The unique ID of the shell tool call output. Populated when this item is returned via API.
            example: sho_123
          - type: "null"
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the shell tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCallerParam"
            description: The execution context that produced this tool call.
          - type: "null"
        type:
          type: string
          enum:
          - shell_call_output
          description: The type of the item. Always `shell_call_output`.
          default: shell_call_output
          x-stainless-const: true
        output:
          items:
            $ref: "#/components/schemas/FunctionShellCallOutputContentParam"
          type: array
          description: Captured chunks of stdout and stderr output, along with their associated outcomes.
        status:
          anyOf:
          - $ref: "#/components/schemas/FunctionShellCallItemStatus"
            description: The status of the shell call output.
          - type: "null"
        max_output_length:
          anyOf:
          - type: integer
            description: The maximum number of UTF-8 characters captured for this shell call's combined output.
          - type: "null"
      type: object
      required:
      - call_id
      - type
      - output
      title: Shell tool call output
      description: The streamed output items emitted by a shell tool call.
    FunctionShellCallOutputOutcomeParam:
      oneOf:
      - $ref: "#/components/schemas/FunctionShellCallOutputTimeoutOutcomeParam"
      - $ref: "#/components/schemas/FunctionShellCallOutputExitOutcomeParam"
      title: Shell call outcome
      description: The exit or timeout outcome associated with this shell call.
      discriminator:
        propertyName: type
    FunctionShellCallOutputStatusEnum:
      type: string
      enum:
      - in_progress
      - completed
      - incomplete
    FunctionShellCallOutputTimeoutOutcome:
      properties:
        type:
          type: string
          enum:
          - timeout
          description: The outcome type. Always `timeout`.
          default: timeout
          x-stainless-const: true
      type: object
      required:
      - type
      title: Shell call timeout outcome
      description: Indicates that the shell call exceeded its configured time limit.
    FunctionShellCallOutputTimeoutOutcomeParam:
      properties:
        type:
          type: string
          enum:
          - timeout
          description: The outcome type. Always `timeout`.
          default: timeout
          x-stainless-const: true
      type: object
      required:
      - type
      title: Shell call timeout outcome
      description: Indicates that the shell call exceeded its configured time limit.
    FunctionShellCallStatus:
      type: string
      enum:
      - in_progress
      - completed
      - incomplete
    FunctionShellToolParam:
      properties:
        type:
          type: string
          enum:
          - shell
          description: The type of the shell tool. Always `shell`.
          default: shell
          x-stainless-const: true
        environment:
          anyOf:
          - oneOf:
            - $ref: "#/components/schemas/ContainerAutoParam"
            - $ref: "#/components/schemas/LocalEnvironmentParam"
            - $ref: "#/components/schemas/ContainerReferenceParam"
            discriminator:
              propertyName: type
          - type: "null"
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      title: Shell tool
      description: A tool that allows the model to execute shell commands.
    FunctionTool:
      properties:
        type:
          type: string
          enum:
          - function
          description: The type of the function tool. Always `function`.
          default: function
          x-stainless-const: true
        name:
          type: string
          description: The name of the function to call.
        description:
          anyOf:
          - type: string
            description: A description of the function. Used by the model to determine whether or not to call the function.
          - type: "null"
        parameters:
          anyOf:
          - additionalProperties: {}
            type: object
            description: A JSON schema object describing the parameters of the function.
          - type: "null"
        output_schema:
          anyOf:
          - additionalProperties: {}
            type: object
            description: A JSON schema object describing the JSON value encoded in string outputs for this function.
          - type: "null"
        strict:
          anyOf:
          - type: boolean
            description: Whether strict parameter validation is enforced for this function tool.
          - type: "null"
        defer_loading:
          type: boolean
          description: Whether this function is deferred and loaded via tool search.
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      - name
      - strict
      - parameters
      title: Function
      description: Defines a function in your own code the model can choose to call. Learn more about [function calling](https://platform.openai.com/docs/guides/function-calling).
    FunctionToolCall:
      type: object
      title: Function tool call
      description: >-
        A tool call to run a function. See the  [function calling guide](/docs/guides/function-calling) for more information.
      properties:
        id:
          type: string
          description: |-
            The unique ID of the function tool call.
        type:
          type: string
          enum:
          - function_call
          description: |-
            The type of the function tool call. Always `function_call`.
          x-stainless-const: true
        call_id:
          type: string
          description: |-
            The unique ID of the function tool call generated by the model.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCaller"
          - type: "null"
        namespace:
          type: string
          description: |-
            The namespace of the function to run.
        name:
          type: string
          description: |-
            The name of the function to run.
        arguments:
          type: string
          description: |-
            A JSON string of the arguments to pass to the function.
        status:
          type: string
          description: |-
            The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - call_id
      - name
      - arguments
    FunctionToolCallOutput:
      type: object
      title: Function tool call output
      description: |-
        The output of a function tool call.
      properties:
        id:
          type: string
          description: >-
            The unique ID of the function tool call output. Populated when this item is returned via API.
        type:
          type: string
          enum:
          - function_call_output
          description: >-
            The type of the function tool call output. Always `function_call_output`.
          x-stainless-const: true
        call_id:
          type: string
          description: |-
            The unique ID of the function tool call generated by the model.
        name:
          type: string
          description: |-
            The name of the tool that produced the output.
        namespace:
          type: string
          description: |-
            The namespace of the tool that produced the output.
        caller:
          anyOf:
          - $ref: "#/components/schemas/ToolCallCallerParam"
          - type: "null"
        output:
          description: |-
            The output from the function call generated by your code. Can be a string or an list of output content.
          oneOf:
          - type: string
            description: |-
              A string of the output of the function call.
            title: string output
          - type: array
            items:
              $ref: "#/components/schemas/FunctionAndCustomToolCallOutput"
            title: output content list
            description: |-
              Text, image, or file output of the function call.
        status:
          type: string
          description: |-
            The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - output
    FunctionToolCallOutputResource:
      allOf:
      - $ref: "#/components/schemas/FunctionToolCallOutput"
      - type: object
        properties:
          id:
            type: string
            description: |-
              The unique ID of the function call tool output.
          status:
            description: |-
              The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.
            $ref: "#/components/schemas/FunctionCallOutputStatusEnum"
          created_by:
            type: string
            description: |-
              The identifier of the actor that created the item.
        required:
        - id
        - status
    FunctionToolCallResource:
      allOf:
      - $ref: "#/components/schemas/FunctionToolCall"
      - type: object
        properties:
          id:
            type: string
            description: |-
              The unique ID of the function tool call.
          status:
            description: |-
              The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.
            $ref: "#/components/schemas/FunctionCallStatus"
          created_by:
            type: string
            description: |-
              The identifier of the actor that created the item.
        required:
        - id
        - status
    FunctionToolParam:
      properties:
        name:
          type: string
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
        description:
          anyOf:
          - type: string
          - type: "null"
        parameters:
          anyOf:
          - $ref: "#/components/schemas/EmptyModelParam"
          - type: "null"
        strict:
          anyOf:
          - type: boolean
            description: Whether to enforce strict parameter validation. If omitted, Responses attempts to use strict validation when the schema is compatible, and falls back to non-strict validation otherwise.
          - type: "null"
        type:
          type: string
          enum:
          - function
          default: function
          x-stainless-const: true
        output_schema:
          anyOf:
          - additionalProperties: {}
            type: object
            description: A JSON Schema describing the JSON value encoded in string outputs for this function tool. This does not describe content-array outputs.
          - type: "null"
        defer_loading:
          type: boolean
          description: Whether this function should be deferred and discovered via tool search.
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - name
      - type
    GrammarSyntax1:
      type: string
      enum:
      - lark
      - regex
    HybridSearchOptions:
      properties:
        embedding_weight:
          type: number
          description: The weight of the embedding in the reciprocal ranking fusion.
        text_weight:
          type: number
          description: The weight of the text in the reciprocal ranking fusion.
      type: object
      required:
      - embedding_weight
      - text_weight
    ImageDetail:
      type: string
      enum:
      - low
      - high
      - auto
      - original
    ImageGenActionEnum:
      type: string
      enum:
      - generate
      - edit
      - auto
    ImageGenTool:
      type: object
      title: Image generation tool
      description: |-
        A tool that generates images using the GPT image models.
      properties:
        type:
          type: string
          enum:
          - image_generation
          description: |-
            The type of the image generation tool. Always `image_generation`.
          x-stainless-const: true
        model:
          anyOf:
          - type: string
          - type: string
            enum:
            - gpt-image-1
            - gpt-image-1-mini
            - gpt-image-1.5
            description: |-
              The image generation model to use. Default: `gpt-image-1`.
            default: gpt-image-1
        quality:
          type: string
          enum:
          - low
          - medium
          - high
          - auto
          description: |-
            The quality of the generated image. One of `low`, `medium`, `high`, or `auto`. Default: `auto`.
          default: auto
        size:
          anyOf:
          - type: string
          - type: string
            enum:
            - 1024x1024
            - 1024x1536
            - 1536x1024
            - auto
          description: The size of the generated images. For `gpt-image-2` and `gpt-image-2-2026-04-21`, arbitrary resolutions are supported as `WIDTHxHEIGHT` strings, for example `1536x864`. Width and height must both be divisible by 16 and the requested aspect ratio must be between 1:3 and 3:1. Resolutions above `2560x1440` are experimental, and the maximum supported resolution is `3840x2160`. The requested size must also satisfy the model's current pixel and edge limits. The standard sizes `1024x1024`, `1536x1024`, and `1024x1536` are supported by the GPT image models; `auto` is supported for models that allow automatic sizing. For `dall-e-2`, use one of `256x256`, `512x512`, or `1024x1024`. For `dall-e-3`, use one of `1024x1024`, `1792x1024`, or `1024x1792`.
          default: auto
        output_format:
          type: string
          enum:
          - png
          - webp
          - jpeg
          description: |-
            The output format of the generated image. One of `png`, `webp`, or `jpeg`. Default: `png`.
          default: png
        output_compression:
          type: integer
          minimum: 0
          maximum: 100
          description: |-
            Compression level for the output image. Default: 100.
          default: 100
        moderation:
          type: string
          enum:
          - auto
          - low
          description: |-
            Moderation level for the generated image. Default: `auto`.
          default: auto
        background:
          type: string
          enum:
          - transparent
          - opaque
          - auto
          description: |-
            Background type for the generated image. One of `transparent`, `opaque`, or `auto`. Default: `auto`.
          default: auto
        input_fidelity:
          anyOf:
          - $ref: "#/components/schemas/InputFidelity"
          - type: "null"
        input_image_mask:
          type: object
          description: |-
            Optional mask for inpainting. Contains `image_url` (string, optional) and `file_id` (string, optional).
          properties:
            image_url:
              type: string
              description: |-
                Base64-encoded mask image.
            file_id:
              type: string
              description: |-
                File ID for the mask image.
          required: []
          additionalProperties: false
        partial_images:
          type: integer
          minimum: 0
          maximum: 3
          description: >-
            Number of partial images to generate in streaming mode, from 0 (default value) to 3.
          default: 0
        action:
          description: >-
            Whether to generate a new image or edit an existing image. Default: `auto`.
          $ref: "#/components/schemas/ImageGenActionEnum"
      required:
      - type
    ImageGenToolCall:
      type: object
      title: Image generation call
      description: |-
        An image generation request made by the model.
      properties:
        type:
          type: string
          enum:
          - image_generation_call
          description: >-
            The type of the image generation call. Always `image_generation_call`.
          x-stainless-const: true
        id:
          type: string
          description: |-
            The unique ID of the image generation call.
        status:
          type: string
          enum:
          - in_progress
          - completed
          - generating
          - failed
          description: |-
            The status of the image generation call.
        result:
[...]
