openapi: 3.1.0
info:
  title: OpenAI API — Evals
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Evals
  description: Manage and run evals in the OpenAI platform.
paths:
  /evals:
    get:
      operationId: listEvals
      tags:
      - Evals
      summary: |-
        List evaluations for a project.
      parameters:
      - name: after
        in: query
        description: Identifier for the last eval from the previous pagination request.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of evals to retrieve.
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        description: Sort order for evals by timestamp. Use `asc` for ascending order or `desc` for descending order.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: order_by
        in: query
        description: >-
          Evals can be ordered by creation time or last updated time. Use `created_at` for creation time or `updated_at` for last updated time.
        required: false
        schema:
          type: string
          enum:
          - created_at
          - updated_at
          default: created_at
      responses:
        "200":
          description: A list of evals
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalList"
    post:
      operationId: createEval
      tags:
      - Evals
      summary: >-
        Create the structure of an evaluation that can be used to test a model's performance. An evaluation is a set of testing criteria and the config for a data source, which dictates the schema of the data used in the evaluation. After creating an evaluation, you can run it on different models and model parameters. We support several types of graders and datasources. For more information, see the [Evals guide](/docs/guides/evals).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvalRequest"
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Eval"
  /evals/{eval_id}:
    get:
      operationId: getEval
      tags:
      - Evals
      summary: |-
        Get an evaluation by ID.
      parameters:
      - name: eval_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the evaluation to retrieve.
      responses:
        "200":
          description: The evaluation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Eval"
    post:
      operationId: updateEval
      tags:
      - Evals
      summary: |-
        Update certain properties of an evaluation.
      parameters:
      - name: eval_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the evaluation to update.
      requestBody:
        description: Request to update an evaluation
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Rename the evaluation.
                metadata:
                  $ref: "#/components/schemas/Metadata"
      responses:
        "200":
          description: The updated evaluation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Eval"
    delete:
      operationId: deleteEval
      tags:
      - Evals
      summary: |-
        Delete an evaluation.
      parameters:
      - name: eval_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the evaluation to delete.
      responses:
        "200":
          description: Successfully deleted the evaluation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: eval.deleted
                  deleted:
                    type: boolean
                    example: true
                  eval_id:
                    type: string
                    example: eval_abc123
                required:
                - object
                - deleted
                - eval_id
        "404":
          description: Evaluation not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /evals/{eval_id}/runs:
    get:
      operationId: getEvalRuns
      tags:
      - Evals
      summary: |-
        Get a list of runs for an evaluation.
      parameters:
      - name: eval_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the evaluation to retrieve runs for.
      - name: after
        in: query
        description: Identifier for the last run from the previous pagination request.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of runs to retrieve.
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        description: Sort order for runs by timestamp. Use `asc` for ascending order or `desc` for descending order. Defaults to `asc`.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: status
        in: query
        description: Filter runs by status. One of `queued` | `in_progress` | `failed` | `completed` | `canceled`.
        required: false
        schema:
          type: string
          enum:
          - queued
          - in_progress
          - completed
          - canceled
          - failed
      responses:
        "200":
          description: A list of runs for the evaluation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunList"
    post:
      operationId: createEvalRun
      tags:
      - Evals
      summary: >-
        Kicks off a new run for a given evaluation, specifying the data source, and what model configuration to use to test. The datasource will be validated against the schema specified in the config of the evaluation.
      parameters:
      - in: path
        name: eval_id
        required: true
        schema:
          type: string
        description: The ID of the evaluation to create a run for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvalRunRequest"
      responses:
        "201":
          description: Successfully created a run for the evaluation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRun"
        "400":
          description: Bad request (for example, missing eval object)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /evals/{eval_id}/runs/{run_id}:
    get:
      operationId: getEvalRun
      tags:
      - Evals
      summary: |-
        Get an evaluation run by ID.
      parameters:
      - name: eval_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the evaluation to retrieve runs for.
      - name: run_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the run to retrieve.
      responses:
        "200":
          description: The evaluation run
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRun"
    post:
      operationId: cancelEvalRun
      tags:
      - Evals
      summary: |-
        Cancel an ongoing evaluation run.
      parameters:
      - name: eval_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the evaluation whose run you want to cancel.
      - name: run_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the run to cancel.
      responses:
        "200":
          description: The canceled eval run object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRun"
    delete:
      operationId: deleteEvalRun
      tags:
      - Evals
      summary: |-
        Delete an eval run.
      parameters:
      - name: eval_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the evaluation to delete the run from.
      - name: run_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the run to delete.
      responses:
        "200":
          description: Successfully deleted the eval run
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: eval.run.deleted
                  deleted:
                    type: boolean
                    example: true
                  run_id:
                    type: string
                    example: evalrun_677469f564d48190807532a852da3afb
        "404":
          description: Run not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /evals/{eval_id}/runs/{run_id}/output_items:
    get:
      operationId: getEvalRunOutputItems
      tags:
      - Evals
      summary: |-
        Get a list of output items for an evaluation run.
      parameters:
      - name: eval_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the evaluation to retrieve runs for.
      - name: run_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the run to retrieve output items for.
      - name: after
        in: query
        description: Identifier for the last output item from the previous pagination request.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of output items to retrieve.
        required: false
        schema:
          type: integer
          default: 20
      - name: status
        in: query
        description: >-
          Filter output items by status. Use `failed` to filter by failed output items or `pass` to filter by passed output items.
        required: false
        schema:
          type: string
          enum:
          - fail
          - pass
      - name: order
        in: query
        description: Sort order for output items by timestamp. Use `asc` for ascending order or `desc` for descending order. Defaults to `asc`.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        "200":
          description: A list of output items for the evaluation run
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunOutputItemList"
  /evals/{eval_id}/runs/{run_id}/output_items/{output_item_id}:
    get:
      operationId: getEvalRunOutputItem
      tags:
      - Evals
      summary: |-
        Get an evaluation run output item by ID.
      parameters:
      - name: eval_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the evaluation to retrieve runs for.
      - name: run_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the run to retrieve.
      - name: output_item_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the output item to retrieve.
      responses:
        "200":
          description: The evaluation run output item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunOutputItem"
components:
  schemas:
    ApplyPatchToolParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch
          description: The type of the tool. Always `apply_patch`.
          default: apply_patch
          x-stainless-const: true
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      title: Apply patch tool
      description: Allows the assistant to create, delete, or update files using unified diffs.
    ApproximateLocation:
      properties:
        type:
          type: string
          enum:
          - approximate
          description: The type of location approximation. Always `approximate`.
          default: approximate
          x-stainless-const: true
        country:
          anyOf:
          - type: string
            description: The two-letter [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1) of the user, e.g. `US`.
          - type: "null"
        region:
          anyOf:
          - type: string
            description: Free text input for the region of the user, e.g. `California`.
          - type: "null"
        city:
          anyOf:
          - type: string
            description: Free text input for the city of the user, e.g. `San Francisco`.
          - type: "null"
        timezone:
          anyOf:
          - type: string
            description: The [IANA timezone](https://timeapi.io/documentation/iana-timezones) of the user, e.g. `America/Los_Angeles`.
          - type: "null"
      type: object
      required:
      - type
    AutoCodeInterpreterToolParam:
      properties:
        type:
          type: string
          enum:
          - auto
          description: Always `auto`.
          default: auto
          x-stainless-const: true
        file_ids:
          items:
            type: string
            example: file-123
          type: array
          maxItems: 50
          description: An optional list of uploaded files to make available to your code.
        memory_limit:
          anyOf:
          - $ref: "#/components/schemas/ContainerMemoryLimit"
            description: The memory limit for the code interpreter container.
          - type: "null"
        network_policy:
          oneOf:
          - $ref: "#/components/schemas/ContainerNetworkPolicyDisabledParam"
          - $ref: "#/components/schemas/ContainerNetworkPolicyAllowlistParam"
          description: Network access policy for the container.
          discriminator:
            propertyName: type
      type: object
      required:
      - type
      title: CodeInterpreterToolAuto
      description: Configuration for a code interpreter container. Optionally specify the IDs of the files to run the code on.
    CallableToolAllowedCaller:
      type: string
      enum:
      - direct
      - programmatic
    ChatCompletionTool:
      type: object
      title: Function tool
      description: |-
        A function tool that can be used to generate a response.
      properties:
        type:
          type: string
          enum:
          - function
          description: The type of the tool. Currently, only `function` is supported.
          x-stainless-const: true
        function:
          $ref: "#/components/schemas/FunctionObject"
      required:
      - type
      - function
    CodeInterpreterTool:
      type: object
      title: Code interpreter
      description: |-
        A tool that runs Python code to help generate a response to a prompt.
      properties:
        type:
          type: string
          enum:
          - code_interpreter
          description: |-
            The type of the code interpreter tool. Always `code_interpreter`.
          x-stainless-const: true
        container:
          description: >-
            The code interpreter container. Can be a container ID or an object that specifies uploaded file IDs to make available to your code, along with an optional `memory_limit` setting.
          oneOf:
          - type: string
            description: The container ID.
          - $ref: "#/components/schemas/AutoCodeInterpreterToolParam"
        allowed_callers:
          anyOf:
          - type: array
            minItems: 1
            items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            description: The tool invocation context(s).
          - type: "null"
      required:
      - type
      - container
    ComparisonFilter:
      type: object
      additionalProperties: false
      title: Comparison Filter
      description: >-
        A filter used to compare a specified attribute key to a given value using a defined comparison operation.
      properties:
        type:
          type: string
          default: eq
          enum:
          - eq
          - ne
          - gt
          - gte
          - lt
          - lte
          - in
          - nin
          description: >-
            Specifies the comparison operator: `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `nin`.

            - `eq`: equals

            - `ne`: not equal

            - `gt`: greater than

            - `gte`: greater than or equal

            - `lt`: less than

            - `lte`: less than or equal

            - `in`: in

            - `nin`: not in
        key:
          type: string
          description: The key to compare against the value.
        value:
          oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
            items:
              oneOf:
              - type: string
              - type: number
          description: The value to compare against the attribute key; supports string, number, or boolean types.
      required:
      - type
      - key
      - value
    CompoundFilter:
      $recursiveAnchor: true
      type: object
      additionalProperties: false
      title: Compound Filter
      description: Combine multiple filters using `and` or `or`.
      properties:
        type:
          type: string
          description: "Type of operation: `and` or `or`."
          enum:
          - and
          - or
        filters:
          type: array
          description: Array of filters to combine. Items can be `ComparisonFilter` or `CompoundFilter`.
          items:
            oneOf:
            - $ref: "#/components/schemas/ComparisonFilter"
            - $recursiveRef: "#"
            discriminator:
              propertyName: type
      required:
      - type
      - filters
    ComputerEnvironment:
      type: string
      enum:
      - windows
      - mac
      - linux
      - ubuntu
      - browser
    ComputerTool:
      properties:
        type:
          type: string
          enum:
          - computer
          description: The type of the computer tool. Always `computer`.
          default: computer
          x-stainless-const: true
      type: object
      required:
      - type
      title: Computer
      description: A tool that controls a virtual computer. Learn more about the [computer tool](https://platform.openai.com/docs/guides/tools-computer-use).
    ComputerUsePreviewTool:
      properties:
        type:
          type: string
          enum:
          - computer_use_preview
          description: The type of the computer use tool. Always `computer_use_preview`.
          default: computer_use_preview
          x-stainless-const: true
        environment:
          $ref: "#/components/schemas/ComputerEnvironment"
          description: The type of computer environment to control.
        display_width:
          type: integer
          description: The width of the computer display.
        display_height:
          type: integer
          description: The height of the computer display.
      type: object
      required:
      - type
      - environment
      - display_width
      - display_height
      title: Computer use preview
      description: A tool that controls a virtual computer. Learn more about the [computer tool](https://platform.openai.com/docs/guides/tools-computer-use).
    ContainerAutoParam:
      properties:
        type:
          type: string
          enum:
          - container_auto
          description: Automatically creates a container for this request
          default: container_auto
          x-stainless-const: true
        file_ids:
          items:
            type: string
            example: file-123
          type: array
          maxItems: 50
          description: An optional list of uploaded files to make available to your code.
        memory_limit:
          anyOf:
          - $ref: "#/components/schemas/ContainerMemoryLimit"
            description: The memory limit for the container.
          - type: "null"
        network_policy:
          oneOf:
          - $ref: "#/components/schemas/ContainerNetworkPolicyDisabledParam"
          - $ref: "#/components/schemas/ContainerNetworkPolicyAllowlistParam"
          description: Network access policy for the container.
          discriminator:
            propertyName: type
        skills:
          items:
            oneOf:
            - $ref: "#/components/schemas/SkillReferenceParam"
            - $ref: "#/components/schemas/InlineSkillParam"
            discriminator:
              propertyName: type
          type: array
          maxItems: 200
          description: An optional list of skills referenced by id or inline data.
      type: object
      required:
      - type
    ContainerMemoryLimit:
      type: string
      enum:
      - 1g
      - 4g
      - 16g
      - 64g
    ContainerNetworkPolicyAllowlistParam:
      properties:
        type:
          type: string
          enum:
          - allowlist
          description: Allow outbound network access only to specified domains. Always `allowlist`.
          default: allowlist
          x-stainless-const: true
        allowed_domains:
          items:
            type: string
          type: array
          minItems: 1
          description: A list of allowed domains when type is `allowlist`.
        domain_secrets:
          items:
            $ref: "#/components/schemas/ContainerNetworkPolicyDomainSecretParam"
          type: array
          minItems: 1
          description: Optional domain-scoped secrets for allowlisted domains.
      type: object
      required:
      - type
      - allowed_domains
    ContainerNetworkPolicyDisabledParam:
      properties:
        type:
          type: string
          enum:
          - disabled
          description: Disable outbound network access. Always `disabled`.
          default: disabled
          x-stainless-const: true
      type: object
      required:
      - type
    ContainerNetworkPolicyDomainSecretParam:
      properties:
        domain:
          type: string
          minLength: 1
          description: The domain associated with the secret.
        name:
          type: string
          minLength: 1
          description: The name of the secret to inject for the domain.
        value:
          type: string
          maxLength: 10485760
          minLength: 1
          description: The secret value to inject for the domain.
      type: object
      required:
      - domain
      - name
      - value
    ContainerReferenceParam:
      properties:
        type:
          type: string
          enum:
          - container_reference
          description: References a container created with the /v1/containers endpoint
          default: container_reference
          x-stainless-const: true
        container_id:
          type: string
          description: The ID of the referenced container.
          example: cntr_123
      type: object
      required:
      - type
      - container_id
    CreateEvalCompletionsRunDataSource:
      type: object
      title: CompletionsRunDataSource
      description: >-
        A CompletionsRunDataSource object describing a model sampling configuration.
      properties:
        type:
          type: string
          enum:
          - completions
          default: completions
          description: The type of run data source. Always `completions`.
        input_messages:
          description: Used when sampling from a model. Dictates the structure of the messages passed into the model. Can either be a reference to a prebuilt trajectory (ie, `item.input_trajectory`), or a template with variable references to the `item` namespace.
          oneOf:
          - type: object
            title: TemplateInputMessages
            properties:
              type:
                type: string
                enum:
                - template
                description: The type of input messages. Always `template`.
              template:
                type: array
                description: A list of chat messages forming the prompt or context. May include variable references to the `item` namespace, ie {{item.name}}.
                items:
                  oneOf:
                  - $ref: "#/components/schemas/EasyInputMessage"
                  - $ref: "#/components/schemas/EvalItem"
            required:
            - type
            - template
          - type: object
            title: ItemReferenceInputMessages
            properties:
              type:
                type: string
                enum:
                - item_reference
                description: The type of input messages. Always `item_reference`.
              item_reference:
                type: string
                description: A reference to a variable in the `item` namespace. Ie, "item.input_trajectory"
            required:
            - type
            - item_reference
        sampling_params:
          type: object
          properties:
            reasoning_effort:
              $ref: "#/components/schemas/ReasoningEffort"
            temperature:
              type: number
              description: A higher temperature increases randomness in the outputs.
              default: 1
            max_completion_tokens:
              type: integer
              description: The maximum number of tokens in the generated output.
            top_p:
              type: number
              description: An alternative to temperature for nucleus sampling; 1.0 includes all tokens.
              default: 1
            seed:
              type: integer
              description: A seed value to initialize the randomness, during sampling.
              default: 42
            response_format:
              description: >-
                An object specifying the format that the model must output.

                Setting to `{ "type": "json_schema", "json_schema": {...} }` enables Structured Outputs which ensures the model will match your supplied JSON schema. Learn more in the [Structured Outputs guide](/docs/guides/structured-outputs).

                Setting to `{ "type": "json_object" }` enables the older JSON mode, which ensures the message the model generates is valid JSON. Using `json_schema` is preferred for models that support it.
              oneOf:
              - $ref: "#/components/schemas/ResponseFormatText"
              - $ref: "#/components/schemas/ResponseFormatJsonSchema"
              - $ref: "#/components/schemas/ResponseFormatJsonObject"
            tools:
              type: array
              description: >-
                A list of tools the model may call. Currently, only functions are supported as a tool. Use this to provide a list of functions the model may generate JSON inputs for. A max of 128 functions are supported.
              items:
                $ref: "#/components/schemas/ChatCompletionTool"
        model:
          type: string
          description: The name of the model to use for generating completions (e.g. "o3-mini").
        source:
          description: Determines what populates the `item` namespace in this run's data source.
          oneOf:
          - $ref: "#/components/schemas/EvalJsonlFileContentSource"
          - $ref: "#/components/schemas/EvalJsonlFileIdSource"
          - $ref: "#/components/schemas/EvalStoredCompletionsSource"
      required:
      - type
      - source
    CreateEvalCustomDataSourceConfig:
      type: object
      title: CustomDataSourceConfig
      description: >-
        A CustomDataSourceConfig object that defines the schema for the data source used for the evaluation runs. This schema is used to define the shape of the data that will be:

        - Used to define your testing criteria and

        - What data is required when creating a run
      properties:
        type:
          type: string
          enum:
          - custom
          default: custom
          description: The type of data source. Always `custom`.
          x-stainless-const: true
        item_schema:
          type: object
          description: The json schema for each row in the data source.
          additionalProperties: true
          example: |
            {
              "type": "object",
              "properties": {
                "name": {"type": "string"},
                "age": {"type": "integer"}
              },
              "required": ["name", "age"]
            }
        include_sample_schema:
          type: boolean
          default: false
          description: Whether the eval should expect you to populate the sample namespace (ie, by generating responses off of your data source)
      required:
      - item_schema
      - type
    CreateEvalItem:
      title: CreateEvalItem
      description: A chat message that makes up the prompt or context. May include variable references to the `item` namespace, ie {{item.name}}.
      type: object
      oneOf:
      - type: object
        title: SimpleInputMessage
        properties:
          role:
            type: string
            description: The role of the message (e.g. "system", "assistant", "user").
          content:
            type: string
            description: The content of the message.
        required:
        - role
        - content
      - $ref: "#/components/schemas/EvalItem"
    CreateEvalJsonlRunDataSource:
      type: object
      title: JsonlRunDataSource
      description: >-
        A JsonlRunDataSource object with that specifies a JSONL file that matches the eval
      properties:
        type:
          type: string
          enum:
          - jsonl
          default: jsonl
          description: The type of data source. Always `jsonl`.
          x-stainless-const: true
        source:
          description: Determines what populates the `item` namespace in the data source.
          oneOf:
          - $ref: "#/components/schemas/EvalJsonlFileContentSource"
          - $ref: "#/components/schemas/EvalJsonlFileIdSource"
      required:
      - type
      - source
    CreateEvalLabelModelGrader:
      type: object
      title: LabelModelGrader
      description: >-
        A LabelModelGrader object which uses a model to assign labels to each item in the evaluation.
      properties:
        type:
          description: The object type, which is always `label_model`.
          type: string
          enum:
          - label_model
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        model:
          type: string
          description: The model to use for the evaluation. Must support structured outputs.
        input:
          type: array
          description: A list of chat messages forming the prompt or context. May include variable references to the `item` namespace, ie {{item.name}}.
          items:
            $ref: "#/components/schemas/CreateEvalItem"
        labels:
          type: array
          items:
            type: string
          description: The labels to classify to each item in the evaluation.
        passing_labels:
          type: array
          items:
            type: string
          description: The labels that indicate a passing result. Must be a subset of labels.
      required:
      - type
      - model
      - input
      - passing_labels
      - labels
      - name
    CreateEvalLogsDataSourceConfig:
      type: object
      title: LogsDataSourceConfig
      description: >-
        A data source config which specifies the metadata property of your logs query. This is usually metadata like `usecase=chatbot` or `prompt-version=v2`, etc.
      properties:
        type:
          type: string
          enum:
          - logs
          default: logs
          description: The type of data source. Always `logs`.
          x-stainless-const: true
        metadata:
          type: object
          description: Metadata filters for the logs data source.
          additionalProperties: true
          example: |
            {
              "use_case": "customer_support_agent"
            }
      required:
      - type
    CreateEvalRequest:
      type: object
      title: CreateEvalRequest
      properties:
        name:
          type: string
          description: The name of the evaluation.
        metadata:
          $ref: "#/components/schemas/Metadata"
        data_source_config:
          type: object
          description: The configuration for the data source used for the evaluation runs. Dictates the schema of the data used in the evaluation.
          oneOf:
          - $ref: "#/components/schemas/CreateEvalCustomDataSourceConfig"
          - $ref: "#/components/schemas/CreateEvalLogsDataSourceConfig"
          - $ref: "#/components/schemas/CreateEvalStoredCompletionsDataSourceConfig"
        testing_criteria:
          type: array
          description: A list of graders for all eval runs in this group. Graders can reference variables in the data source using double curly braces notation, like `{{item.variable_name}}`. To reference the model's output, use the `sample` namespace (ie, `{{sample.output_text}}`).
          items:
            oneOf:
            - $ref: "#/components/schemas/CreateEvalLabelModelGrader"
            - $ref: "#/components/schemas/EvalGraderStringCheck"
            - $ref: "#/components/schemas/EvalGraderTextSimilarity"
            - $ref: "#/components/schemas/EvalGraderPython"
            - $ref: "#/components/schemas/EvalGraderScoreModel"
      required:
      - data_source_config
      - testing_criteria
    CreateEvalResponsesRunDataSource:
      type: object
      title: ResponsesRunDataSource
      description: >-
        A ResponsesRunDataSource object describing a model sampling configuration.
      properties:
        type:
          type: string
          enum:
          - responses
          default: responses
          description: The type of run data source. Always `responses`.
        input_messages:
          description: Used when sampling from a model. Dictates the structure of the messages passed into the model. Can either be a reference to a prebuilt trajectory (ie, `item.input_trajectory`), or a template with variable references to the `item` namespace.
          oneOf:
          - type: object
            title: InputMessagesTemplate
            properties:
              type:
                type: string
                enum:
                - template
                description: The type of input messages. Always `template`.
              template:
                type: array
                description: A list of chat messages forming the prompt or context. May include variable references to the `item` namespace, ie {{item.name}}.
                items:
                  oneOf:
                  - type: object
                    title: ChatMessage
                    properties:
                      role:
                        type: string
                        description: The role of the message (e.g. "system", "assistant", "user").
                      content:
                        type: string
                        description: The content of the message.
                    required:
                    - role
                    - content
                  - $ref: "#/components/schemas/EvalItem"
            required:
            - type
            - template
          - type: object
            title: InputMessagesItemReference
            properties:
              type:
                type: string
                enum:
                - item_reference
                description: The type of input messages. Always `item_reference`.
              item_reference:
                type: string
                description: A reference to a variable in the `item` namespace. Ie, "item.name"
            required:
            - type
            - item_reference
        sampling_params:
          type: object
          properties:
            reasoning_effort:
              $ref: "#/components/schemas/ReasoningEffort"
            temperature:
              type: number
              description: A higher temperature increases randomness in the outputs.
              default: 1
            max_completion_tokens:
              type: integer
              description: The maximum number of tokens in the generated output.
            top_p:
              type: number
              description: An alternative to temperature for nucleus sampling; 1.0 includes all tokens.
              default: 1
            seed:
              type: integer
              description: A seed value to initialize the randomness, during sampling.
              default: 42
            tools:
              type: array
              description: >-
                An array of tools the model may call while generating a response. You can specify which tool to use by setting the `tool_choice` parameter.

                The two categories of tools you can provide the model are:

                - **Built-in tools**: Tools that are provided by OpenAI that extend the   model's capabilities, like [web search](/docs/guides/tools-web-search)   or [file search](/docs/guides/tools-file-search). Learn more about   [built-in tools](/docs/guides/tools).

                - **Function calls (custom tools)**: Functions that are defined by you,   enabling the model to call your own code. Learn more about   [function calling](/docs/guides/function-calling).
              items:
                $ref: "#/components/schemas/Tool"
            text:
              type: object
              description: >-
                Configuration options for a text response from the model. Can be plain text or structured JSON data. Learn more:

                - [Text inputs and outputs](/docs/guides/text)

                - [Structured Outputs](/docs/guides/structured-outputs)
              properties:
                format:
                  $ref: "#/components/schemas/TextResponseFormatConfiguration"
        model:
          type: string
          description: The name of the model to use for generating completions (e.g. "o3-mini").
        source:
          description: Determines what populates the `item` namespace in this run's data source.
          oneOf:
          - $ref: "#/components/schemas/EvalJsonlFileContentSource"
          - $ref: "#/components/schemas/EvalJsonlFileIdSource"
          - $ref: "#/components/schemas/EvalResponsesSource"
      required:
      - type
      - source
    CreateEvalRunRequest:
      type: object
      title: CreateEvalRunRequest
      properties:
        name:
          type: string
          description: The name of the run.
        metadata:
          $ref: "#/components/schemas/Metadata"
        data_source:
          type: object
          description: Details about the run's data source.
          oneOf:
          - $ref: "#/components/schemas/CreateEvalJsonlRunDataSource"
          - $ref: "#/components/schemas/CreateEvalCompletionsRunDataSource"
          - $ref: "#/components/schemas/CreateEvalResponsesRunDataSource"
      required:
      - data_source
    CreateEvalStoredCompletionsDataSourceConfig:
      type: object
      title: StoredCompletionsDataSourceConfig
      description: |-
        Deprecated in favor of LogsDataSourceConfig.
      properties:
        type:
          type: string
          enum:
          - stored_completions
          default: stored_completions
          description: The type of data source. Always `stored_completions`.
          x-stainless-const: true
        metadata:
          type: object
          description: Metadata filters for the stored completions data source.
          additionalProperties: true
          example: |
            {
              "use_case": "customer_support_agent"
            }
      required:
      - type
      deprecated: true
    CustomGrammarFormatParam:
      properties:
        type:
          type: string
          enum:
          - grammar
          description: Grammar format. Always `grammar`.
          default: grammar
          x-stainless-const: true
        syntax:
          $ref: "#/components/schemas/GrammarSyntax1"
          description: The syntax of the grammar definition. One of `lark` or `regex`.
        definition:
          type: string
          description: The grammar definition.
      type: object
      required:
      - type
      - syntax
      - definition
      title: Grammar format
      description: A grammar defined by the user.
    CustomTextFormatParam:
      properties:
        type:
          type: string
          enum:
          - text
          description: Unconstrained text format. Always `text`.
          default: text
          x-stainless-const: true
      type: object
      required:
      - type
      title: Text format
      description: Unconstrained free-form text.
    CustomToolParam:
      properties:
        type:
          type: string
          enum:
          - custom
          description: The type of the custom tool. Always `custom`.
          default: custom
          x-stainless-const: true
        name:
          type: string
          description: The name of the custom tool, used to identify it in tool calls.
        description:
          type: string
          description: Optional description of the custom tool, used to provide more context.
        format:
          oneOf:
          - $ref: "#/components/schemas/CustomTextFormatParam"
          - $ref: "#/components/schemas/CustomGrammarFormatParam"
          description: The input format for the custom tool. Default is unconstrained text.
          discriminator:
            propertyName: type
        defer_loading:
          type: boolean
          description: Whether this tool should be deferred and discovered via tool search.
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      - name
      title: Custom tool
      description: A custom tool that processes input using a specified format. Learn more about   [custom tools](/docs/guides/function-calling#custom-tools)
    EasyInputMessage:
      type: object
      title: Input message
      description: >-
        A message input to the model with a role indicating instruction following hierarchy. Instructions given with the `developer` or `system` role take precedence over instructions given with the `user` role. Messages with the `assistant` role are presumed to have been generated by the model in previous interactions.
      properties:
        role:
          type: string
          description: >-
            The role of the message input. One of `user`, `assistant`, `system`, or `developer`.
          enum:
          - user
          - assistant
          - system
          - developer
        content:
          description: >-
            Text, image, or audio input to the model, used to generate a response. Can also contain previous assistant responses.
          oneOf:
          - type: string
            title: Text input
            description: |-
              A text input to the model.
          - $ref: "#/components/schemas/InputMessageContentList"
        phase:
          anyOf:
          - $ref: "#/components/schemas/MessagePhase"
          - type: "null"
        type:
          type: string
          description: |-
            The type of the message input. Always `message`.
          enum:
          - message
          x-stainless-const: true
      required:
      - role
      - content
    EmptyModelParam:
      properties: {}
      type: object
      required: []
    Error:
      type: object
      properties:
        code:
          anyOf:
          - type: string
          - type: "null"
        message:
          type: string
        param:
          anyOf:
          - type: string
          - type: "null"
        type:
          type: string
      required:
      - type
      - message
      - param
      - code
    Eval:
      type: object
      title: Eval
      description: |-
        An Eval object with a data source config and testing criteria. An Eval represents a task to be done for your LLM integration. Like:  - Improve the quality of my chatbot  - See how well my chatbot handles customer support  - Check if o4-mini is better at my usecase than gpt-4o
      properties:
        object:
          type: string
          enum:
          - eval
          default: eval
          description: The object type.
          x-stainless-const: true
        id:
          type: string
          description: Unique identifier for the evaluation.
        name:
          type: string
          description: The name of the evaluation.
          example: Chatbot effectiveness Evaluation
        data_source_config:
          type: object
          description: Configuration of data sources used in runs of the evaluation.
          oneOf:
          - $ref: "#/components/schemas/EvalCustomDataSourceConfig"
          - $ref: "#/components/schemas/EvalLogsDataSourceConfig"
          - $ref: "#/components/schemas/EvalStoredCompletionsDataSourceConfig"
        testing_criteria:
          description: A list of testing criteria.
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/EvalGraderLabelModel"
            - $ref: "#/components/schemas/EvalGraderStringCheck"
            - $ref: "#/components/schemas/EvalGraderTextSimilarity"
            - $ref: "#/components/schemas/EvalGraderPython"
            - $ref: "#/components/schemas/EvalGraderScoreModel"
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the eval was created.
        metadata:
          $ref: "#/components/schemas/Metadata"
      required:
      - id
      - data_source_config
      - object
      - testing_criteria
      - name
      - created_at
      - metadata
    EvalApiError:
      type: object
      title: EvalApiError
      description: |-
        An object representing an error response from the Eval API.
      properties:
        code:
          type: string
          description: The error code.
        message:
          type: string
          description: The error message.
      required:
      - code
      - message
    EvalCustomDataSourceConfig:
      type: object
      title: CustomDataSourceConfig
      description: >-
        A CustomDataSourceConfig which specifies the schema of your `item` and optionally `sample` namespaces. The response schema defines the shape of the data that will be:

        - Used to define your testing criteria and

        - What data is required when creating a run
      properties:
        type:
          type: string
          enum:
          - custom
          default: custom
          description: The type of data source. Always `custom`.
          x-stainless-const: true
        schema:
          type: object
          description: |-
            The json schema for the run data source items. Learn how to build JSON schemas [here](https://json-schema.org/).
          additionalProperties: true
          example: |
            {
              "type": "object",
              "properties": {
                "item": {
                  "type": "object",
                  "properties": {
                    "label": {"type": "string"},
                  },
                  "required": ["label"]
                }
              },
              "required": ["item"]
            }
      required:
      - type
      - schema
    EvalGraderLabelModel:
      type: object
      title: LabelModelGrader
      allOf:
      - $ref: "#/components/schemas/GraderLabelModel"
    EvalGraderPython:
      type: object
      title: PythonGrader
      allOf:
      - $ref: "#/components/schemas/GraderPython"
      - type: object
        properties:
          pass_threshold:
            type: number
            description: The threshold for the score.
    EvalGraderScoreModel:
      type: object
      title: ScoreModelGrader
      allOf:
      - $ref: "#/components/schemas/GraderScoreModel"
      - type: object
        properties:
          pass_threshold:
            type: number
            description: The threshold for the score.
    EvalGraderStringCheck:
      type: object
      title: StringCheckGrader
      allOf:
      - $ref: "#/components/schemas/GraderStringCheck"
    EvalGraderTextSimilarity:
      type: object
      title: TextSimilarityGrader
      allOf:
      - $ref: "#/components/schemas/GraderTextSimilarity"
      - type: object
        properties:
          pass_threshold:
            type: number
            description: The threshold for the score.
        required:
        - pass_threshold
    EvalItem:
      type: object
      title: Eval message object
      description: >-
        A message input to the model with a role indicating instruction following hierarchy. Instructions given with the `developer` or `system` role take precedence over instructions given with the `user` role. Messages with the `assistant` role are presumed to have been generated by the model in previous interactions.
      properties:
        role:
          type: string
          description: >-
            The role of the message input. One of `user`, `assistant`, `system`, or `developer`.
          enum:
          - user
          - assistant
          - system
          - developer
        content:
          $ref: "#/components/schemas/EvalItemContent"
        type:
          type: string
          description: |-
            The type of the message input. Always `message`.
          enum:
          - message
          x-stainless-const: true
      required:
      - role
      - content
    EvalItemContent:
      title: Eval content
      description: >-
        Inputs to the model - can contain template strings. Supports text, output text, input images, and input audio, either as a single item or an array of items.
      oneOf:
      - $ref: "#/components/schemas/EvalItemContentItem"
      - $ref: "#/components/schemas/EvalItemContentArray"
    EvalItemContentArray:
      type: array
      title: An array of Input text, Output text, Input image, and Input audio
      description: >-
        A list of inputs, each of which may be either an input text, output text, input image, or input audio object.
      items:
        $ref: "#/components/schemas/EvalItemContentItem"
    EvalItemContentItem:
      title: Eval content item
      description: >-
        A single content item: input text, output text, input image, or input audio.
      oneOf:
      - $ref: "#/components/schemas/EvalItemContentText"
      - $ref: "#/components/schemas/InputTextContent"
      - $ref: "#/components/schemas/EvalItemContentOutputText"
      - $ref: "#/components/schemas/EvalItemInputImage"
      - $ref: "#/components/schemas/InputAudio"
    EvalItemContentOutputText:
      type: object
      title: Output text
      description: |-
        A text output from the model.
      properties:
        type:
          type: string
          description: |-
            The type of the output text. Always `output_text`.
          enum:
          - output_text
          x-stainless-const: true
        text:
          type: string
          description: |-
            The text output from the model.
      required:
      - type
      - text
    EvalItemContentText:
      type: string
      title: Text input
      description: |-
        A text input to the model.
    EvalItemInputImage:
      title: Input image
      description: An image input block used within EvalItem content arrays.
      type: object
      properties:
        type:
          type: string
          description: |-
            The type of the image input. Always `input_image`.
          enum:
          - input_image
          x-stainless-const: true
        image_url:
          type: string
          format: uri
          description: |-
            The URL of the image input.
        detail:
          type: string
          description: >-
            The detail level of the image to be sent to the model. One of `high`, `low`, or `auto`. Defaults to `auto`.
      required:
      - type
      - image_url
    EvalJsonlFileContentSource:
      type: object
      title: EvalJsonlFileContentSource
      properties:
        type:
          type: string
          enum:
          - file_content
          default: file_content
          description: The type of jsonl source. Always `file_content`.
          x-stainless-const: true
        content:
          type: array
          items:
            type: object
            properties:
              item:
                type: object
                additionalProperties: true
              sample:
                type: object
                additionalProperties: true
            required:
            - item
          description: The content of the jsonl file.
      required:
      - type
      - content
    EvalJsonlFileIdSource:
      type: object
      title: EvalJsonlFileIdSource
      properties:
        type:
          type: string
          enum:
          - file_id
          default: file_id
          description: The type of jsonl source. Always `file_id`.
          x-stainless-const: true
        id:
          type: string
          description: The identifier of the file.
      required:
      - type
      - id
    EvalList:
      type: object
      title: EvalList
      description: |-
        An object representing a list of evals.
      properties:
        object:
          type: string
          enum:
          - list
          default: list
          description: |-
            The type of this object. It is always set to "list".
          x-stainless-const: true
        data:
          type: array
          description: |-
            An array of eval objects.
          items:
            $ref: "#/components/schemas/Eval"
        first_id:
          type: string
          description: The identifier of the first eval in the data array.
        last_id:
          type: string
          description: The identifier of the last eval in the data array.
        has_more:
          type: boolean
          description: Indicates whether there are more evals available.
      required:
      - object
      - data
      - first_id
      - last_id
      - has_more
    EvalLogsDataSourceConfig:
      type: object
      title: LogsDataSourceConfig
      description: >-
        A LogsDataSourceConfig which specifies the metadata property of your logs query. This is usually metadata like `usecase=chatbot` or `prompt-version=v2`, etc. The schema returned by this data source config is used to defined what variables are available in your evals. `item` and `sample` are both defined when using this data source config.
      properties:
        type:
          type: string
          enum:
          - logs
          default: logs
          description: The type of data source. Always `logs`.
          x-stainless-const: true
        metadata:
          $ref: "#/components/schemas/Metadata"
        schema:
          type: object
          description: |-
            The json schema for the run data source items. Learn how to build JSON schemas [here](https://json-schema.org/).
          additionalProperties: true
      required:
      - type
      - schema
    EvalResponsesSource:
      type: object
      title: EvalResponsesSource
      description: |-
        A EvalResponsesSource object describing a run data source configuration.
      properties:
        type:
          type: string
          enum:
          - responses
          description: The type of run data source. Always `responses`.
        metadata:
          anyOf:
          - type: object
            description: Metadata filter for the responses. This is a query parameter used to select responses.
          - type: "null"
        model:
          anyOf:
          - type: string
            description: The name of the model to find responses for. This is a query parameter used to select responses.
          - type: "null"
        instructions_search:
          anyOf:
          - type: string
            description: Optional string to search the 'instructions' field. This is a query parameter used to select responses.
          - type: "null"
        created_after:
          anyOf:
          - type: integer
            minimum: 0
            description: Only include items created after this timestamp (inclusive). This is a query parameter used to select responses.
          - type: "null"
        created_before:
          anyOf:
          - type: integer
            minimum: 0
            description: Only include items created before this timestamp (inclusive). This is a query parameter used to select responses.
          - type: "null"
        reasoning_effort:
          anyOf:
          - $ref: "#/components/schemas/ReasoningEffort"
            description: Optional reasoning effort parameter. This is a query parameter used to select responses.
          - type: "null"
        temperature:
          anyOf:
          - type: number
            description: Sampling temperature. This is a query parameter used to select responses.
          - type: "null"
        top_p:
          anyOf:
          - type: number
            description: Nucleus sampling parameter. This is a query parameter used to select responses.
          - type: "null"
        users:
          anyOf:
          - type: array
            items:
              type: string
            description: List of user identifiers. This is a query parameter used to select responses.
          - type: "null"
        tools:
          anyOf:
          - type: array
            items:
              type: string
            description: List of tool names. This is a query parameter used to select responses.
          - type: "null"
      required:
      - type
    EvalRun:
      type: object
      title: EvalRun
      description: |-
        A schema representing an evaluation run.
      properties:
        object:
          type: string
          enum:
          - eval.run
          default: eval.run
          description: The type of the object. Always "eval.run".
          x-stainless-const: true
        id:
          type: string
          description: Unique identifier for the evaluation run.
        eval_id:
          type: string
          description: The identifier of the associated evaluation.
        status:
          type: string
          description: The status of the evaluation run.
        model:
          type: string
          description: The model that is evaluated, if applicable.
        name:
          type: string
          description: The name of the evaluation run.
        created_at:
          type: integer
          format: unixtime
          description: Unix timestamp (in seconds) when the evaluation run was created.
        report_url:
          type: string
          format: uri
          description: The URL to the rendered evaluation run report on the UI dashboard.
        result_counts:
          type: object
          description: Counters summarizing the outcomes of the evaluation run.
          properties:
            total:
              type: integer
              description: Total number of executed output items.
            errored:
              type: integer
              description: Number of output items that resulted in an error.
            failed:
              type: integer
              description: Number of output items that failed to pass the evaluation.
            passed:
              type: integer
              description: Number of output items that passed the evaluation.
          required:
          - total
          - errored
          - failed
          - passed
        per_model_usage:
          type: array
          description: Usage statistics for each model during the evaluation run.
          items:
            type: object
            properties:
              model_name:
                type: string
                description: The name of the model.
              invocation_count:
                type: integer
                description: The number of invocations.
              prompt_tokens:
                type: integer
                description: The number of prompt tokens used.
              completion_tokens:
                type: integer
                description: The number of completion tokens generated.
              total_tokens:
                type: integer
                description: The total number of tokens used.
              cached_tokens:
                type: integer
                description: The number of tokens retrieved from cache.
            required:
            - model_name
            - invocation_count
            - prompt_tokens
            - completion_tokens
            - total_tokens
            - cached_tokens
        per_testing_criteria_results:
          type: array
          description: Results per testing criteria applied during the evaluation run.
          items:
            type: object
            properties:
              testing_criteria:
                type: string
                description: A description of the testing criteria.
              passed:
                type: integer
                description: Number of tests passed for this criteria.
              failed:
                type: integer
                description: Number of tests failed for this criteria.
            required:
            - testing_criteria
            - passed
            - failed
        data_source:
          type: object
          description: Information about the run's data source.
          oneOf:
          - $ref: "#/components/schemas/CreateEvalJsonlRunDataSource"
          - $ref: "#/components/schemas/CreateEvalCompletionsRunDataSource"
          - $ref: "#/components/schemas/CreateEvalResponsesRunDataSource"
        metadata:
          $ref: "#/components/schemas/Metadata"
        error:
          $ref: "#/components/schemas/EvalApiError"
      required:
      - object
      - id
      - eval_id
      - status
      - model
      - name
      - created_at
      - report_url
      - result_counts
      - per_model_usage
      - per_testing_criteria_results
      - data_source
      - metadata
      - error
    EvalRunList:
      type: object
      title: EvalRunList
      description: |-
        An object representing a list of runs for an evaluation.
      properties:
        object:
          type: string
          enum:
          - list
          default: list
          description: |-
            The type of this object. It is always set to "list".
          x-stainless-const: true
        data:
          type: array
          description: |-
            An array of eval run objects.
          items:
            $ref: "#/components/schemas/EvalRun"
        first_id:
          type: string
          description: The identifier of the first eval run in the data array.
        last_id:
          type: string
          description: The identifier of the last eval run in the data array.
        has_more:
          type: boolean
          description: Indicates whether there are more evals available.
      required:
      - object
      - data
      - first_id
      - last_id
      - has_more
    EvalRunOutputItem:
      type: object
      title: EvalRunOutputItem
      description: |-
        A schema representing an evaluation run output item.
      properties:
        object:
          type: string
          enum:
          - eval.run.output_item
          default: eval.run.output_item
          description: The type of the object. Always "eval.run.output_item".
          x-stainless-const: true
        id:
          type: string
          description: Unique identifier for the evaluation run output item.
        run_id:
          type: string
          description: The identifier of the evaluation run associated with this output item.
        eval_id:
          type: string
          description: The identifier of the evaluation group.
        created_at:
          type: integer
          format: unixtime
          description: Unix timestamp (in seconds) when the evaluation run was created.
        status:
          type: string
          description: The status of the evaluation run.
        datasource_item_id:
          type: integer
          description: The identifier for the data source item.
        datasource_item:
          type: object
          description: Details of the input data source item.
          additionalProperties: true
        results:
          type: array
          description: A list of grader results for this output item.
          items:
            $ref: "#/components/schemas/EvalRunOutputItemResult"
        sample:
          type: object
          description: A sample containing the input and output of the evaluation run.
          properties:
            input:
              type: array
              description: An array of input messages.
              items:
                type: object
                description: An input message.
                properties:
                  role:
                    type: string
                    description: The role of the message sender (e.g., system, user, developer).
                  content:
                    type: string
                    description: The content of the message.
                required:
                - role
                - content
            output:
              type: array
              description: An array of output messages.
              items:
                type: object
                properties:
                  role:
                    type: string
                    description: The role of the message (e.g. "system", "assistant", "user").
                  content:
                    type: string
                    description: The content of the message.
            finish_reason:
              type: string
              description: The reason why the sample generation was finished.
            model:
              type: string
              description: The model used for generating the sample.
            usage:
              type: object
              description: Token usage details for the sample.
              properties:
                total_tokens:
                  type: integer
                  description: The total number of tokens used.
                completion_tokens:
                  type: integer
                  description: The number of completion tokens generated.
                prompt_tokens:
                  type: integer
                  description: The number of prompt tokens used.
                cached_tokens:
                  type: integer
                  description: The number of tokens retrieved from cache.
              required:
              - total_tokens
              - completion_tokens
              - prompt_tokens
              - cached_tokens
            error:
              $ref: "#/components/schemas/EvalApiError"
            temperature:
              type: number
              description: The sampling temperature used.
            max_completion_tokens:
              type: integer
              description: The maximum number of tokens allowed for completion.
            top_p:
              type: number
              description: The top_p value used for sampling.
            seed:
              type: integer
              description: The seed used for generating the sample.
          required:
          - input
          - output
          - finish_reason
          - model
          - usage
          - error
          - temperature
          - max_completion_tokens
          - top_p
          - seed
      required:
      - object
      - id
      - run_id
      - eval_id
      - created_at
      - status
      - datasource_item_id
      - datasource_item
      - results
      - sample
    EvalRunOutputItemList:
      type: object
      title: EvalRunOutputItemList
      description: |-
        An object representing a list of output items for an evaluation run.
      properties:
        object:
          type: string
          enum:
          - list
          default: list
          description: |-
            The type of this object. It is always set to "list".
          x-stainless-const: true
        data:
          type: array
          description: |-
            An array of eval run output item objects.
          items:
            $ref: "#/components/schemas/EvalRunOutputItem"
        first_id:
          type: string
          description: The identifier of the first eval run output item in the data array.
        last_id:
          type: string
          description: The identifier of the last eval run output item in the data array.
        has_more:
          type: boolean
          description: Indicates whether there are more eval run output items available.
      required:
      - object
      - data
      - first_id
      - last_id
      - has_more
    EvalRunOutputItemResult:
      type: object
      title: EvalRunOutputItemResult
      description: |-
        A single grader result for an evaluation run output item.
      properties:
        name:
          type: string
          description: The name of the grader.
        type:
          type: string
          description: The grader type (for example, "string-check-grader").
        score:
          type: number
          description: The numeric score produced by the grader.
        passed:
          type: boolean
          description: Whether the grader considered the output a pass.
        sample:
          anyOf:
          - type: object
            additionalProperties: true
          - type: "null"
          description: Optional sample or intermediate data produced by the grader.
      additionalProperties: true
      required:
      - name
      - score
      - passed
    EvalStoredCompletionsDataSourceConfig:
      type: object
      title: StoredCompletionsDataSourceConfig
      description: |-
        Deprecated in favor of LogsDataSourceConfig.
      properties:
        type:
          type: string
          enum:
          - stored_completions
          default: stored_completions
          description: The type of data source. Always `stored_completions`.
          x-stainless-const: true
        metadata:
          $ref: "#/components/schemas/Metadata"
        schema:
          type: object
          description: |-
            The json schema for the run data source items. Learn how to build JSON schemas [here](https://json-schema.org/).
          additionalProperties: true
      required:
      - type
      - schema
      deprecated: true
    EvalStoredCompletionsSource:
      type: object
      title: StoredCompletionsRunDataSource
      description: >-
        A StoredCompletionsRunDataSource configuration describing a set of filters
      properties:
        type:
          type: string
          enum:
          - stored_completions
          default: stored_completions
          description: The type of source. Always `stored_completions`.
          x-stainless-const: true
        metadata:
          $ref: "#/components/schemas/Metadata"
        model:
          anyOf:
          - type: string
            description: An optional model to filter by (e.g., 'gpt-4o').
          - type: "null"
        created_after:
          anyOf:
          - type: integer
            description: An optional Unix timestamp to filter items created after this time.
          - type: "null"
        created_before:
          anyOf:
          - type: integer
            description: An optional Unix timestamp to filter items created before this time.
          - type: "null"
        limit:
          anyOf:
          - type: integer
            description: An optional maximum number of items to return.
          - type: "null"
      required:
      - type
    FileInputDetail:
      type: string
      enum:
      - auto
      - low
      - high
    FileSearchTool:
      properties:
        type:
          type: string
          enum:
          - file_search
          description: The type of the file search tool. Always `file_search`.
          default: file_search
          x-stainless-const: true
        vector_store_ids:
          items:
            type: string
          type: array
          description: The IDs of the vector stores to search.
        max_num_results:
          type: integer
          description: The maximum number of results to return. This number should be between 1 and 50 inclusive.
        ranking_options:
          $ref: "#/components/schemas/RankingOptions"
          description: Ranking options for search.
        filters:
          anyOf:
          - $ref: "#/components/schemas/Filters"
            description: A filter to apply.
          - type: "null"
      type: object
      required:
      - type
      - vector_store_ids
      title: File search
      description: A tool that searches for relevant content from uploaded files. Learn more about the [file search tool](https://platform.openai.com/docs/guides/tools-file-search).
    Filters:
      anyOf:
      - $ref: "#/components/schemas/ComparisonFilter"
      - $ref: "#/components/schemas/CompoundFilter"
    FunctionObject:
      type: object
      properties:
        description:
          type: string
          description: A description of what the function does, used by the model to choose when and how to call the function.
        name:
          type: string
          description: The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.
        parameters:
          $ref: "#/components/schemas/FunctionParameters"
        strict:
          anyOf:
          - type: boolean
            default: false
            description: Whether to enable strict schema adherence when generating the function call. If set to true, the model will follow the exact schema defined in the `parameters` field. Only a subset of JSON Schema is supported when `strict` is `true`. Learn more about Structured Outputs in the [function calling guide](/docs/guides/function-calling).
          - type: "null"
      required:
      - name
    FunctionParameters:
      type: object
      description: >-
        The parameters the functions accepts, described as a JSON Schema object. See the [guide](/docs/guides/function-calling) for examples, and the [JSON Schema reference](https://json-schema.org/understanding-json-schema/) for documentation about the format. 

        Omitting `parameters` defines a function with an empty parameter list.
      additionalProperties: true
    FunctionShellToolParam:
      properties:
        type:
          type: string
          enum:
          - shell
          description: The type of the shell tool. Always `shell`.
          default: shell
          x-stainless-const: true
        environment:
          anyOf:
          - oneOf:
            - $ref: "#/components/schemas/ContainerAutoParam"
            - $ref: "#/components/schemas/LocalEnvironmentParam"
            - $ref: "#/components/schemas/ContainerReferenceParam"
            discriminator:
              propertyName: type
          - type: "null"
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      title: Shell tool
      description: A tool that allows the model to execute shell commands.
    FunctionTool:
      properties:
        type:
          type: string
          enum:
          - function
          description: The type of the function tool. Always `function`.
          default: function
          x-stainless-const: true
        name:
          type: string
          description: The name of the function to call.
        description:
          anyOf:
          - type: string
            description: A description of the function. Used by the model to determine whether or not to call the function.
          - type: "null"
        parameters:
          anyOf:
          - additionalProperties: {}
            type: object
            description: A JSON schema object describing the parameters of the function.
          - type: "null"
        output_schema:
          anyOf:
          - additionalProperties: {}
            type: object
            description: A JSON schema object describing the JSON value encoded in string outputs for this function.
          - type: "null"
        strict:
          anyOf:
          - type: boolean
            description: Whether strict parameter validation is enforced for this function tool.
          - type: "null"
        defer_loading:
          type: boolean
          description: Whether this function is deferred and loaded via tool search.
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - type
      - name
      - strict
      - parameters
      title: Function
      description: Defines a function in your own code the model can choose to call. Learn more about [function calling](https://platform.openai.com/docs/guides/function-calling).
    FunctionToolParam:
      properties:
        name:
          type: string
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
        description:
          anyOf:
          - type: string
          - type: "null"
        parameters:
          anyOf:
          - $ref: "#/components/schemas/EmptyModelParam"
          - type: "null"
        strict:
          anyOf:
          - type: boolean
            description: Whether to enforce strict parameter validation. If omitted, Responses attempts to use strict validation when the schema is compatible, and falls back to non-strict validation otherwise.
          - type: "null"
        type:
          type: string
          enum:
          - function
          default: function
          x-stainless-const: true
        output_schema:
          anyOf:
          - additionalProperties: {}
            type: object
            description: A JSON Schema describing the JSON value encoded in string outputs for this function tool. This does not describe content-array outputs.
          - type: "null"
        defer_loading:
          type: boolean
          description: Whether this function should be deferred and discovered via tool search.
        allowed_callers:
          anyOf:
          - items:
              $ref: "#/components/schemas/CallableToolAllowedCaller"
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: "null"
      type: object
      required:
      - name
      - type
    GraderLabelModel:
      type: object
      title: LabelModelGrader
      description: >-
        A LabelModelGrader object which uses a model to assign labels to each item in the evaluation.
      properties:
        type:
          description: The object type, which is always `label_model`.
          type: string
          enum:
          - label_model
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        model:
          type: string
          description: The model to use for the evaluation. Must support structured outputs.
        input:
          type: array
          items:
            $ref: "#/components/schemas/EvalItem"
        labels:
          type: array
          items:
            type: string
          description: The labels to assign to each item in the evaluation.
        passing_labels:
          type: array
          items:
            type: string
          description: The labels that indicate a passing result. Must be a subset of labels.
      required:
      - type
      - model
      - input
      - passing_labels
      - labels
      - name
    GraderPython:
      type: object
      title: PythonGrader
      description: |-
        A PythonGrader object that runs a python script on the input.
      properties:
        type:
          type: string
          enum:
          - python
          description: The object type, which is always `python`.
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        source:
          type: string
          description: The source code of the python script.
        image_tag:
          type: string
          description: The image tag to use for the python script.
      required:
      - type
      - name
      - source
    GraderScoreModel:
      type: object
      title: ScoreModelGrader
      description: >-
        A ScoreModelGrader object that uses a model to assign a score to the input.
      properties:
        type:
          type: string
          enum:
          - score_model
          description: The object type, which is always `score_model`.
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        model:
          type: string
          description: The model to use for the evaluation.
        sampling_params:
          type: object
          description: The sampling parameters for the model.
          properties:
            seed:
              anyOf:
              - type: integer
                description: |-
                  A seed value to initialize the randomness, during sampling.
              - type: "null"
            top_p:
              anyOf:
              - type: number
                default: 1
                example: 1
                description: >-
                  An alternative to temperature for nucleus sampling; 1.0 includes all tokens.
              - type: "null"
            temperature:
              anyOf:
              - type: number
                description: |-
                  A higher temperature increases randomness in the outputs.
              - type: "null"
            max_completions_tokens:
              anyOf:
              - type: integer
                minimum: 1
                description: >-
                  The maximum number of tokens the grader model may generate in its response.
              - type: "null"
            reasoning_effort:
              $ref: "#/components/schemas/ReasoningEffort"
        input:
          type: array
          items:
            $ref: "#/components/schemas/EvalItem"
          description: >-
            The input messages evaluated by the grader. Supports text, output text, input image, and input audio content blocks, and may include template strings.
        range:
          type: array
          items:
            type: number
            min_items: 2
            max_items: 2
          description: The range of the score. Defaults to `[0, 1]`.
      required:
      - type
      - name
      - input
      - model
    GraderStringCheck:
      type: object
      title: StringCheckGrader
      description: >-
        A StringCheckGrader object that performs a string comparison between input and reference using a specified operation.
      properties:
        type:
          type: string
          enum:
          - string_check
          description: The object type, which is always `string_check`.
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        input:
          type: string
          description: The input text. This may include template strings.
        reference:
          type: string
          description: The reference text. This may include template strings.
        operation:
          type: string
          enum:
          - eq
          - ne
          - like
          - ilike
          description: The string check operation to perform. One of `eq`, `ne`, `like`, or `ilike`.
      required:
      - type
      - name
      - input
      - reference
      - operation
    GraderTextSimilarity:
      type: object
      title: TextSimilarityGrader
      description: >-
        A TextSimilarityGrader object which grades text based on similarity metrics.
      properties:
        type:
          type: string
          enum:
          - text_similarity
          default: text_similarity
          description: The type of grader.
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        input:
          type: string
          description: The text being graded.
        reference:
          type: string
          description: The text being graded against.
        evaluation_metric:
          type: string
          enum:
          - cosine
          - fuzzy_match
          - bleu
          - gleu
          - meteor
          - rouge_1
          - rouge_2
          - rouge_3
          - rouge_4
          - rouge_5
          - rouge_l
          description: >-
            The evaluation metric to use. One of `cosine`, `fuzzy_match`, `bleu`,  `gleu`, `meteor`, `rouge_1`, `rouge_2`, `rouge_3`, `rouge_4`, `rouge_5`,  or `rouge_l`.
      required:
      - type
      - name
      - input
      - reference
      - evaluation_metric
    GrammarSyntax1:
      type: string
      enum:
      - lark
      - regex
    HybridSearchOptions:
      properties:
        embedding_weight:
          type: number
          description: The weight of the embedding in the reciprocal ranking fusion.
        text_weight:
          type: number
          description: The weight of the text in the reciprocal ranking fusion.
      type: object
      required:
      - embedding_weight
      - text_weight
    ImageDetail:
      type: string
      enum:
      - low
      - high
      - auto
      - original
    ImageGenActionEnum:
      type: string
      enum:
      - generate
      - edit
      - auto
    ImageGenTool:
      type: object
      title: Image generation tool
      description: |-
        A tool that generates images using the GPT image models.
      properties:
        type:
          type: string
          enum:
          - image_generation
          description: |-
            The type of the image generation tool. Always `image_generation`.
          x-stainless-const: true
        model:
          anyOf:
          - type: string
          - type: string
            enum:
            - gpt-image-1
            - gpt-image-1-mini
            - gpt-image-1.5
            description: |-
              The image generation model to use. Default: `gpt-image-1`.
            default: gpt-image-1
        quality:
          type: string
          enum:
          - low
          - medium
          - high
          - auto
          description: |-
            The quality of the generated image. One of `low`, `medium`, `high`, or `auto`. Default: `auto`.
          default: auto
        size:
          anyOf:
          - type: string
          - type: string
            enum:
            - 1024x1024
            - 1024x1536
            - 1536x1024
            - auto
          description: The size of the generated images. For `gpt-image-2` and `gpt-image-2-2026-04-21`, arbitrary resolutions are supported as `WIDTHxHEIGHT` strings, for example `1536x864`. Width and height must both be divisible by 16 and the requested aspect ratio must be between 1:3 and 3:1. Resolutions above `2560x1440` are experimental, and the maximum supported resolution is `3840x2160`. The requested size must also satisfy the model's current pixel and edge limits. The standard sizes `1024x1024`, `1536x1024`, and `1024x1536` are supported by the GPT image models; `auto` is supported for models that allow automatic sizing. For `dall-e-2`, use one of `256x256`, `512x512`, or `1024x1024`. For `dall-e-3`, use one of `1024x1024`, `1792x1024`, or `1024x1792`.
          default: auto
        output_format:
          type: string
          enum:
          - png
          - webp
          - jpeg
          description: |-
            The output format of the generated image. One of `png`, `webp`, or `jpeg`. Default: `png`.
          default: png
        output_compression:
          type: integer
          minimum: 0
          maximum: 100
          description: |-
            Compression level for the output image. Default: 100.
          default: 100
        moderation:
          type: string
          enum:
          - auto
          - low
          description: |-
            Moderation level for the generated image. Default: `auto`.
          default: auto
        background:
          type: string
          enum:
          - transparent
          - opaque
          - auto
          description: |-
            Background type for the generated image. One of `transparent`, `opaque`, or `auto`. Default: `auto`.
          default: auto
        input_fidelity:
          anyOf:
          - $ref: "#/components/schemas/InputFidelity"
          - type: "null"
        input_image_mask:
          type: object
          description: |-
            Optional mask for inpainting. Contains `image_url` (string, optional) and `file_id` (string, optional).
          properties:
            image_url:
              type: string
              description: |-
                Base64-encoded mask image.
            file_id:
              type: string
              description: |-
                File ID for the mask image.
          required: []
          additionalProperties: false
        partial_images:
          type: integer
          minimum: 0
          maximum: 3
          description: >-
            Number of partial images to generate in streaming mode, from 0 (default value) to 3.
          default: 0
        action:
          description: >-
            Whether to generate a new image or edit an existing image. Default: `auto`.
          $ref: "#/components/schemas/ImageGenActionEnum"
      required:
      - type
    InlineSkillParam:
      properties:
        type:
          type: string
          enum:
          - inline
          description: Defines an inline skill for this request.
          default: inline
          x-stainless-const: true
        name:
          type: string
          description: The name of the skill.
        description:
          type: string
          description: The description of the skill.
        source:
          $ref: "#/components/schemas/InlineSkillSourceParam"
          description: Inline skill payload
      type: object
      required:
      - type
      - name
      - description
      - source
    InlineSkillSourceParam:
      properties:
        type:
          type: string
          enum:
          - base64
          description: The type of the inline skill source. Must be `base64`.
          default: base64
          x-stainless-const: true
        media_type:
          type: string
          enum:
          - application/zip
          description: The media type of the inline skill payload. Must be `application/zip`.
          default: application/zip
          x-stainless-const: true
        data:
          type: string
          maxLength: 70254592
          minLength: 1
          description: Base64-encoded skill zip bundle.
      type: object
      required:
      - type
      - media_type
      - data
      description: Inline skill payload
    InputAudio:
      type: object
      title: Input audio
      description: |-
        An audio input to the model.
      properties:
        type:
          type: string
          description: |-
            The type of the input item. Always `input_audio`.
          enum:
          - input_audio
          x-stainless-const: true
        input_audio:
          type: object
          properties:
            data:
              type: string
              description: |-
                Base64-encoded audio data.
            format:
              type: string
              description: >-
                The format of the audio data. Currently supported formats are `mp3` and `wav`.
              enum:
              - mp3
              - wav
          required:
          - data
          - format
      required:
      - type
      - input_audio
    InputContent:
      oneOf:
      - $ref: "#/components/schemas/InputTextContent"
      - $ref: "#/components/schemas/InputImageContent"
      - $ref: "#/components/schemas/InputFileContent"
      discriminator:
        propertyName: type
    InputFidelity:
      type: string
      enum:
      - high
      - low
      description: Control how much effort the model will exert to match the style and features, especially facial features, of input images. This parameter is only supported for `gpt-image-1` and `gpt-image-1.5` and later models, unsupported for `gpt-image-1-mini`. Supports `high` and `low`. Defaults to `low`.
    InputFileContent:
      properties:
        type:
          type: string
          enum:
          - input_file
          description: The type of the input item. Always `input_file`.
          default: input_file
          x-stainless-const: true
        file_id:
          anyOf:
          - type: string
            description: The ID of the file to be sent to the model.
          - type: "null"
        filename:
          type: string
          description: The name of the file to be sent to the model.
        file_data:
          type: string
          description: |-
            The content of the file to be sent to the model.
        prompt_cache_breakpoint:
          $ref: "#/components/schemas/PromptCacheBreakpointConfig"
        file_url:
          type: string
          format: uri
          description: The URL of the file to be sent to the model.
        detail:
          $ref: "#/components/schemas/FileInputDetail"
          description: The detail level of the file to be sent to the model. Use `auto` to let the system select the detail level; for GPT-5.6 and later models, `auto` uses high-quality rendering, which may increase input token usage. Use `low` for lower-cost rendering, or `high` to render the file at higher quality. Defaults to `auto`.
      type: object
      required:
      - type
      title: Input file
      description: A file input to the model.
    InputImageContent:
      properties:
        type:
          type: string
          enum:
          - input_image
          description: The type of the input item. Always `input_image`.
          default: input_image
          x-stainless-const: true
        image_url:
          anyOf:
          - type: string
            format: uri
            description: The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL.
          - type: "null"
        file_id:
          anyOf:
          - type: string
            description: The ID of the file to be sent to the model.
          - type: "null"
        detail:
          $ref: "#/components/schemas/ImageDetail"
          description: The detail level of the image to be sent to the model. One of `high`, `low`, `auto`, or `original`. Defaults to `auto`.
        prompt_cache_breakpoint:
          $ref: "#/components/schemas/PromptCacheBreakpointConfig"
      type: object
      required:
      - type
      - detail
      title: Input image
      description: An image input to the model. Learn about [image inputs](/docs/guides/vision).
    InputMessageContentList:
      type: array
      title: Input item content list
      description: >-
        A list of one or many input items to the model, containing different content  types.
      items:
        $ref: "#/components/schemas/InputContent"
    InputTextContent:
      properties:
        type:
          type: string
          enum:
          - input_text
          description: The type of the input item. Always `input_text`.
          default: input_text
          x-stainless-const: true
        text:
          type: string
          description: The text input to the model.
        prompt_cache_breakpoint:
          $ref: "#/components/schemas/PromptCacheBreakpointConfig"
      type: object
      required:
      - type
      - text
      title: Input text
      description: A text input to the model.
    LocalEnvironmentParam:
      properties:
        type:
          type: string
          enum:
          - local
          description: Use a local computer environment.
          default: local
          x-stainless-const: true
        skills:
          items:
            $ref: "#/components/schemas/LocalSkillParam"
          type: array
          maxItems: 200
          description: An optional list of skills.
      type: object
      required:
      - type
    LocalShellToolParam:
      properties:
        type:
          type: string
          enum:
          - local_shell
          description: The type of the local shell tool. Always `local_shell`.
          default: local_shell
          x-stainless-const: true
      type: object
      required:
      - type
[...]
