openapi: 3.1.0
info:
  title: OpenAI API — Graders
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Fine-tuning
  description: Manage fine-tuning jobs to tailor a model to your specific training data.
paths:
  /fine_tuning/alpha/graders/run:
    post:
      operationId: runGrader
      tags:
      - Fine-tuning
      summary: |-
        Run a grader.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunGraderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunGraderResponse"
  /fine_tuning/alpha/graders/validate:
    post:
      operationId: validateGrader
      tags:
      - Fine-tuning
      summary: |-
        Validate a grader.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateGraderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateGraderResponse"
components:
  schemas:
    EvalItem:
      type: object
      title: Eval message object
      description: >-
        A message input to the model with a role indicating instruction following hierarchy. Instructions given with the `developer` or `system` role take precedence over instructions given with the `user` role. Messages with the `assistant` role are presumed to have been generated by the model in previous interactions.
      properties:
        role:
          type: string
          description: >-
            The role of the message input. One of `user`, `assistant`, `system`, or `developer`.
          enum:
          - user
          - assistant
          - system
          - developer
        content:
          $ref: "#/components/schemas/EvalItemContent"
        type:
          type: string
          description: |-
            The type of the message input. Always `message`.
          enum:
          - message
          x-stainless-const: true
      required:
      - role
      - content
    EvalItemContent:
      title: Eval content
      description: >-
        Inputs to the model - can contain template strings. Supports text, output text, input images, and input audio, either as a single item or an array of items.
      oneOf:
      - $ref: "#/components/schemas/EvalItemContentItem"
      - $ref: "#/components/schemas/EvalItemContentArray"
    EvalItemContentArray:
      type: array
      title: An array of Input text, Output text, Input image, and Input audio
      description: >-
        A list of inputs, each of which may be either an input text, output text, input image, or input audio object.
      items:
        $ref: "#/components/schemas/EvalItemContentItem"
    EvalItemContentItem:
      title: Eval content item
      description: >-
        A single content item: input text, output text, input image, or input audio.
      oneOf:
      - $ref: "#/components/schemas/EvalItemContentText"
      - $ref: "#/components/schemas/InputTextContent"
      - $ref: "#/components/schemas/EvalItemContentOutputText"
      - $ref: "#/components/schemas/EvalItemInputImage"
      - $ref: "#/components/schemas/InputAudio"
    EvalItemContentOutputText:
      type: object
      title: Output text
      description: |-
        A text output from the model.
      properties:
        type:
          type: string
          description: |-
            The type of the output text. Always `output_text`.
          enum:
          - output_text
          x-stainless-const: true
        text:
          type: string
          description: |-
            The text output from the model.
      required:
      - type
      - text
    EvalItemContentText:
      type: string
      title: Text input
      description: |-
        A text input to the model.
    EvalItemInputImage:
      title: Input image
      description: An image input block used within EvalItem content arrays.
      type: object
      properties:
        type:
          type: string
          description: |-
            The type of the image input. Always `input_image`.
          enum:
          - input_image
          x-stainless-const: true
        image_url:
          type: string
          format: uri
          description: |-
            The URL of the image input.
        detail:
          type: string
          description: >-
            The detail level of the image to be sent to the model. One of `high`, `low`, or `auto`. Defaults to `auto`.
      required:
      - type
      - image_url
    GraderLabelModel:
      type: object
      title: LabelModelGrader
      description: >-
        A LabelModelGrader object which uses a model to assign labels to each item in the evaluation.
      properties:
        type:
          description: The object type, which is always `label_model`.
          type: string
          enum:
          - label_model
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        model:
          type: string
          description: The model to use for the evaluation. Must support structured outputs.
        input:
          type: array
          items:
            $ref: "#/components/schemas/EvalItem"
        labels:
          type: array
          items:
            type: string
          description: The labels to assign to each item in the evaluation.
        passing_labels:
          type: array
          items:
            type: string
          description: The labels that indicate a passing result. Must be a subset of labels.
      required:
      - type
      - model
      - input
      - passing_labels
      - labels
      - name
    GraderMulti:
      type: object
      title: MultiGrader
      description: A MultiGrader object combines the output of multiple graders to produce a single score.
      properties:
        type:
          type: string
          enum:
          - multi
          default: multi
          description: The object type, which is always `multi`.
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        graders:
          oneOf:
          - $ref: "#/components/schemas/GraderStringCheck"
          - $ref: "#/components/schemas/GraderTextSimilarity"
          - $ref: "#/components/schemas/GraderPython"
          - $ref: "#/components/schemas/GraderScoreModel"
          - $ref: "#/components/schemas/GraderLabelModel"
        calculate_output:
          type: string
          description: A formula to calculate the output based on grader results.
      required:
      - name
      - type
      - graders
      - calculate_output
    GraderPython:
      type: object
      title: PythonGrader
      description: |-
        A PythonGrader object that runs a python script on the input.
      properties:
        type:
          type: string
          enum:
          - python
          description: The object type, which is always `python`.
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        source:
          type: string
          description: The source code of the python script.
        image_tag:
          type: string
          description: The image tag to use for the python script.
      required:
      - type
      - name
      - source
    GraderScoreModel:
      type: object
      title: ScoreModelGrader
      description: >-
        A ScoreModelGrader object that uses a model to assign a score to the input.
      properties:
        type:
          type: string
          enum:
          - score_model
          description: The object type, which is always `score_model`.
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        model:
          type: string
          description: The model to use for the evaluation.
        sampling_params:
          type: object
          description: The sampling parameters for the model.
          properties:
            seed:
              anyOf:
              - type: integer
                description: |-
                  A seed value to initialize the randomness, during sampling.
              - type: "null"
            top_p:
              anyOf:
              - type: number
                default: 1
                example: 1
                description: >-
                  An alternative to temperature for nucleus sampling; 1.0 includes all tokens.
              - type: "null"
            temperature:
              anyOf:
              - type: number
                description: |-
                  A higher temperature increases randomness in the outputs.
              - type: "null"
            max_completions_tokens:
              anyOf:
              - type: integer
                minimum: 1
                description: >-
                  The maximum number of tokens the grader model may generate in its response.
              - type: "null"
            reasoning_effort:
              $ref: "#/components/schemas/ReasoningEffort"
        input:
          type: array
          items:
            $ref: "#/components/schemas/EvalItem"
          description: >-
            The input messages evaluated by the grader. Supports text, output text, input image, and input audio content blocks, and may include template strings.
        range:
          type: array
          items:
            type: number
            min_items: 2
            max_items: 2
          description: The range of the score. Defaults to `[0, 1]`.
      required:
      - type
      - name
      - input
      - model
    GraderStringCheck:
      type: object
      title: StringCheckGrader
      description: >-
        A StringCheckGrader object that performs a string comparison between input and reference using a specified operation.
      properties:
        type:
          type: string
          enum:
          - string_check
          description: The object type, which is always `string_check`.
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        input:
          type: string
          description: The input text. This may include template strings.
        reference:
          type: string
          description: The reference text. This may include template strings.
        operation:
          type: string
          enum:
          - eq
          - ne
          - like
          - ilike
          description: The string check operation to perform. One of `eq`, `ne`, `like`, or `ilike`.
      required:
      - type
      - name
      - input
      - reference
      - operation
    GraderTextSimilarity:
      type: object
      title: TextSimilarityGrader
      description: >-
        A TextSimilarityGrader object which grades text based on similarity metrics.
      properties:
        type:
          type: string
          enum:
          - text_similarity
          default: text_similarity
          description: The type of grader.
          x-stainless-const: true
        name:
          type: string
          description: The name of the grader.
        input:
          type: string
          description: The text being graded.
        reference:
          type: string
          description: The text being graded against.
        evaluation_metric:
          type: string
          enum:
          - cosine
          - fuzzy_match
          - bleu
          - gleu
          - meteor
          - rouge_1
          - rouge_2
          - rouge_3
          - rouge_4
          - rouge_5
          - rouge_l
          description: >-
            The evaluation metric to use. One of `cosine`, `fuzzy_match`, `bleu`,  `gleu`, `meteor`, `rouge_1`, `rouge_2`, `rouge_3`, `rouge_4`, `rouge_5`,  or `rouge_l`.
      required:
      - type
      - name
      - input
      - reference
      - evaluation_metric
    InputAudio:
      type: object
      title: Input audio
      description: |-
        An audio input to the model.
      properties:
        type:
          type: string
          description: |-
            The type of the input item. Always `input_audio`.
          enum:
          - input_audio
          x-stainless-const: true
        input_audio:
          type: object
          properties:
            data:
              type: string
              description: |-
                Base64-encoded audio data.
            format:
              type: string
              description: >-
                The format of the audio data. Currently supported formats are `mp3` and `wav`.
              enum:
              - mp3
              - wav
          required:
          - data
          - format
      required:
      - type
      - input_audio
    InputTextContent:
      properties:
        type:
          type: string
          enum:
          - input_text
          description: The type of the input item. Always `input_text`.
          default: input_text
          x-stainless-const: true
        text:
          type: string
          description: The text input to the model.
        prompt_cache_breakpoint:
          $ref: "#/components/schemas/PromptCacheBreakpointConfig"
      type: object
      required:
      - type
      - text
      title: Input text
      description: A text input to the model.
    PromptCacheBreakpointConfig:
      properties:
        mode:
          type: string
          enum:
          - explicit
          description: The breakpoint mode. Always `explicit`.
          default: explicit
          x-stainless-const: true
      type: object
      required:
      - mode
      title: Prompt cache breakpoint
      description: Marks the exact end of a reusable prompt prefix. The breakpoint inherits its TTL from the request's `prompt_cache_options.ttl`; the boundary is not rounded to a token block.
    ReasoningEffort:
      anyOf:
      - type: string
        enum:
        - none
        - minimal
        - low
        - medium
        - high
        - xhigh
        - max
        default: medium
        description: >-
          Constrains effort on reasoning for reasoning models. Currently supported values are `none`, `minimal`, `low`, `medium`, `high`, `xhigh`, and `max`. Reducing reasoning effort can result in faster responses and fewer tokens used on reasoning in a response. Not all reasoning models support every value. See the [reasoning guide](https://platform.openai.com/docs/guides/reasoning) for model-specific support.
      - type: "null"
    RunGraderRequest:
      type: object
      title: RunGraderRequest
      properties:
        grader:
          type: object
          description: The grader used for the fine-tuning job.
          oneOf:
          - $ref: "#/components/schemas/GraderStringCheck"
          - $ref: "#/components/schemas/GraderTextSimilarity"
          - $ref: "#/components/schemas/GraderPython"
          - $ref: "#/components/schemas/GraderScoreModel"
          - $ref: "#/components/schemas/GraderMulti"
        item:
          type: object
          description: >-
            The dataset item provided to the grader. This will be used to populate  the `item` namespace. See [the guide](/docs/guides/graders) for more details.
        model_sample:
          type: string
          description: >-
            The model sample to be evaluated. This value will be used to populate  the `sample` namespace. See [the guide](/docs/guides/graders) for more details. The `output_json` variable will be populated if the model sample is a  valid JSON string.
      required:
      - grader
      - model_sample
    RunGraderResponse:
      type: object
      properties:
        reward:
          type: number
        metadata:
          type: object
          properties:
            name:
              type: string
            type:
              type: string
            errors:
              type: object
              properties:
                formula_parse_error:
                  type: boolean
                sample_parse_error:
                  type: boolean
                truncated_observation_error:
                  type: boolean
                unresponsive_reward_error:
                  type: boolean
                invalid_variable_error:
                  type: boolean
                other_error:
                  type: boolean
                python_grader_server_error:
                  type: boolean
                python_grader_server_error_type:
                  anyOf:
                  - type: string
                  - type: "null"
                python_grader_runtime_error:
                  type: boolean
                python_grader_runtime_error_details:
                  anyOf:
                  - type: string
                  - type: "null"
                model_grader_server_error:
                  type: boolean
                model_grader_refusal_error:
                  type: boolean
                model_grader_parse_error:
                  type: boolean
                model_grader_server_error_details:
                  anyOf:
                  - type: string
                  - type: "null"
              required:
              - formula_parse_error
              - sample_parse_error
              - truncated_observation_error
              - unresponsive_reward_error
              - invalid_variable_error
              - other_error
              - python_grader_server_error
              - python_grader_server_error_type
              - python_grader_runtime_error
              - python_grader_runtime_error_details
              - model_grader_server_error
              - model_grader_refusal_error
              - model_grader_parse_error
              - model_grader_server_error_details
            execution_time:
              type: number
            scores:
              type: object
              additionalProperties: {}
            token_usage:
              anyOf:
              - type: integer
              - type: "null"
            sampled_model_name:
              anyOf:
              - type: string
              - type: "null"
          required:
          - name
          - type
          - errors
          - execution_time
          - scores
          - token_usage
          - sampled_model_name
        sub_rewards:
          type: object
          additionalProperties: {}
        model_grader_token_usage_per_model:
          type: object
          additionalProperties: {}
      required:
      - reward
      - metadata
      - sub_rewards
      - model_grader_token_usage_per_model
    ValidateGraderRequest:
      type: object
      title: ValidateGraderRequest
      properties:
        grader:
          type: object
          description: The grader used for the fine-tuning job.
          oneOf:
          - $ref: "#/components/schemas/GraderStringCheck"
          - $ref: "#/components/schemas/GraderTextSimilarity"
          - $ref: "#/components/schemas/GraderPython"
          - $ref: "#/components/schemas/GraderScoreModel"
          - $ref: "#/components/schemas/GraderMulti"
      required:
      - grader
    ValidateGraderResponse:
      type: object
      title: ValidateGraderResponse
      properties:
        grader:
          type: object
          description: The grader used for the fine-tuning job.
          oneOf:
          - $ref: "#/components/schemas/GraderStringCheck"
          - $ref: "#/components/schemas/GraderTextSimilarity"
          - $ref: "#/components/schemas/GraderPython"
          - $ref: "#/components/schemas/GraderScoreModel"
          - $ref: "#/components/schemas/GraderMulti"
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
    AdminApiKeyAuth:
      type: http
      scheme: bearer
...
