<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="azure-sdk-dev-feed">
      <package pattern="Microsoft.TypeSpec.Generator.ClientModel" />
      <package pattern="Microsoft.TypeSpec.Generator" />
      <package pattern="Microsoft.TypeSpec.Generator.Input" />
    </packageSource>
  </packageSourceMapping>
</configuration>