# This workflow is triggered by the user and runs live tests on the codebase.
name: Live Test

on:
  workflow_dispatch:
    inputs:
      # The user can specify the committish to checkout and test using the ref input.
      # This is required because github UI only allows queuing runs for a branch or tag, not a specific commit or PR ref. 
      ref:
        description: 'Committish to checkout and test'

jobs:
  test:
    name: Live Test
    runs-on: ubuntu-latest
    environment: Live Testing
    env:
      version_suffix_args: ${{ format('--version-suffix="alpha.{0}"', github.run_number) }}
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.x

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.ref || github.sha }}

      - name: Run Live Tests
        run: dotnet test
          --configuration Release
          --filter="TestCategory!=Smoke&TestCategory!=Images&TestCategory!=Moderations&TestCategory!=Manual"
          --logger "trx;LogFilePrefix=live"
          --results-directory ${{github.workspace}}/artifacts/test-results
          ${{ env.version_suffix_args }}
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        if: ${{ !cancelled() }}
        with:
          name: test-artifacts
          path: ${{github.workspace}}/artifacts
